@media (min-width: 321px) and (max-width: 575.98px) {
  .flex-column-start-base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #btnUp {
    width: 40px;
    height: 40px;
  }
  .header .modal-body {
    height: 121px;
  }
  .modal-body {
    padding: 0;
    width: 100%;
    background: #FDFDFD;
    border-radius: 3px;
  }
  .modal-content {
    position: relative;
  }
  .modal-header {
    position: relative;
  }
  button.close {
    border-radius: 50%;
    position: absolute;
    top: -52px;
    right: 0px;
    width: 40px;
    height: 40px;
    background: #3A6FDE;
    opacity: 1;
    outline: none;
  }
  .close {
    text-shadow: none;
    color: #FDFDFD;
  }
  #uptocall-mini .uptocall-mini-phone {
    width: 50px;
    height: 50px;
  }
  #uptocall-mini {
    bottom: 22px;
    right: 84%;
  }
  #uptocall-mini .uptocall-mini-phone:before {
    background-size: 50%;
  }
  .header {
    padding: 22px 0 0px 0;
  }
  .header__burger {
    margin: 10px 0 0 0;
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 301;
  }
  .header__burger span {
    background-color: #333333;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #333333;
    position: absolute;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
    width: 100%;
  }
  .header__burger:after {
    bottom: 0;
    width: 100%;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    width: 100%;
    background-color: #FDFDFD;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    width: 100%;
    background-color: #FDFDFD;
  }
  .header__menu {
    z-index: 300;
    position: fixed;
    top: -100%;
    left: 0;
    width: 76%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    padding: 70px 10px 20px 10px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__list li {
    margin: 0;
    padding: 30px 0 30px 0;
  }
  .nav_link:hover,
  .nav_link:active {
    color: #AA816D;
    text-decoration: underline;
  }
  .header__link {
    font-size: 45px;
    font-family: 'Cormorant', serif;
  }
  .section-price {
    padding: 35px 0 10px 0;
  }
  .whatsApp {
    width: 36px;
    height: 36px;
  }
  .btn-primary {
    display: block;
    background: transparent;
    border: none;
    width: 35px;
    height: 35px;
    outline: none;
  }
  .btn-primary svg {
    width: 100%;
    height: 100%;
  }
  .btn-primary:not(:disabled):not(.disabled).active:focus,
  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
  }
  .modal.show .modal-dialog {
    justify-content: center;
  }
  .btn-primary:focus {
    box-shadow: none;
    background: transparent;
  }
  .btn-primary:hover {
    background: none;
    border: none;
  }
  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show > .btn-primary.dropdown-toggle {
    background: none;
    border: none;
    box-shadow: none;
  }
  .decorative-square-1 {
    top: 649px;
    left: -94px;
    animation: none;
    width: 170px;
    height: 170px;
    transform: rotate(-34.46deg);
    border: 12px solid rgba(20, 26, 38, 0.04);
  }
  .container-header {
    padding: 0px 0px 19px 0px;
  }
  .top-header {
    margin: 0 0 10px 0;
    padding: 0 15px 0 15px;
    align-items: flex-start;
  }
  .burger {
    display: none;
  }
  .menu-toggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  .menu-toggle input {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    -webkit-touch-callout: none;
  }
  .menu-toggle span {
    display: block;
    width: 32px;
    height: 4px;
    z-index: 1;
    border-radius: 4px;
    position: relative;
    background: #141A26;
    margin-bottom: 7px;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .menu-toggle span:first-child {
    transform-origin: 0% 0%;
    transition: width, 0.5s;
  }
  .menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
    width: 22px;
    transition: width, 0.5s;
  }
  .menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #232323;
    width: 36px;
    transition: width, 0.5s;
  }
  .menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .menu-toggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, 0px);
    width: 36px;
  }
  .txt-logo-1 {
    font-size: 23px;
  }
  .txt-logo-2 {
    font-size: 18.6px;
  }
  .logo {
    display: none;
    top: 19px;
    left: 24%;
  }
  #logo-mobile {
    display: block;
  }
  .txt-logo-2 {
    font-size: 19.6px;
  }
  .nav_list.header__list {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(312.61deg, #366BDB 16.36%, #578CFB 91.28%);
    z-index: 110;
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .menu-toggle input:checked ~ ul {
    transform: scale(1, 1);
    opacity: 1;
  }
  .nav_item.nav_item_burger {
    margin: 0 0 32px 0;
  }
  .nav_link.header__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #FDFDFD;
  }
  .header-contacts {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .header-contacts-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav_link.nav_link-whatsApp {
    margin: 0 16px 0px 0;
  }
  .header-contacts .header-contacts-right {
    display: none;
  }
  .a-header-contacts {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #3A6FDE;
  }
  .a-header-contacts:nth-child(1) {
    border-bottom: 1px solid #366BDB;
  }
  .middle-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  .blue-square {
    width: 479.42px;
    height: 479.95px;
    left: 226px;
    top: -78px;
    border-radius: 61.7965px;
    transform: rotate(109.93deg);
  }
  .txt-header {
    padding: 0 0 0 15px;
    position: relative;
    width: 93%;
    height: 239px;
  }
  .h1-name {
    min-height: 100px;
    font-size: 26px;
    line-height: 130%;
    margin: 0 0 15px 0;
  }
  .p-txt-header {
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 30px 0;
  }
  .svg-swiperHeader-button-prev,
  .svg-swiperHeader-button-next {
    width: 13px;
  }
  .a-consultation {
    padding: 15px 24px;
    font-size: 12px;
    line-height: 15px;
  }
  .head-slider-control {
    padding: 0 0 0 0;
    position: absolute;
    top: 261px;
    left: -24px;
    z-index: 300;
    justify-content: center;
  }
  .swiperHeader-container .head-slider-control {
    padding: 0 0 0 20px;
  }
  .swiperHeader-button-prev,
  .swiperHeader-button-next {
    width: 40px;
    height: 40px;
  }
  .swiper-container-android .swiper-slide,
  .swiper-wrapper {
    order: -1;
  }
  .swiper-container.swiperHeader-container {
    width: 100%;
    min-height: 50vh;
    order: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .a-consultation-header {
    width: 156px;
    height: 45px;
    position: static;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
  }
  .swiperHeader-slide-img {
    order: -1;
    width: 500px;
    height: 310px;
  }
  .h2-heading-services {
    width: 204px;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 40px 0;
  }
  .service-wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .separate-service {
    width: 290px;
    height: 290px;
    padding: 0px 23px 0 20px;
  }
  .h3-service-name {
    min-height: 10px;
    font-size: 18px;
    line-height: 130%;
    width: 100%;
    margin: 0 0 20px 0;
  }
  .img-service {
    top: 25px;
    right: -1px;
  }
  .a-consultation.a-consultation-service {
    width: 113px;
    height: 49px;
    margin: 0;
    padding: 16px 24px;
    font-size: 14px;
    line-height: 17px;
    z-index: 100;
  }
  .s-s-2 {
    display: none;
  }
  .s-s-6 {
    display: none;
  }
  .s-s-8 {
    display: none;
  }
  .s-s-9 {
    display: none;
  }
  .section-cars {
    padding: 20px 0 5px 0;
  }
  .h2-heading-cars {
    font-size: 24px;
    line-height: 29px;
  }
  .swiper-container-cars {
    padding: 25px 0 40px 0;
  }
  .swiper-slide.swiper-slide-cars.card {
    height: 195.9px;
  }
  .section-advantages {
    padding: 40px 25px 40px 25px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .h2-section-advantages {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 40px 0;
  }
  .article-advantages {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 40px 0;
  }
  .h4-advantages {
    font-size: 14px;
    line-height: 130%;
  }
  .wrapper-section-price {
    width: 100%;
    padding: 15px;
  }
  .h2-section-price {
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 40px 0;
  }
  .p-section-price {
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 10px 0;
  }
  .span-section-price {
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 30px 0;
  }
  .wrapper-form-section-price {
    flex-direction: column;
  }
  .form-section-price {
    width: 100%;
  }
  .map {
    width: 100%;
  }
  .description {
    max-width: 96%;
    max-height: 37%;
    padding: 8px;
    right: 5px;
    top: 15px;
    font-size: 10px;
  }
  .input-city-search {
    height: 54px;
    font-size: 12px;
    padding: 19px 40px 17px 17px;
  }
  .input-city-search::-webkit-input-placeholder {
    font-size: 12px;
  }
  .city-search__magnifier {
    right: 12px;
    top: 13px;
  }
  .wrap-for-cities {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
  }
  .button-cities {
    width: 32%;
    font-size: 14px;
    margin: 2px;
    text-align: center;
  }
  .cities__6,
  .cities__7,
  .cities__8,
  .cities__9 {
    display: none;
  }
  .img-local-map {
    width: 100%;
    height: 308px;
  }
  .section-workProcess {
    padding: 40px 13px 40px 13px;
  }
  .h2-section-workProcess {
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 40px 0;
  }
  .wrapper-section-workProcess {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .dotted-line {
    transform: rotate(90deg);
    top: 189px;
    left: -147.7px;
    width: 322px;
    border: 1px dashed rgba(20, 26, 38, 0.3);
  }
  .article-workProcess {
    margin: 0 0 74px 0;
    width: 85%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .article-workProcess:nth-child(4) {
    margin: 0 0 10px 0;
  }
  .big-circle-workProcess {
    margin: 0 14px 0 0;
    width: 30px;
    height: 30px;
  }
  .small-circle-workProcess {
    width: 12px;
    height: 12px;
  }
  .p-workProcess {
    width: 231px;
    font-size: 14px;
    line-height: 130%;
    text-align: left;
  }
  .section-sendApplication {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 0 47px 0;
  }
  .section-sendApplication .h2-section-sendApplication {
    min-height: 90px;
    margin: 0 0 40px 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 150%;
  }
  .section-sendApplication .input-text-section-sendApplication {
    padding: 18px 16px 18px 16px;
    text-transform: capitalize;
    font-size: 14px;
  }
  .section-sendApplication .input-text-section-sendApplication::-webkit-input-placeholder {
    font-size: 14px;
  }
  .section-sendApplication .new-select {
    font-size: 14px;
    padding: 18px 16px 18px 16px;
  }
  .section-sendApplication .new-select__list {
    font-size: 14px;
    top: 50px;
  }
  .section-sendApplication .select {
    margin-bottom: 24px;
  }
  .section-sendApplication .button-sectionSendApplication {
    height: 47px;
    font-size: 12px;
    line-height: 15px;
  }
  .section-sendApplication .p-form-confidentiality {
    font-size: 12px;
    margin: 0;
  }
  .section-sendApplication .decorative-square-5 {
    position: absolute;
    width: 625px;
    height: 625px;
    left: -36%;
    top: -147%;
    border: 9.86287px solid rgba(253, 253, 253, 0.2);
    transform: rotate(45deg);
    z-index: 1;
  }
  .section-sendApplication .contact-form__input-wrapper_name,
  .section-sendApplication .contact-form__input-wrapper,
  .section-sendApplication .select,
  .section-sendApplication .p-form-confidentiality {
    z-index: 10;
  }
  .section-sendApplication .form-section-sendApplication .contact-form__message {
    font-size: 20px;
  }
  .section-sendApplication .form-section-sendApplication .header-contacts-modal {
    padding: 33px 23px 33px 23px;
  }
  .section-sendApplication .form-section-sendApplication .modal-content {
    width: 93%;
  }
  .section-sendApplication .form-section-sendApplication button.close {
    top: -48px;
    right: -11px;
  }
  .section-contacts {
    padding: 40px 0 40px 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .section-contacts .h2-section-contacts {
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 40px 0;
  }
  .section-contacts .article-sectionContacts {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 15px 0 15px;
    width: 100%;
    margin: 0 0 52px 0;
  }
  .section-contacts .span-wrapperPhones,
  .section-contacts .span-wrapperMail,
  .section-contacts .p-address,
  .section-contacts .phone-sectionContacts,
  .section-contacts .mail-sectionContacts,
  .section-contacts .span-servicesYandex {
    font-size: 14px;
  }
  .section-contacts .wrapper-phones,
  .section-contacts .wrapper-mail,
  .section-contacts .p-address {
    margin: 0 0 14px 0;
  }
  .section-contacts .span-servicesYandex {
    margin: 0 0 15px 0;
  }
  .section-contacts .img-servicesYandex {
    width: 28px;
    height: 28px;
  }
  .section-contacts .span-nameServicesYandex {
    font-size: 14px;
  }
  .section-contacts .a-servicesYandex {
    margin: 0 60px 0 0;
  }
  .section-contacts .wrapper-servicesYandex > a:nth-child(3) {
    margin: 0;
  }
  .section-contacts .wrapper-rightSideContacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .section-contacts .img-sectionContacts {
    position: static;
    width: 76%;
  }
  .section-contacts .decorative-square-6 {
    width: 185.78px;
    height: 185.78px;
    border: 10.0658px solid rgba(20, 26, 38, 0.04);
    border-radius: 27.8669px;
    left: 212px;
    top: -18px;
  }
  .footer {
    padding: 40px 0 40px 0;
  }
  .footer .top-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer .bottom-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }
  .footer .header-contacts-right {
    display: none;
  }
  .footer .nav_link-whatsApp {
    display: none;
  }
  .footer .footer-contacts-mobile,
  .footer .footer-phones {
    display: flex;
  }
  .footer .footer-contacts-mobile {
    margin: 0 0 30px 0;
  }
  .footer .nav_link-whatsApp.whatsApp-footer {
    display: block;
  }
  .footer .a-header-contacts {
    color: #FDFDFD;
    border: none;
    font-size: 14px;
  }
  .footer .btn-primary {
    display: none;
  }
  .footer .footer__menu {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }
  .footer .nav_list.header__list {
    position: static;
    margin: 0 0 30px 0;
    justify-content: flex-start;
    background: none;
    min-height: 10vh;
  }
  .footer .logo {
    position: static;
    display: block;
    margin: 0 0 30px 0;
  }
  .footer .logo-txt {
    margin: 0;
  }
  .footer .a-header-contacts:nth-child(1) {
    margin: 0 0 8px 0;
  }
  .footer .nav_item.nav_item_burger {
    margin: 10px 0 10px 0;
    padding: 0;
  }
  .footer .p-rights-reserved,
  .footer .confidentiality-footer {
    margin: 0 0 16px 0;
  }
  .footer .section-developers {
    align-items: center;
  }
  .footer .header__link,
  .footer .p-rights-reserved,
  .footer .confidentiality-footer,
  .footer .a-section-developers {
    font-size: 12px;
  }
}
