@media (min-width: 576px) and (max-width: 767.98px) {
  .header {
    min-height: 733px;
    height: 100vh;
  }
  .wrap-container-1110 {
    width: 90%;
  }
  .logo {
    width: 145px;
    justify-content: flex-start;
    margin: 0;
  }
  .top-header {
    flex-wrap: wrap;
    margin: 0 0 42px 0;
    align-items: center;
  }
  .txt-header {
    width: 100%;
  }
  .nav_list {
    position: relative;
  }
  .top-header > nav > ul > li:nth-child(5) {
    position: absolute;
    top: -61px;
    right: -2px;
  }
  .top-header .nav {
    width: 100%;
    padding: 20px 0 0 10px;
  }
  .top-header > nav > ul > li:nth-child(4) {
    margin: 0;
  }
  .img-header {
    bottom: -64%;
    right: -36%;
    height: 404px;
    width: 617px;
  }
  .middle-header__yellow-circle {
    width: 175.66px;
    height: 175.66px;
    right: 49%;
    bottom: -38%;
  }
  .middle-header__gray-circle {
    width: 346.81px;
    height: 346.81px;
    right: -25%;
    bottom: -57%;
  }
  .middle-header__empty-circle {
    width: 346.81px;
    height: 346.81px;
    right: -20%;
    bottom: -55%;
  }
  .h1-name {
    font-size: 27px;
    line-height: 140%;
    margin: 0 0 20px 0;
  }
  .link-guide__text {
    font-size: 12px;
    line-height: 15px;
  }
  .a-consultation {
    width: 154px;
  }
  .link-guide__circle {
    width: 70px;
    height: 70px;
    right: -19%;
    top: 14%;
  }
  .middle-header__description {
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 13px 0;
  }
  .h2-heading {
    font-size: 24px;
    line-height: 31px;
  }
  .section-clients > h2 {
    margin: 0 0 40px 0;
  }
  .section-journal__txt {
    width: 225px;
    font-size: 14px;
    line-height: 150%;
  }
  .section-services .h2-heading {
    margin: 0 0 64px 0;
  }
  .separate-service {
    width: 324px;
    padding: 20px;
  }
  .h3-service-name {
    font-size: 14px;
    margin: 0 0 12px 0;
  }
  .what-inside__pseudo-element {
    top: -41px;
    right: 17px;
    width: 60px;
    height: 60px;
  }
  .what-inside__img {
    width: 26px;
    height: 26px;
  }
  .what-inside__circle {
    width: 24px;
    height: 24px;
  }
  .w-i__circle1 {
    left: 41%;
    top: 39%;
  }
  .w-i__circle2 {
    left: 43%;
    top: 17%;
  }
  .w-i__circle3 {
    left: 18%;
    top: 39%;
  }
  .w-i__circle4 {
    left: 18%;
    top: 39%;
  }
  .w-i__circle5 {
    left: 41%;
    top: 39%;
  }
  .services-list-section-service .services-item {
    font-size: 14px;
    line-height: 150%;
  }
  .wrap-container-sServices {
    justify-content: center;
  }
  .separate-service-2,
  .separate-service-1 {
    margin: 0px 0 63px 0;
  }
  .separate-service-4 {
    margin: 60px 0 63px 0;
  }
  .section-clients {
    padding: 0;
  }
  .section-services__gray-circle,
  .section-services__empty-circle,
  .section-benefit__empty-circle {
    display: none;
  }
  .wrapper-benefit {
    flex-wrap: wrap;
  }
  .card-benefit {
    margin: 15px;
  }
  .txt-benefit {
    font-size: 16px;
  }
  .card-benefit__yellow-circle {
    width: 319px;
    height: 112px;
    left: -36px;
    top: 49px;
  }
  .section-consultation {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .section-cost__picture-journal {
    width: 144.53px;
    height: 204.8px;
    left: 35%;
    top: 16%;
  }
  .section-consultation .h2-heading {
    margin: 0 0 40px 0;
  }
  .section-cost__gray-circle {
    width: 237.22px;
    height: 237.22px;
    left: 6%;
    top: 6%;
  }
  .section-cost__picture-wrapper {
    width: 273px;
    height: 273px;
    margin: 0;
  }
  .section-cost__empty-circle {
    width: 237.22px;
    height: 237.22px;
    left: 4%;
    top: 11%;
  }
  .wrapper-buy-guide {
    padding: 45px 0 20px 0px;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .guide-price {
    font-size: 30px;
    line-height: 37px;
    margin: 0px 0 28px 0;
  }
  .footer {
    width: 100%;
    padding: 50px 45px 50px 45px;
  }
  .image-slider__image-img {
    height: 289px;
  }
  .section-reviews .h2-heading {
    margin: 0 0 41px 0;
  }
  .swiper-button-next svg,
  .swiper-button-prev svg {
    width: 55px;
  }
  .section-reviews {
    padding: 49px 0 50px 0;
  }
  .swiper-container {
    padding: 22px 0 0 0;
    margin: 0 0 7px 0;
  }
  .image-slider-clients__control {
    margin: 15px 0 0 0;
  }
  .white-border-footer {
    width: 490px;
  }
  .nav_list-footer-bottom {
    flex-direction: column;
  }
  .logo-footer {
    margin: 0px 0 20px 0;
  }
  .nav_item-footer-link {
    margin: 0px 0 22px 0;
  }
  .footer {
    padding: 40px;
    min-height: 60vh;
  }
  .white-border-footer {
    /* width: 790px; */
    width: 73%;
    height: 1px;
    left: 325px;
    background: #FFFFFF;
    margin: 0 0 25px 0;
  }
  .nav-footer {
    min-height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 33px 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    padding: 0;
    position: relative;
  }
  .logo-footer {
    width: 168px;
    height: 63px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    order: 2;
  }
  body > div > footer > nav > ul:nth-child(2) {
    margin: 0 0px 30px 0;
  }
  .nav_list-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
  .logo-img-footer {
    height: 100%;
    width: 64px;
  }
  .logo-txt-footer {
    padding: 0;
    width: 99px;
  }
  .txt-logo-1-footer {
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  .txt-logo-2-footer {
    font-variant: small-caps;
    text-align: center;
    width: 100%;
  }
  .nav_item-footer {
    margin: 0 0 20px 0;
  }
}
