@media (min-width: 992px) and (max-width: 1199.98px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    padding: 22px 45px 50px 45px;
  }
  .wrap-container-1110 {
    width: 100%;
  }
  .wrapper {
    width: 100vw;
    margin: 0 auto;
  }
  .top-header {
    padding: 0 0 35px 0;
    margin: 0 0 55px 0;
    align-items: center;
    height: 89px;
  }
  .iSlImg1 {
    background-image: url(../img/photoGallery/tinified/photoGallery5-min.jpg);
  }
  .iSlImg2 {
    background-image: url(../img/photoGallery/tinified/photoGallery1.jpg);
  }
  .iSlImg3 {
    background-image: url(../img/photoGallery/tinified/photoGallery3.jpg);
  }
  .iSlImg4 {
    background-image: url(../img/photoGallery/tinified/photoGallery4-min.jpg);
  }
  .iSlImg5 {
    background-image: url(../img/photoGallery/tinified/photoGallery6-min.jpg);
  }
  .iSlImg6 {
    background-image: url(../img/photoGallery/tinified/photoGallery7-min.jpg);
  }
  .iSlImg7 {
    background-image: url(../img/photoGallery/tinified/photoGallery2-min.jpg);
  }
  .h2-heading {
    padding: 0 0 50px 0;
    font-size: 30px;
    line-height: 37px;
  }
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 101;
  }
  .nav_link_inst_li {
    display: none;
  }
  body > div > header > div.top-header > a.nav_link.nav_link-inst {
    display: none;
    display: block;
    width: 40px;
    height: 40px;
    order: 3;
  }
  .header__burger span {
    background-color: #333333;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #333333;
    position: absolute;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
    width: 110%;
  }
  .header__burger:after {
    bottom: 0;
    width: 90%;
  }
  div.image-slider__slide.swiper-slide.swiper-slide-visible.swiper-slide-active {
    transform: scale(2);
  }
  .swiper-slide-reviews.image-slider__slide.swiper-slide.swiper-slide-visible.swiper-slide-active {
    transform: scale(1.4);
  }
  .swiper-slide-reviews.image-slider__slide.swiper-slide.swiper-slide-visible.swiper-slide-active {
    transform: scale(2);
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    width: 100%;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    width: 100%;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #18b5a4;
    padding: 70px 10px 20px 10px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .header__list li {
    width: 40%;
    margin: 0;
    padding: 30px 0 30px 0;
  }
  .nav_link:hover,
  .nav_link:active {
    color: #AA816D;
    text-decoration: underline;
  }
  .header__link {
    font-size: 45px;
    line-height: 123.48%;
    font-family: 'Cormorant', serif;
  }
  .logo {
    order: 2;
    height: 100%;
    justify-content: center;
  }
  .logo-img {
    background-size: contain;
    margin: 0;
  }
  .logo-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 134px;
    min-height: 63px;
  }
  .txt-logo-1 {
    height: 37.77px;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 41px;
    width: 100%;
    text-align: center;
  }
  .txt-logo-2 {
    height: 14.81px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    font-variant: small-caps;
    width: 100%;
    text-align: center;
  }
  .nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #F5F0EA;
    padding: 10px 10px 10px 10px;
    z-index: 100;
  }
  .middle-header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 32px;
  }
  .txt-header {
    padding: 20px 0 0 0;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .h1-name {
    width: 100%;
    font-size: 36px;
    line-height: 123.48%;
    text-align: left;
    padding: 0 0 20px 0px;
  }
  .services-list {
    width: 100%;
    padding: 0 0 40px 0px;
  }
  .services-item {
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 130%;
  }
  .a-consultation {
    font-size: 14px;
    line-height: 17px;
    width: 39vw;
    padding: 18px 32px;
  }
  .img-header {
    order: 1;
    height: 32vh;
    object-fit: contain;
  }
  body > div > header > div.middle-header > img {
    width: 273px;
    height: 375px;
  }
  #consultation > h2 {
    padding: 0 0 50px 0;
    font-size: 30px;
    line-height: 123.48%;
  }
  .arrow-svg {
    bottom: 79px;
    left: 50%;
  }
  .section-services {
    padding: 50px 45px 50px 45px;
    justify-content: center;
  }
  .services-list-section-service {
    padding: 0 0 21px 0px;
  }
  .separate-service {
    padding: 20px;
    width: 324px;
    margin: 0 0 30px 0;
  }
  .separate-service-1 {
    margin: 0 30px 30px 0;
  }
  .separate-service-2 {
    margin: 0px 30px 0 0;
  }
  .separate-service-3 {
    margin: 55px 0 0 0;
  }
  .separate-service-4 {
    margin: 92px 0 0 0;
  }
  .service-wrapper-left,
  .service-wrapper-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .img-separate-service {
    height: 189px;
    padding: 0 0 16px 0;
  }
  .h3-service-name {
    font-size: 20px;
    line-height: 130%;
    padding: 0 0 16px 0;
    margin: 0;
  }
  .wrapper-price {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .service-price {
    margin: 0 0 20px 0;
    font-size: 24px;
    line-height: 29px;
  }
  .a-consultation-service {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    background: #AA816D;
    border-radius: 4px;
  }
  .section-clients {
    padding: 50px 0 90px 0;
    min-height: 79vh;
  }
  .swiper-container {
    padding: 161px 0 155px 0;
    height: 100%;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .image-slider .swiper-pagination {
    bottom: 109px;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -42px;
    left: 24%;
    width: 50vw;
  }
  #reviews {
    min-height: 50vh;
  }
  body > div > main > section.section-reviews.section-clients > h2 {
    padding: 0px 0 50px 0;
    font-size: 30px;
    line-height: 123.48%;
  }
  div.swiper-pagination.swiper-pagination-bullets > span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 50px;
    border: none;
    border-radius: 0;
  }
  #swiper-pagination-reviews > span {
    width: 32px;
  }
  div.swiper-pagination.swiper-pagination-bullets > span.swiper-pagination-bullet {
    width: 50px;
    border: none;
    border-radius: 0;
  }
  body > div > main > section.section-clients > div > div.image-slider.swiper-container.swiper-container-initialized.swiper-container-horizontal.swiper-container-free-mode > div.swiper-button-prev {
    top: 115%;
    left: 35%;
    outline: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 106%;
    right: 6%;
    outline: none;
  }
  div.swiper-button-prev {
    left: 80%;
    top: 106%;
  }
  div.swiper-button-prev > svg {
    bottom: 0px;
    left: 0px;
  }
  div.swiper-button-next > svg {
    bottom: 0px;
    left: 0px;
  }
  button:active,
  button:focus {
    outline: none !important;
  }
  button::-moz-focus-inner {
    border: 0 !important;
  }
  .span-neigrushki-width-2 {
    bottom: 10%;
    left: 63%;
  }
  body > div > main > section.section-clients > h2 {
    padding: 0px 0 50px 0;
    font-size: 30px;
    line-height: 123.48%;
  }
  #swiper-button-prev-reviews {
    top: 106%;
    left: 81%;
    z-index: 50;
  }
  #swiper-button-next-reviews {
    top: 106%;
    left: 90%;
    z-index: 50;
  }
  body > div > main > section.section-reviews.section-clients > div > div > div.swiper-pagination.swiper-pagination-bullets {
    bottom: -43px;
  }
  .section-reviews.section-clients > div > div {
    padding: 156px 0 157px 0;
    position: static;
  }
  body > div > main > section.section-reviews.section-clients > div > div {
    margin: 0;
    width: 100%;
  }
  .section-consultation {
    padding: 50px 15px;
    flex-direction: column;
    align-items: center;
  }
  .consultation-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 373px;
    margin: 0;
    position: relative;
    margin: 0 0 46px 0;
  }
  .section-reviews {
    padding: 50px 0 90px 0;
  }
  .swiper-wrapper .swiper-slide-reviews {
    transform: scale(1);
  }
  .swiper-wrapper .swiper-slide-reviews .swiper-slide-active {
    transform: scale(1.8);
  }
  .cons-img {
    width: 257px;
    height: 299px;
    margin-right: 112px;
  }
  #consultation > div.consultation-img > img.cons-img.cons-img-2 {
    width: 192px;
    height: 153px;
    position: absolute;
    left: 50%;
    top: 215px;
  }
  .form-consultation {
    width: 445px;
    min-height: 172px;
  }
  .nav_item-instagram {
    order: 3;
    margin: 0 0 0px 0;
  }
  .footer {
    padding: 50px 45px 50px 45px;
    min-height: 354px;
  }
  .white-border-footer {
    /* width: 790px; */
    width: 490px;
    height: 1px;
    left: 325px;
    background: #FFFFFF;
    margin: 0 0 40px 0;
  }
  .p-form-consultation {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 40px;
  }
  .input-text {
    font-size: 14px;
    line-height: 17px;
    border-radius: 0px;
  }
  .p-input-text-error {
    margin: 0;
  }
  .button-form-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .span-button-form {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
  #form > ul > li:nth-child(3) {
    margin: 0;
  }
  .button-form {
    width: 183px;
    height: 53px;
    padding: 18px 32px;
    margin: 0 0 16px 0;
  }
  .p-form-confidentiality {
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    margin: 0;
  }
  .input-text {
    font-size: 12px;
    line-height: 15px;
  }
  .nav-footer {
    min-height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    background-color: #B1A29B;
    padding: 0;
    position: relative;
  }
  .logo-footer {
    width: 168px;
    height: 63px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    order: -1;
  }
  #contacts > nav > ul > li:nth-child(4) {
    margin: 0;
  }
  .nav_list-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    height: 100%;
    width: 67%;
    order: 2;
  }
  #contacts > nav > ul {
    margin: 0 0 0px 0;
  }
  .logo-img-footer {
    height: 100%;
    width: 64px;
  }
  .logo-txt-footer {
    padding: 0;
    width: 99px;
  }
  .txt-logo-1-footer {
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    width: 100%;
  }
  .txt-logo-2-footer {
    font-size: 13.3333px;
    line-height: 16px;
    font-variant: small-caps;
    text-align: center;
    width: 100%;
  }
  .nav_list-footer-bottom {
    flex-direction: column;
  }
  .nav_link-footer {
    font-size: 14px;
    line-height: 17px;
  }
  .nav_item-footer {
    margin: 0 20px 0 0;
  }
  ::placeholder {
    font-size: 12px;
    line-height: 15px;
  }
  .new-select {
    font-size: 12px;
    line-height: 15px;
  }
  .new-select__list {
    font-size: 14px;
    line-height: 17px;
    top: 35px;
  }
  .new-select:after {
    width: 19px;
    height: 11px;
    top: 12px;
  }
  .nav_item-footer-link:nth-child(3) {
    order: 2;
    margin: 0 0 22px 0;
  }
  .nav_item-footer-link:nth-child(1) {
    order: 1;
    margin: 0 0 22px 0;
  }
  .nav_item-footer-link:nth-child(2) {
    order: 3;
    margin: 0;
  }
  .nav_link-footer-gro {
    margin: 0 0 6px 0;
    text-align: center;
  }
  .wrapper-policy {
    width: 100%;
    padding: 40px 15px 40px 15px;
  }
  .h1-policy {
    font-size: 24px;
    line-height: 29px;
  }
  .span-comeBack {
    font-size: 12px;
    line-height: 15px;
  }
  .a-comeBack {
    width: 80%;
    margin: 0 0 23px 0;
  }
  .p-main-policy {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 130%;
    color: #333333;
  }
}
