@media (min-width: 992px) and (max-width: 1199.98px) {
  .header {
    min-height: 768px;
    height: 768px;
  }
  .wrap-container-1110 {
    width: 900px;
  }
  .img-header {
    bottom: -40%;
    right: -33%;
  }
  .middle-header__yellow-circle {
    right: -7%;
    bottom: 28%;
  }
  .middle-header__gray-circle {
    right: -47%;
    bottom: -38%;
  }
  .middle-header__empty-circle {
    right: -50%;
    bottom: -43%;
  }
  .separate-service {
    width: 100%;
  }
  .section-services__gray-circle {
    left: -102px;
    top: 103%;
  }
  .section-services__empty-circle {
    left: -184px;
    top: 97%;
  }
  .wrapper-benefit {
    flex-wrap: wrap;
  }
  .card-benefit {
    width: 40%;
  }
  .card-benefit__yellow-circle {
    width: 436px;
    height: 121px;
    left: -43px;
    top: 45px;
  }
  .wrapper-buy-guide {
    padding: 100px 0 0 119px;
  }
  .footer {
    padding: 73px 30px;
  }
  .logo-footer {
    margin: 0px 10px 0 0;
  }
}
