/* Большие экраны ----------- */
@media only screen and (min-width: 1824px) {
  .wrap-container-1110 {
    width: 1390px;
    margin: 0 auto;
  }
  .img-header {
    object-fit: contain;
    height: 800px;
    width: 1076px;
  }
  .txt-header {
    width: 50%;
  }
  .h1-name {
    font-size: 81px;
    line-height: 97.48%;
  }
  .middle-header .services-item {
    font-size: 26px;
    line-height: 41px;
  }
  .a-consultation {
    font-size: 20px;
    width: 392px;
    height: 81px;
  }
  .arrow-svg {
    bottom: -23px;
  }
  .separate-service {
    margin: 15px;
    width: 45%;
  }
  .wrap-container-sServices {
    justify-content: center;
  }
  .h3-service-name {
    font-size: 32px;
  }
  .wrapper-price .a-consultation {
    width: 305px;
    height: 67px;
  }
  .section-clients {
    height: 80vh;
  }
  .image-slider__image-img {
    height: 449px;
  }
  .image-slider .swiper-pagination {
    bottom: 4px;
  }
  .wrapper-swiper-reviews .swiper-slide-active {
    transform: scale(2.4);
  }
  .image-slider-reviews {
    height: 806px;
    padding: 232px 0 190px 0;
  }
  .section-reviews {
    min-height: 88vh;
  }
}
