/* Большие экраны ----------- */
@media only screen and (min-width: 1824px) {
  @keyframes cubeAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .blue-square {
    width: 1300px;
    height: 1200.59px;
    left: 1158px;
    top: -282.41px;
  }
  .swiper-container-cars .head-slider-control {
    width: 280px;
    top: 74%;
    left: 43%;
  }
  .swiper-container-cars {
    padding: 44px 0 41px 0;
  }
  .swiper-pagination.swiper-pagination-cars {
    width: 92px;
    height: 92px;
  }
  .logo {
    left: -322px;
    top: -21px;
  }
  .head-slider-control {
    width: 206px;
    height: 76px;
    top: 643px;
    left: 365px;
  }
  .head-slider-control .swiperHeader-button-prev,
  .head-slider-control .swiperHeader-button-next {
    width: 75px;
    height: 75px;
  }
  .swiper-wrapper.swiper-wrapper-cars {
    margin: 0 0 98px 0;
  }
  .svg-swiperHeader-button-prev,
  .svg-swiperHeader-button-next {
    width: 23px;
    height: 33px;
  }
  .swiperHeader-slide-img {
    width: 903px;
    height: 100%;
  }
  .top-header {
    padding: 0 45px 0 380px;
    margin: 0px 0 107px 0;
  }
  .p-txt-header {
    font-size: 27px;
  }
  .nav_link.header__link {
    font-size: 27px;
  }
  .a-header-contacts {
    font-size: 28px;
  }
  .whatsApp {
    width: 67px;
    height: 67px;
  }
  .txt-logo-1 {
    font-size: 38px;
  }
  .txt-logo-2 {
    font-size: 31.6px;
  }
  .middle-header {
    padding: 0 0 0 380px;
    align-items: flex-start;
  }
  .txt-header {
    width: 628px;
    height: 545px;
  }
  .h1-name {
    font-size: 58px;
    min-height: 225px;
  }
  .a-consultation-header {
    bottom: 32px;
    left: 380px;
    font-size: 24px;
  }
}
