/* Большие экраны ----------- */
@media only screen and (min-width: 1824px) {

    .wrap-container-1110 {
        width: 1390px;
        margin: 0 auto;
    }

    .img-header {
        object-fit: contain;
        height: 75vh;
        width: 571px;
    }

    .header__burger {
        display: none;
    }



    .middle-header .services-item {
        font-size: 26px;
        line-height: 41px;
    }

    .a-consultation {
        font-size: 20px;
        width: 392px;
        height: 81px;
    }

    .arrow-svg {
        bottom: -23px;
    }

    .separate-service {
        margin: 15px;
        width: 45%;

    }

    .wrap-container-sServices {
        justify-content: center;
    }

    .h3-service-name {
        font-size: 32px;
    }

    .wrapper-price .a-consultation {
        width: 305px;
        height: 67px;
    }

    .section-clients {
        height: 80vh;
    }

    .image-slider__image-img {
        height: 449px;
    }

    .image-slider .swiper-pagination {
        bottom: 4px;
    }

    .wrapper-swiper-reviews .swiper-slide-active {
        transform: scale(2.4);
    }

    .image-slider-reviews {
        height: 806px;
        padding: 232px 0 190px 0;
    }

    .section-reviews {
        min-height: 88vh;
    }


    // основной цвет фона
    @backgroundColor: #FDFDFD;
    // основной цвет шрифта
    @txtBaseColor: #141A26;
    // цвет шрифта в кнопках и карточках
    @txtButtonColor: #FDFDFD;
    // // базовый цвет
    // @baseColor: #fff;
    // цвет для кнопок
    @colorButton: linear-gradient(180deg, #FF9823 0%, #FF591F 100%);
    // background: @colorButton;
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    //     color: @colorButton;
    // цвет для фона карточек
    @colorCards: linear-gradient(312.61deg, #366BDB 16.36%, #578CFB 91.28%);
    // цвет кнопок при наведении
    @colorButtonHover: 0px 21px 50px rgba(255, 95, 5, 0.35);
    // цвет стрелок переключения
    @arrowColor: #3A6FDE;

    @keyframes cubeAnimation {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    // .nav_link-inst {
    //     display: none;
    // }

    .header {
        width: 100%;
        max-width: 100%;
        min-width: 0;
        min-height: 100vh;
        background-color: @backgroundColor;
        padding: 45px 0 45px 0;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        position: relative;
        overflow: hidden;
    }

    .btn-primary {
        display: none;
    }

    .modal-backdrop {
        z-index: 1;
    }

    .decorative-square-1 {
        position: absolute;
        width: 400px;
        height: 400px;
        left: -206px;
        top: 840px;
        border: 24.8851px solid rgba(20, 26, 38, 0.04);
        box-sizing: border-box;
        border-radius: 53.2013px;
        animation: cubeAnimation infinite linear 10s;
    }

    .container-header {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // padding: 0 0 0 223px;
        width: 100%;
    }

    .top-header {
        width: 100%;
        min-height: 105px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0 127px 0;
        padding: 0 45px 0 400px;
        z-index: 4;
    }

    .burger {
        display: none;
    }

    .logo {
        position: absolute;
        top: 50px;
        left: 45px;
    }

    .logo-txt {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0 10px 0 0;
    }

    .txt-logo-1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: 45px;
        line-height: 120%;
        text-align: center;
        background: @colorButton;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: @colorButton;

    }

    .txt-logo-2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: 37.4px;
        line-height: 107%;
        text-align: center;
        color: @txtBaseColor;
    }

    .header__burger {}

    .span_burgerMenu {}

    .nav.header__menu {}

    .nav_list.header__list {
        margin: 0 10px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: relative;
        z-index: 4;
    }

    .nav_item.nav_item_burger {
        margin: 0 38px 0 0;
    }


    .nav_link.header__link {
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        color: rgba(20, 26, 38, 0.7);
    }

    .nav_link.header__link:hover {
        color: @txtBaseColor;
    }

    .nav_link.nav_link-whatsApp {
        margin: 0 22px 0 0;

    }

    .whatsApp {
        fill: @txtButtonColor;
        width: 50px;
        height: 50px;
    }

    .whatsApp {}

    .header-contacts {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        z-index: 4;
        // background: linear-gradient(312.61deg, #366BDB 16.36%, #578CFB 91.28%);
    }

    .header-contacts-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .modal-body .a-header-contacts {
        color: #000;
    }


    .a-header-contacts {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 150%;
        color: @txtButtonColor;
    }

    .a-header-contacts:hover {
        background: @colorButton;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: @colorButton;
    }

    .middle-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: 0;
        position: relative;
        padding: 0 0 0 400px;
    }

    .blue-square {
        position: absolute;
        width: 1400px;
        height: 1200px;
        left: 1177px;
        top: -295.41px;
        background: linear-gradient(312.61deg, #366BDB 16.36%, #578CFB 91.28%);
        border-radius: 163.794px;
        transform: rotate(105.2deg);
        // z-index: -100;
    }

    .txt-header {
        min-width: 629px;
        height: 676px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 58px 0 0;
    }

    .h1-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-height: 204px;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 53px;
        line-height: 130%;
        color: @txtBaseColor;
        margin: 0 0 30px 0;
    }

    .p-txt-header {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 150%;
        color: @txtBaseColor;
        margin: 0 0 60px 0;
    }



    .a-consultation {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 24px 50px;
        background: @colorButton;
        border-radius: 6px;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: @txtButtonColor;
        margin: 0 0 0 0;




    }

    .a-consultation-header {
        width: 313px;
        height: 92px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: @colorButton;
        border-radius: 6px;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        color: @txtButtonColor;
        margin: 0 0 0 0;
        position: absolute;
        bottom: 84px;
        left: 400px;
        z-index: 9999;
    }

    .a-consultation:hover {
        box-shadow: @colorButtonHover;
        color: @txtButtonColor;
    }

    .head-slider-control {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 116px;
        height: 50px;
        position: absolute;
        top: 626px;
        left: 394px;
        z-index: 9999;
    }

    .swiper-container.swiperHeader-container {
        min-width: 0;
        width: 100%;
        min-height: 545px;
        position: relative;
    }

    .swiper-wrapper.swiperHeader-wrapper {}

    .swiper-slide.swiperHeader-slide.card {
        width: 100%;
        height: 100%;
        border: none;
        background: transparent;
    }

    .swiperHeader-slide-img {
        width: 900px;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    .swiperHeader-button-prev,
    .swiperHeader-button-next {
        width: 50px;
        height: 50px;
        background: @arrowColor;
        border: 6px solid #FDFDFD;
        border-radius: 50%;
        box-sizing: border-box;
        // transform: rotate(-180deg);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .swiperHeader-button-prev:hover,
    .swiperHeader-button-next:hover {
        background: #73A0FF;
    }


    .svg-swiperHeader-button-prev,
    .svg-swiperHeader-button-next {
        // fill: @txtButtonColor;
        width: 15px;

    }

    .svg-swiperHeader-button-prev {
        transform: rotate(90deg);
    }

    .svg-swiperHeader-button-next {
        transform: rotate(270deg);
    }


    #uptocall-mini {
        position: fixed;
        bottom: 50px;
        right: 50px;
        cursor: pointer;
        z-index: 999;
    }

    #uptocall-mini .uptocall-mini-phone {
        -moz-border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
        border-radius: 50% !important;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: rgba(255, 69, 0, .5);
        width: 70px;
        height: 70px;
        -webkit-animation: uptocallmini 1.5s 0s ease-out infinite;
        -moz-animation: uptocallmini 1.5s 0s ease-out infinite;
        animation: uptocallmini 1.5s 0s ease-out infinite;
    }

    #uptocall-mini .uptocall-mini-phone:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url(../img/phone-mobileL.svg);
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-animation: uptocallphone 1.5s linear infinite;
        -moz-animation: uptocallphone 1.5s linear infinite;
        animation: uptocallphone 1.5s linear infinite;
    }

    @keyframes uptocallmini {
        0% {
            box-shadow: 0 0 8px 6px rgba(255, 69, 0, 0), 0 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px 0px rgba(255, 69, 0, 0);
        }

        10% {
            box-shadow: 0 0 8px 6px #f47522, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px #f47522;
        }

        100% {
            box-shadow: 0 0 8px 6px rgba(255, 69, 0, 0), 0 0 0px 40px rgba(0, 0, 0, 0), 0 0 0px 40px rgba(255, 69, 0, 0);
        }
    }

    @keyframes uptocallphone {
        0% {
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        25% {
            -ms-transform: rotate(30deg);
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
        }

        50% {
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        75% {
            -ms-transform: rotate(-30deg);
            -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
        }

        100% {
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }




}