/* Большие экраны ----------- */
@media only screen and (min-width: 1824px) {
  .header {
    min-height: 1080px;
    max-height: 1080px;
  }
  .top-header {
    position: relative;
    margin: 0 0 220px 0;
  }
  .top-header .logo {
    position: absolute;
    top: 0px;
    left: -320px;
  }
  .nav_list {
    position: relative;
  }
  .top-header > nav > ul > li:nth-child(5) {
    position: absolute;
    margin: 0;
    top: 19px;
    right: -40vw;
  }
  .img-header {
    height: 692px;
    width: 893px;
    bottom: -45%;
    right: -31%;
  }
  .middle-header__yellow-circle {
    width: 440px;
    height: 440px;
    right: -4%;
    bottom: 24%;
  }
  .middle-header__gray-circle {
    width: 770px;
    height: 770px;
    right: -54%;
    bottom: -56%;
  }
  .middle-header__empty-circle {
    width: 770px;
    height: 770px;
    right: -50%;
    bottom: -54%;
  }
  .section-services__empty-circle {
    width: 454px;
    height: 454px;
    left: -8%;
    top: 74%;
  }
  .section-services__gray-circle {
    width: 340px;
    height: 340px;
    left: -3%;
    top: 104%;
  }
  .section-benefit__empty-circle {
    width: 371px;
    height: 371px;
    right: -134px;
    top: -222px;
  }
  .section-cost__empty-circle {
    left: 32%;
  }
  .section-cost__gray-circle {
    left: 33%;
  }
  .section-cost__picture-journal {
    left: 53%;
  }
  .wrapper-buy-guide {
    padding: 100px 0 0 73px;
  }
}
