.footer {
  width: 100%;
  padding: 73px 165px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #B1A29B;
}
.logo-footer {
  margin: 0 234px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.txt-logo-1-footer {
  color: #FFFFFF;
}
.txt-logo-2-footer {
  color: #FFFFFF;
}
.logo-txt-footer {
  padding-bottom: 11px;
}
.logo-img-footer {
  background-image: url(../img/family-footer.png);
  background-color: #B1A29B;
  height: 100%;
}
.nav-footer {
  width: 100%;
  min-height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 33px 0;
}
.nav_item-instagram {
  width: 23px;
  height: 23px;
}
.nav_link_instagram-footer {
  fill: #FFFFFF;
}
.nav_list-footer {
  width: 616px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.nav_item-footer {
  margin: 0;
}
.nav_link-footer:hover {
  color: #FFFFFF;
}
.nav_link-footer {
  font-size: 16px;
  color: #FFFFFF;
}
.white-border-footer {
  width: 790px;
  height: 1px;
  left: 325px;
  background: #FFFFFF;
  margin: 0 0 50px 0;
}
.nav_list-footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  width: 100%;
}
.nav_item-footer-link:hover {
  text-decoration: none;
}
body > div > footer > ul > li:nth-child(2) > a {
  text-decoration: underline;
}
body > div > footer > nav > ul:nth-child(2) {
  margin: 0 70px 0 0;
}
body > div > footer > nav > ul:nth-child(1) {
  margin: 0 77px 0 0;
}
body > div > footer > nav > ul:nth-child(3) {
  width: 270px;
}
body > div > footer > nav > ul:nth-child(3) > li:nth-child(1),
body > div > footer > nav > ul:nth-child(3) > li:nth-child(2) {
  width: 100%;
}
