@keyframes cubeAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  background: #2A509E;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 65px 0 66px 0;
  overflow: hidden;
}
.footer .nav_item {
  margin: 0 38px 0 0;
}
.top-footer {
  margin: 0 0 50px 0;
}
.top-footer .txt-logo-1 {
  color: #FDFDFD;
  background: none;
  -webkit-text-fill-color: #FDFDFD;
}
.top-footer .txt-logo-2 {
  color: #FDFDFD;
}
.top-footer .nav_link {
  color: #FDFDFD;
}
.top-footer .nav_link:hover {
  text-decoration: underline;
  color: #FDFDFD;
}
.bottom-footer {
  width: 100%;
  min-height: 61px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px 0 300px;
}
.p-rights-reserved {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #FDFDFD;
  margin: 0;
}
.confidentiality-footer {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #FDFDFD;
  text-decoration: none;
}
.section-developers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.a-section-developers {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #FDFDFD;
  display: flex;
  flex-direction: row;
}
.a-section-developers:hover {
  color: #FDFDFD;
}
.a-section-developers:hover p,
.confidentiality-footer:hover {
  color: rgba(253, 253, 253, 0.6);
  text-decoration: underline;
  transition: color 0.8s;
}
.a-section-developers p {
  margin: 0;
}
.footer-contacts-mobile {
  display: none;
}
