@keyframes wantGuideAnim {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(7px);
  }
  100% {
    transform: translate(0px);
  }
}
.nav_link.nav_link-inst {
  display: none;
}
.header {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
  padding: 24px 0 10px 0;
}
.wrap-container-1110 {
  width: 1110px;
  margin: 0 auto;
}
.img-header {
  z-index: 5;
  object-fit: contain;
  height: 643px;
  width: 863px;
  position: absolute;
  bottom: -34%;
  right: -21%;
}
.wrap-container-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.wrapper {
  min-height: 100vh;
  min-height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.top-header {
  width: 100%;
  min-height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 140px 0;
}
.top-header > nav > ul > li:nth-child(5) {
  margin: 0;
}
.logo {
  width: 158px;
  height: 71px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  text-decoration: none;
}
.logo:hover {
  text-decoration: none;
}
.logo-img {
  height: 51px;
  width: 51px;
  margin-right: 8px;
  background-image: url(../img/family-1.jpg);
  background-size: contain;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
}
.logo-txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.txt-logo-1 {
  width: 100%;
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 33px;
  color: rgba(51, 51, 51, 0.8);
}
.txt-logo-2 {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-variant: small-caps;
  color: rgba(51, 51, 51, 0.8);
  text-align: center;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nav_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nav_item {
  margin-right: 60px;
  min-width: 24px;
  transition: text-decoration 4s linear;
}
.nav_item:hover {
  text-decoration: underline;
}
body > div > header > div.top-header > nav > ul > li:nth-child(5) {
  margin-right: 0px;
}
.nav_link {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(51, 51, 51, 0.7);
}
.nav_link:hover {
  color: #333333;
}
#elementSpan {
  color: #949597;
}
.nav_link_instagram:hover {
  fill: rgba(51, 51, 51, 0.7);
}
.middle-header {
  min-height: 405px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.txt-header {
  width: 436px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.h1-name {
  font-family: Lighthaus;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #333333;
  text-align: left;
  padding: 0;
  margin: 0 0 30px 0;
}
.middle-header__description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  margin: 0 0 56px 0;
}
.services-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 0 48px 0;
}
.services-item {
  position: relative;
  margin: 0 0 10px 13px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  color: #333333;
}
.services-item::before {
  position: absolute;
  top: -3px;
  left: -2px;
  content: "• ";
  color: #F5DF4D;
  font-size: 26px;
}
.a-consultation {
  z-index: 10;
  position: relative;
  width: 188px;
  height: 100px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.a-consultation:hover {
  text-decoration: none;
}
.a-consultation:hover .link-guide__svg {
  transform: translate(14px);
  transition: transform 1s;
}
.a-consultation:hover .link-guide__text {
  transform: scale(1.2);
  transition: transform 1s;
}
.a-consultation:hover .link-guide__circle {
  transform: scale(1.2) translate(14px);
  transition: transform 1s;
}
.link-guide__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}
.link-guide__svg {
  z-index: 5;
  animation: wantGuideAnim infinite 2s;
}
.link-guide__circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  right: -54px;
  top: 0px;
  background: #F5DF4D;
}
body > div > header > div.middle-header > img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.middle-header__yellow-circle {
  z-index: 4;
  position: absolute;
  width: 414.95px;
  height: 414.95px;
  right: 12%;
  bottom: 23%;
  background: #F5DF4D;
  border-radius: 50%;
}
.middle-header__gray-circle {
  z-index: 2;
  position: absolute;
  width: 745.11px;
  height: 745.11px;
  right: -36%;
  bottom: -45%;
  background: #949597;
  border-radius: 50%;
}
.middle-header__empty-circle {
  z-index: 3;
  position: absolute;
  width: 745.11px;
  height: 745.11px;
  right: -33%;
  bottom: -43%;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 50%;
}
@keyframes animationArrow {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 8px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.header__burger {
  display: none;
}
