// =====================================================

// основной цвет фона
@backgroundColor: #FDFDFD;
// основной цвет шрифта
@txtBaseColor: #141A26;
// цвет шрифта в кнопках и карточках
@txtButtonColor: #FDFDFD;
// // базовый цвет
// @baseColor: #fff;
// цвет для кнопок
@colorButton: linear-gradient(180deg, #FF9823 0%, #FF591F 100%);
// цвет для фона карточек
@colorCards: linear-gradient(312.61deg, #366BDB 16.36%, #578CFB 91.28%);
// цвет кнопок при наведении
@colorButtonHover: 0px 21px 50px rgba(255, 95, 5, 0.35);

// .nav_link-inst {
//     display: none;
// }

.header {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    min-height: 100vh;
    background-color: @backgroundColor;
    padding: 25px 45px 10px 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // position: relative;
}

.container-header {
    padding: 0 0 0 174px;
    width: 100%;
}

.top-header {
    width: 100%;
    // min-width: 0;
    min-height: 61px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 130px 0;
    z-index: 4;
}

.logo {
    position: absolute;
    top: 39px;
    left: 45px;
}

.logo-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px 0 0;
}

.txt-logo-1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    background: @colorButton;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: @colorButton;

}

.txt-logo-2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 15.6px;
    line-height: 107%;
    text-align: center;
    color: @txtBaseColor;
}

.header__burger {}

.span_burgerMenu {}

.nav.header__menu {}

.nav_list.header__list {
    margin: 0 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 4;
}

.nav_item.nav_item_burger {
    margin: 0 38px 0 0;
}

.nav_item.nav_item_burger:nth-child(5) {
    margin: 0;
}

.nav_link.header__link {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(20, 26, 38, 0.7);
}

.nav_link.header__link:hover {
    color: @txtBaseColor;
}

.nav_link.nav_link-whatsApp {
    margin: 0 22px 0 0;

}

.whatsApp {
    fill: @txtButtonColor;
}

.whatsApp {}

.header-contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 4;
}

.header-contacts-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.a-header-contacts {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: @txtButtonColor;
}

.a-header-contacts:hover {
    background: @colorButton;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: @colorButton;
}

.middle-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 0;
    position: relative;
}

.blue-square {
    position: absolute;
    width: 1084.39px;
    height: 1085.59px;
    left: 787px;
    top: -600.59px;
    background: linear-gradient(312.61deg, #366BDB 16.36%, #578CFB 91.28%);
    border-radius: 163.794px;
    transform: rotate(105.2deg);
    // z-index: -100;
}

.txt-header {
    width: 556px;
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.h1-name {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 130%;
    color: @txtBaseColor;
    margin: 0 0 30px 0;
}

.p-txt-header {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: @txtBaseColor;
    margin: 0 0 60px 0;
}

.a-consultation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 50px;
    background: @colorButton;
    border-radius: 6px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: @txtButtonColor;
}

.a-consultation:hover {
    box-shadow: @colorButtonHover;
    color: @txtButtonColor;
}

.swiper-container.swiperHeader-container {
    min-width: 0;
    width: 500px;
    height: 500px;
}

.swiper-wrapper.swiperHeader-wrapper {}

.swiper-slide.swiperHeader-slide.card {
    width: 600px;
    height: 500px;
    border: none;
    background: transparent;
}

.swiperHeader-slide-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiperHeader-button-prev {}

.swiperHeader-arrowSvg {}

.swiperHeader-button-next {}