// =====================================================

@backgroundColor: #FFFFFF;
// базовый цвет
@baseColor: #fff;
// LightSeaGreen - цвет для кнопок
@colorButton: #20B2AA;
// font-family: 'Roboto', sans-serif;
@colorMain: #AA816D;
@colorButton: #AA816D;

.nav_link-inst {
    display: none;
}

.header {
    width: 100%;
    min-height: 100px;
    background-color: @baseColor - #333;
}

.wrapper {
    // vh - единица отвечающая за высоту экрана
    min-height: 100vh;
    min-height: 100%;
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.fullscreen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // padding: 0px 15px 0px 15px;
    // background-image: url(../img/four_girls.jpg);
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // background-color: @backgroundColor;
    background-repeat: no-repeat;
    background-position: center center;
    // запрещаю скрол вместе с экраном
    background-attachment: fixed;
    text-align: center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

.fullscreen__body {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    background-color: @backgroundColor;
    // border: 1px dotted black;
    padding: 24px 165px;
}

.top-header {
    width: 100%;
    min-height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 53px 0;
}

.logo {
    width: 158px;
    height: 71px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    text-decoration: none;
}

.logo:hover {
    text-decoration: none;
}

.logo-img {
    height: 100%;
    width: 51px;
    margin-right: 8px;
    background-image: url(../img/family-1.jpg);
    background-size: cover;
    background-color: @backgroundColor;
    background-repeat: no-repeat;
    background-position: center center;
    // // запрещаю скрол вместе с экраном
    // background-attachment: fixed;

}

.nav_link-inst {
    display: none;
}

.logo-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 99px;
    min-height: 63px;
}

.txt-logo-1 {
    width: 100%;
    height: 51px;
    font-family: 'Cormorant', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    color: #AA816D;
}

.txt-logo-2 {
    width: 100%;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19.5px;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #AA816D;
}


body>div>header>div.top-header>a.nav_link.nav_link-inst {
    display: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav_item {
    margin-right: 60px;
    min-width: 24px;
    transition: text-decoration 4s linear;
}

.nav_item:hover {
    text-decoration: underline;
}

body>div>header>div.top-header>nav>ul>li:nth-child(5) {
    margin-right: 0px;
}

.nav_link {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.nav_link:hover {
    color: #333333;
}

.nav_link_instagram:hover {
    fill: #AA816D;
}


.middle-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.txt-header {
    width: 436px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 0 100px 0;
}

.h1-name {
    text-align: left;
    font-family: 'Cormorant', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 123.48%;
    color: #333333;
    padding: 0 0 24px 0;
    margin: 0;
}

.services-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 48px 0;
}

.services-item {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
}

.services-item::before {
    content: "• ";
    color: @colorButton;
    font-size: 26px;
}

.a-consultation {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // padding: 18px 32px 18px 32px;
    width: 345px;
    height: 58px;
    left: 165px;
    background: @colorButton;
    border-radius: 4px;
    text-decoration: none;
}

.a-consultation:hover {
    color: @colorButton;
    background: #FFFFFF;
    border: 1px solid #AA816D;
    box-sizing: border-box;
}

body>div>header>div.middle-header>img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

@keyframes animationArrow {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 8px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.arrow-svg {
    animation: animationArrow infinite 2s;
    align-self: center;
    enable-background: new 0 0 38.417 18.592;
    position: absolute;
    bottom: 30px;
    left: 50%;
    cursor: pointer;
}




.header__burger {
    display: none;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}



// =====================================================