// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .header {
        // display: none;
        padding: 13px 15px 39px 15px;
    }

    .wrapper {
        width: 570px;
        margin: 0 auto;
    }

    .header.fullscreen {}

    .top-header {
        padding: 0 0 35px 0;
        align-items: center;

    }

    .logo {}

    .logo-img {}

    .logo-txt {}

    .txt-logo-1 {}

    .txt-logo-2 {}

    .nav {}

    .input_nav {}

    .span_burgerMenu {}

    .nav_list {}

    .nav_item {}

    .nav_link {}

    .nav_link_instagram {}

    .middle-header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .txt-header {
        padding: 20px 0 40px 0;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .h1-name {
        width: 100%;
        font-size: 43px;
        text-align: left;
        padding: 0 0 20px 15px;
    }

    .services-list {
        width: 100%;
        padding: 0 0 28px 20px;
    }

    .services-item {
        margin: 0 0 6px 0;
    }

    .a-consultation {}

    .img-header {
        order: -1;
        height: 407px;
        object-fit: contain;
    }

    .arrow-svg {
        bottom: 8px;
    }



    .main {
        // display: none;
    }

    .section-services {
        // display: none;
    }

    .section-clients {
        display: none;
    }

    .image-slider {
        display: none;
    }

    .section-reviews {
        display: none;
    }

    .section-consultation {
        display: none;
    }

    .footer {
        display: none;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .wrapper {
        width: 320px;
    }

    .header {
        display: none;
    }

    .main {
        display: none;
    }

    .section-services {
        display: none;
    }

    .section-clients {
        display: none;
    }

    .image-slider {
        display: none;
    }

    .section-reviews {
        display: none;
    }

    .section-consultation {
        display: none;
    }

    .footer {
        display: none;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .wrapper {
        width: 320px;
    }

    .header {
        display: none;
    }

    .main {
        display: none;
    }

    .section-services {
        display: none;
    }

    .section-clients {
        display: none;
    }

    .image-slider {
        display: none;
    }

    .section-reviews {
        display: none;
    }

    .section-consultation {
        display: none;
    }

    .footer {
        display: none;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .wrapper {
        width: 320px;
    }

    .header {
        display: none;
    }

    .main {
        display: none;
    }

    .section-services {
        display: none;
    }

    .section-clients {
        display: none;
    }

    .image-slider {
        display: none;
    }

    .section-reviews {
        display: none;
    }

    .section-consultation {
        display: none;
    }

    .footer {
        display: none;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    // .wrapper {
    //     width: 320px;
    // }

    // .header {
    //     display: none;
    // }

    // .main {
    //     display: none;
    // }

    // .section-services {
    //     display: none;
    // }

    // .section-clients {
    //     display: none;
    // }

    // .image-slider {
    //     display: none;
    // }

    // .section-reviews {
    //     display: none;
    // }

    // .section-consultation {
    //     display: none;
    // }

    // .footer {
    //     display: none;
    // }
}