// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

    body.lock {
        overflow: hidden;
    }

    .header {
        padding: 13px 15px 0 15px;
    }

    .wrapper {
        width: 100vw;
        margin: 0 auto;
    }

    .header.fullscreen {}

    .top-header {
        padding: 0 0 35px 0;
        align-items: center;
        height: 12vh;

    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 101;
    }

    .nav_link_inst_li {
        display: none;
    }

    .nav_link-inst {
        display: block;
        width: 30px;
        height: 30px;
        order: 3;
    }

    .header__burger span {
        position: absolute;
        background-color: #333333;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #333333;
        position: absolute;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 0;
        width: 110%;
    }

    .header__burger:after {
        bottom: 0;
        width: 90%;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
        width: 100%;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
        width: 100%;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #18b5a4;
        padding: 70px 10px 20px 10px;
    }

    .header__menu.active {
        top: 0;
    }

    .header__list {
        // display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header__list li {
        margin: 0;
        padding: 30px 0 30px 0;
    }

    .nav_item:hover .nav_link,
    .nav_item:active .nav_link {
        color: #AA816D;
    }


    .header__link {
        font-size: 45px;
        font-family: 'Cormorant', serif;
    }


    .logo {
        order: 2;
        height: 100%;
        justify-content: center;
    }

    .logo-img {
        background-size: contain;
        margin: 0;
    }

    .logo-txt {
        height: 100%;
    }

    .txt-logo-1 {
        height: 37.77px;
        font-style: normal;
        font-weight: bold;
        font-size: 31.1013px;
        line-height: 38px;
        width: 73.31px;
    }

    .txt-logo-2 {
        height: 14.81px;
        font-style: normal;
        font-weight: normal;
        font-size: 11.8481px;
        line-height: 14px;
        font-variant: small-caps;
        width: 78.13px;
    }

    .nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #F5F0EA;
        padding: 70px 10px 20px 10px;
        z-index: 100;
    }

    .middle-header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-bottom: 125px;
    }

    .txt-header {
        padding: 20px 0 0 0;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .h1-name {
        width: 100%;
        font-size: 32px;
        text-align: left;
        padding: 0 0 13px 15px;
    }

    .services-list {
        width: 100%;
        padding: 0 0 28px 20px;
    }

    .services-item {
        margin: 0 0 6px 0;
        font-size: 14px;
        line-height: 18px;
    }

    .a-consultation {
        font-size: 12px;
        line-height: 15px;
        width: 69vw;
    }

    .img-header {
        order: -1;
        height: 32vh;
        object-fit: contain;
    }

    .arrow-svg {
        bottom: 49px;
    }

    .main {
        // display: none;
    }

    .section-services {
        padding: 40px 0 40px 0;
    }

    .services-list-section-service {
        padding: 0 0 28px 0px;
    }


    .main {}

    .section-services {}

    .a-anchor-link {}

    .h2-heading {}

    .service-wrapper-left,
    .service-wrapper-right {
        padding: 0 30px 0 30px;
    }

    .separate-service {
        padding: 20px;
        width: 100%;
        margin: 0 0 30px 0;
    }

    .img-separate-service {
        height: 400px;
    }

    .h3-service-name {
        font-size: 28px;
    }

    .services-list.services-list-section-service {}

    .wrapper-price {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .service-price {
        font-size: 42px;
        margin: 0 0 14px 0;
    }

    .a-consultation-service {
        width: 285px;
        height: 78px;
        font-size: 23px;
    }

    .separate-service.separate-service-3 {}



    .separate-service.separate-service-2 {}

    .separate-service.separate-service-4 {}

    .section-clients {}

    .wrapper-swiper {}

    .image-slider.swiper-container {}

    .image-slider__wrapper.swiper-wrapper {}

    .image-slider__slide.swiper-slide {}

    .image-slider__image {}

    .span-neigrushki {}

    .span-neigrushki.span-neigrushki-width {}

    .swiper-button-prev {}

    .arrow-svg.arrow-svg-slider {}

    .swiper-button-next {}

    .swiper-pagination {}

    .section-reviews.section-clients {}

    .wrapper-swiper.wrapper-swiper-reviews {}

    .image-slider.swiper-container.image-slider-reviews {}

    .image-slider__slide.swiper-slide.swiper-slide-reviews {}

    .image-slider__image.image-slider__image-reviews {}

    .img-slide-reviews {}

    .section-consultation {}

    .pop-up_window {}

    .pop-up_window-application {}

    .pop-up-svg {}

    .p-pop-up {}

    .div-cross {}

    .consultation-img {}

    .cons-img {}

    .form-consultation {}

    .p-form-consultation.item-form-li {}

    .item-form-li {}

    .input-text._req {}

    .select-form.select {}

    .option-form {}

    .input-text._req._email {}

    .p-input-text-error {}

    .button {}

    .button-form {}

    .span-button-form {}

    .p-form-confidentiality {}

    .confidentiality {}

    .footer {}

    .nav.nav-footer {}

    .logo.logo-footer {}

    .logo-img.logo-img-footer {}

    .txt-logo-1.txt-logo-1-footer {}

    .txt-logo-2.txt-logo-2-footer {}

    .nav_list.nav_list-footer {}

    .nav_item.nav_item-footer {}

    .nav_link.nav_link-footer {}

    .nav_link.nav_item-instagram {}

    .nav_link_instagram.nav_link_instagram-footer {}

    .white-border-footer {}

    .nav_list.nav_list-footer.nav_list-footer-bottom {}

    .nav_item.nav_item-footer.nav_item-footer-link {}


    .section-clients {
        // display: none;
        padding: 40px 0 0 0;
        min-height: 90vh;
    }

    .image-slider {
        // display: none;
    }

    body>div>main>section.section-clients>h2 {
        padding: 0px 0 40px 0;
    }

    .swiper-container {
        padding: 120px 0 220px 0;
        height: 100%;
        /* padding: 0 0 120px 0; */
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        // margin: 0 0 120px 0;
    }

    .image-slider .swiper-pagination {
        bottom: 109px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 92px;
        left: auto;
        width: 100%;
    }

    div.swiper-pagination.swiper-pagination-bullets>span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 30px;
    }

    div.swiper-pagination.swiper-pagination-bullets>span.swiper-pagination-bullet {
        width: 30px;
    }

    body>div>main>section.section-clients>div>div.image-slider.swiper-container.swiper-container-initialized.swiper-container-horizontal.swiper-container-free-mode>div.swiper-button-prev {
        top: 92%;
        left: 35%;
        outline: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 92%;
        right: 39%;
        outline: none;
    }

    div.swiper-button-prev>svg {
        bottom: -16px;
        left: -150px;
    }

    div.swiper-button-next>svg {
        bottom: -3px;
    }

    button:active,
    button:focus {
        outline: none !important;
    }

    button::-moz-focus-inner {
        border: 0 !important;
    }

    // a.active.focus,
    // a.active:focus,
    // a.focus,
    // a:active.focus,
    // a:active:focus,
    // a:focus,
    // button.active.focus,
    // button.active:focus,
    // button.focus,
    // button:active.focus,
    // button:active:focus,
    // button:focus,
    // .btn.active.focus,
    // .btn.active:focus,
    // .btn.focus,
    // .btn:active.focus,
    // .btn:active:focus,
    // .btn:focus {
    //     outline: 0 !important;
    //     outline-color: transparent !important;
    //     outline-width: 0 !important;
    //     outline-style: none !important;
    //     box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
    // }



    .section-clients {}

    .wrapper-swiper {}

    .image-slider.swiper-container {}

    .image-slider__wrapper.swiper-wrapper {}

    .image-slider__slide.swiper-slide {}

    .image-slider__image {}

    .span-neigrushki {}

    .span-neigrushki.span-neigrushki-width {}

    .span-neigrushki-width-2 {
        bottom: 10%;
        left: 63%;
    }

    body>div>main>section.section-clients>h2 {
        padding: 0px 0 16px 0;
    }


    .swiper-button-prev {}

    .arrow-svg.arrow-svg-slider {}

    .swiper-button-next {}

    .swiper-pagination {}

    .section-reviews.section-clients {}

    .wrapper-swiper.wrapper-swiper-reviews {}

    .image-slider.swiper-container.image-slider-reviews {}

    .image-slider__slide.swiper-slide.swiper-slide-reviews {}

    .image-slider__image.image-slider__image-reviews {}

    .section-reviews {
        // display: none;
    }

    #swiper-button-prev-reviews {
        top: 92%;
        right: 34%;
    }

    #swiper-button-next-reviews {
        top: 92%;
        right: 34%;
    }
    

    body>div>main>section.section-reviews.section-clients>div>div>div.swiper-pagination.swiper-pagination-bullets {
        bottom: 90px;
    }

    .section-reviews.section-clients>div>div {
        padding: 120px 0 260px 0;
    }

    .section-consultation {
        display: none;
    }

    .footer {
        display: none;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .wrapper {
        width: 320px;
    }

    .header {
        display: none;
    }

    .main {
        display: none;
    }

    .section-services {
        display: none;
    }

    .section-clients {
        display: none;
    }

    .image-slider {
        display: none;
    }

    .section-reviews {
        display: none;
    }

    .section-consultation {
        display: none;
    }

    .footer {
        display: none;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .wrapper {
        width: 320px;
    }

    .header {
        display: none;
    }

    .main {
        display: none;
    }

    .section-services {
        display: none;
    }

    .section-clients {
        display: none;
    }

    .image-slider {
        display: none;
    }

    .section-reviews {
        display: none;
    }

    .section-consultation {
        display: none;
    }

    .footer {
        display: none;
    }
}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) {
//     .wrapper {
//         width: 320px;
//     }

//     .header {
//         display: none;
//     }

//     .main {
//         display: none;
//     }

//     .section-services {
//         display: none;
//     }

//     .section-clients {
//         display: none;
//     }

//     .image-slider {
//         display: none;
//     }

//     .section-reviews {
//         display: none;
//     }

//     .section-consultation {
//         display: none;
//     }

//     .footer {
//         display: none;
//     }
// }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    // .wrapper {
    //     width: 320px;
    // }

    // .header {
    //     display: none;
    // }

    // .main {
    //     display: none;
    // }

    // .section-services {
    //     display: none;
    // }

    // .section-clients {
    //     display: none;
    // }

    // .image-slider {
    //     display: none;
    // }

    // .section-reviews {
    //     display: none;
    // }

    // .section-consultation {
    //     display: none;
    // }

    // .footer {
    //     display: none;
    // }
}