.wrapper-policy {
  width: 100%;
  padding: 60px 165px 60px 165px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header-policy {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}
.a-comeBack {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  min-height: 22px;
  margin: 0 0 39px 0;
}
.a-comeBack:hover {
  text-decoration: none;
}
.svg-comeBack {
  transform: rotate(90deg);
  width: 45px;
  margin: 0 30px 0 0;
}
.span-comeBack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #141A26;
}
.h1-policy {
  margin: 0 0 60px 0;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: #366BDB;
}
.a-site-sc {
  color: #333333;
}
.a-site-sc:hover {
  color: #AA816D;
}
@media (max-width: 575.98px) {
  .wrapper-policy {
    padding: 10px;
  }
  .h1-policy {
    margin: 0 0 60px 0;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #366BDB;
  }
}
