/* ------------------ */
.title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin: 0px 0px 30px 0px;
}

/* ------------------ */

/* Флекс */
.block {
    display: flex;
}

.block__side {
    flex: 0 0 300px;
    background-color: #77608d;
}

.block__body {
    padding: 0px 0px 0px 30px;
    flex: 1 1 auto;
    min-width: 0;
}

.wrapper-swiper {
    // padding: 0 0 110px 0;
    padding: 0 0 0 0;
    min-height: 100%;
    width: 100%;
    position: relative;
}

.wrapper-swiper-gradient-left {
    position: absolute;
    z-index: 100;
    width: 190px;
    height: 100%;
    background: linear-gradient(271.19deg, #FFFFFF 49.69%, rgba(255, 255, 255, 0) 124.53%);
    transform: rotate(180deg);
}

.section-clients>h2 {
    padding: 0;
    margin: 0 0 60px 0;
}

.section-journal__txt {
    width: 538px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #333333;
    margin: 0 0 0px 0;
}

.wrapper-swiper-gradient-right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 190px;
    height: 100%;
    background: linear-gradient(271.19deg, #FFFFFF 49.69%, rgba(255, 255, 255, 0) 124.53%);
}

div.image-slider__slide>div>img {
    object-fit: contain;
    object-position: center;
    width: 390px;
    height: 308px;
}

/* ------------------ */


.section-clients {
    width: 100%;
    // min-height: 100vh;
    // position: relative;
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // flex-wrap: wrap;
    // min-width: 0;
    // padding: 0px 0px 0px 30px;
    // flex: 1 1 auto;
    min-width: 0;
}


/* Флекс */
.block {
    display: flex;
}

.block__side {
    flex: 0 0 300px;
    background-color: #77608d;
}

.block__body {
    padding: 0px 0px 0px 30px;
    flex: 1 1 auto;
    min-width: 0;
}


.image-slider {
    // padding: 30px 0 70px 0;
    padding: 0;
}

.swiper-container {
    overflow: hidden;
    padding-bottom: 110px;
}

.swiper-pagination-bullet {
    width: 300px;
    height: 1px;
    background: #D0D0D0;
}

div.swiper-pagination.swiper-pagination-bullets>span.swiper-pagination-bullet {
    width: 50px;
    height: 1px;
    background: #D0D0D0;
    margin: 0 0;
}

div.swiper-pagination.swiper-pagination-bullets>span.swiper-pagination-bullet-active {
    width: 50px;
    height: 1px;
    background: #AA816D;
}

.image-slider .swiper-pagination-bullet {
    width: 50px;
    height: 1px;
    background: #AA816D;
}

// div.swiper-button-prev>svg {
//     animation: none;
//     bottom: 0;
//     transform: rotate(90deg);
// }


// div.swiper-button-next>svg {
//     animation: none;
//     bottom: 0;
//     transform: rotate(270deg);
// }

.image-slider-clients__control {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 48px 0 0 0;

}

// div.swiper-button-prev {
//     outline: none;
//     z-index: 1000;
//     top: 90%;
//     left: 76%;
// }

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 30%;
    width: 41%;
}

// .swiper-button-next,
// .swiper-button-prev {
//     top: 140%;
// }

// .swiper-button-prev,
// .swiper-container-rtl .swiper-button-next {
//     top: 90%;
//     right: 16%;
// }

// .swiper-button-next,
// .swiper-button-prev {
//     top: 90%;
//     right: 16%;
// }

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    display: none;
}

#swiper-button-prev-clients,
#swiper-button-next-clients {
    filter: brightness(0.5);
    position: static;
    height: 48px;
    width: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    outline: none;
}






.swiper-slide-active {
    transform: scale(1.7);
    opacity: 1;
    transition: transform 0.5s;
}

.swiper-pagination-current,
.swiper-pagination-total {
    padding: 0 0 0 5px;
    font-family: Lighthaus;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;

}

.swiper-pagination-total {
    display: none;
}



.image-slider__image {
    text-align: center;
    position: relative;
}

.image-slider__image img {
    max-width: 100%;
}

.image-slider__image-img {
    // width: 390px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iSlImg1 {
    background-image: url(../img/journal-1__GUIDE.jpg);
}

.iSlImg2 {
    background-image: url(../img/journal-2__GUIDE-min.png);
}

.iSlImg3 {
    background-image: url(../img/journal-3__GUIDE-min.png);
}

.iSlImg4 {
    background-image: url(../img/photoGallery/tinified/photoGallery4.jpg);
}

.iSlImg5 {
    background-image: url(../img/photoGallery/tinified/photoGallery6.jpg);
}

.iSlImg6 {
    background-image: url(../img/photoGallery/tinified/photoGallery7.jpg);
}

.iSlImg7 {
    background-image: url(../img/photoGallery/tinified/photoGallery2.jpg);
}

/* Стрелки */
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: #fff;
    font-size: 80px;
}

/* Пагинация */
.image-slider .swiper-pagination {
    bottom: 40px;
}

/* Буллеты */
.image-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #fff;
}

/* Фракция */
.image-slider .swiper-pagination-fraction {
    position: static;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(51, 51, 51, 0.4);
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 26px 0 26px;
    color: #fff;
}


// .image-slider__wrapper .swiper-wrapper {
//     margin: 0 0 46px 0;
// }




// #text {
//     color: white;
// }

/* Прогрессбар */
.image-slider .swiper-pagination-progressbar-fill {
    background-color: #7a956b;
}

/* Скролл */
.image-slider .swiper-scrollbar-drag {
    cursor: pointer;
    background-color: #7a956b;
}


.swiper-container {
    padding: 60px 0 0 0;
    margin: 0 0 55px 0;
}

.swiper-slide {
    opacity: 0.5;
    transition: transform 0.5s;
}

.swiper-slide-active {
    transform: scale(1.5);
    opacity: 1;
    transition: transform 0.5s;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    stroke: #333333;
    // fill: #333333;
}

.swiper-button-next,
.swiper-button-prev {
    stroke: #333333;
    // fill: none;
}



.swiper-button-next svg:hover,
.swiper-button-prev svg:hover {
    stroke: #AA816D;
    // fill: red;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    stroke: #AA816D;
    // fill: red;
}

.span-neigrushki {
    position: absolute;
    bottom: 2%;
    left: 58%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 13.5px;
    color: #FFFFFF;
}

.span-neigrushki-width {
    position: absolute;
    bottom: 2%;
    left: 68%;
}