// section-cars


// основной цвет фона
@backgroundColor: #FDFDFD;
// основной цвет шрифта
@txtBaseColor: #141A26;
// цвет шрифта в кнопках и карточках
@txtButtonColor: #FDFDFD;
// // базовый цвет
// @baseColor: #fff;
// цвет для кнопок
@colorButton: linear-gradient(180deg, #FF9823 0%, #FF591F 100%);
// background: @colorButton;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     color: @colorButton;
// цвет для фона карточек
@colorCards: linear-gradient(312.61deg, #366BDB 16.36%, #578CFB 91.28%);
// цвет кнопок при наведении
@colorButtonHover: 0px 21px 50px rgba(255, 95, 5, 0.35);



.section-cars {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    padding: 0 0 50px 0;

}

.h2-heading-cars {
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    color: @txtBaseColor;
    text-align: center;
    margin: 0 0 20px 0;
}

.section-cars {}

.h2-heading-cars {}

.slider-container.slider-container-cars {}

.slider-top.slider-top-cars {}

.slider-buttons.slider-buttons-cars {}

.swiper-button-prev.swiper-button-prev-cars {}

.swiper-button-next.swiper-button-next-cars {}

.swiper-container.swiper-container-cars {}

.swiper-wrapper.swiper-wrapper-cars {}

.swiper-slide.swiper-slide-cars.card {
    width: 415px;
    height: 299.9px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.sswiper-slide-cars.swiper-slide-cars-active {
    transform: scale(1.2);
    opacity: 1;
    transition: transform 0.5s;
}

.swiper-pagination.swiper-pagination-cars {
    bottom: -1px;
}

.slideCars1 {
    background-image: url(../img/1imgCar.jpg);
}

.slideCars2 {
    background-image: url(../img/2imgCar.jpg);
}

.slideCars3 {
    background-image: url(../img/3imgCar.jpg);
}

.slideCars4 {
    background-image: url(../img/4imgCar.jpg);
}

.slideCars5 {
    background-image: url(../img/5imgCar.jpg);
}

.slideCars6 {
    background-image: url(../img/6imgCar.jpg);
}

.swiper-button-prev-cars,
.swiper-button-next-cars {
    position: static;
    margin-left: 10px;
}

.swiper-container-cars {
    padding: 50px 0;
}

.swiper-slide-cars {
    opacity: 0.5;
    transition: transform 0.5s;
}

.swiper-slide-cars.swiper-slide-active {
    transform: scale(1.2);
    opacity: 1;
    transition: transform 0.5s;
}