.section-reviews {
  width: 100%;
  min-height: 50vh;
  padding: 26px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0;
}
.wrapper-benefit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.card-benefit {
  width: 264px;
  margin: 0 15px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.picture-benefit {
  width: 100%;
  height: 60px;
  background-position: left 5% bottom 5%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 0 15px 0;
}
.txt-benefit {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  text-align: left;
}
.p-b-1 {
  background-image: url(../img/picture-benefit-1__GUIDE.png);
}
.p-b-2 {
  background-image: url(../img/picture-benefit-2__GUIDE.png);
}
.p-b-3 {
  background-image: url(../img/picture-benefit-3__GUIDE.png);
}
.p-b-4 {
  background-image: url(../img/picture-benefit-4__GUIDE.png);
}
