@keyframes cubeAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section-services {
  background: transparent;
  width: 100%;
  min-height: 900px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.h2-heading-services {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: #141A26;
  text-align: center;
  margin: 0 0 63px 0;
  background: transparent;
}
.service-wrapper {
  position: relative;
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.separate-service {
  position: relative;
  width: 552px;
  height: 360px;
  background: linear-gradient(312.61deg, #366BDB 16.36%, #578CFB 91.28%);
  border-radius: 6px;
  padding: 68px 0 0 51px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 30px 0;
}
.decorative-square-2 {
  position: absolute;
  width: 310px;
  height: 310px;
  right: -305px;
  bottom: 25px;
  border: 24.8851px solid rgba(20, 26, 38, 0.04);
  box-sizing: border-box;
  border-radius: 53.2013px;
  animation: cubeAnimation infinite linear 10s;
}
.img-service {
  height: 215px;
  position: absolute;
  top: 68px;
  right: -1px;
  object-fit: cover;
}
.s-s-1 {
  width: 552px;
  height: 360px;
}
.s-s-2 {
  width: 555px;
  height: 360px;
}
.s-s-3 {
  width: 653px;
  height: 360px;
}
.s-s-4 {
  width: 457px;
  height: 360px;
}
.s-s-5 {
  width: 552px;
  height: 360px;
}
.s-s-6 {
  width: 555px;
  height: 360px;
}
.s-s-7 {
  width: 655px;
  height: 360px;
}
.s-s-8 {
  width: 457px;
  height: 360px;
}
.s-s-9 {
  width: 564px;
  height: 360px;
}
.h3-service-name {
  min-height: 93px;
  width: 70%;
  text-align: left;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  color: #FDFDFD;
  margin: 0 0 30px 0;
}
.a-consultation.a-consultation-service {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 50px;
  width: 184px;
  height: 70px;
  background: linear-gradient(180deg, #FF9823 0%, #FF591F 100%);
  border-radius: 6px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FDFDFD;
  margin: 10px 0px;
}
