// .section-services ===============================================

// основной цвет фона
@backgroundColor: #FDFDFD;
// основной цвет шрифта
@txtBaseColor: #141A26;
// цвет шрифта в кнопках и карточках
@txtButtonColor: #FDFDFD;
// // базовый цвет
// @baseColor: #fff;
// цвет для кнопок
@colorButton: linear-gradient(180deg, #FF9823 0%, #FF591F 100%);
// background: @colorButton;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     color: @colorButton;
// цвет для фона карточек
@colorCards: linear-gradient(312.61deg, #366BDB 16.36%, #578CFB 91.28%);
// цвет кнопок при наведении
@colorButtonHover: 0px 21px 50px rgba(255, 95, 5, 0.35);


.section-services {
    // background: #F5F0EA;
    width: 100%;
    min-height: 900px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.h2-heading-services {
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    color: @txtBaseColor;
    text-align: center;
    margin: 0 0 63px 0;
}

.service-wrapper {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.separate-service {
    width: 552px;
    height: 360px;
    background: @colorCards;
    border-radius: 6px;
    padding: 68px 0 0 51px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px;
}

.h3-service-name {
    min-height: 93px;
    width: 70%;
    text-align: left;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: @txtButtonColor;
    margin: 0 0 30px 0;
}

.a-consultation.a-consultation-service {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 50px;
    width: 184px;
    height: 70px;
    background: @colorButton;
    border-radius: 6px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: @txtButtonColor;
    margin: 10px 0px;
}