.section-reviews {
  width: 100%;
  min-height: 100vh;
  padding: 26px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0;
  background: #F5F0EA;
}
.wrapper-swiper-reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.image-slider-reviews {
  height: 630px;
  padding: 117px 0 261px 0;
}
.img-slide-reviews {
  width: 409px;
  height: 438px;
}
.wrapper-swiper-reviews .swiper-slide-active {
  transform: scale(1.8);
}
body > div > main > section.section-reviews.section-clients > h2 {
  padding: 0px 0 13px 0;
}
body > div > main > section.section-reviews.section-clients > div > div > div.swiper-pagination.swiper-pagination-bullets {
  bottom: 23px;
}
#swiper-button-next-reviews,
#swiper-button-prev-reviews {
  top: 95%;
}
body > div > main > section.section-reviews.section-clients > div > div {
  margin: 0;
  width: 84%;
}
.swiper-wrapper .swiper-slide-reviews {
  margin-right: 0px;
}
div.image-slider__slide > div > a > img {
  object-fit: contain;
  object-position: center;
  width: 390px;
  height: 308px;
}
#swiper-pagination-reviews > span {
  width: 26px;
}
.image-slider__image-reviews {
  display: block;
}
