// .section-services ===============================================

@backgroundColor: #FFFFFF;
// базовый цвет
@baseColor: #fff;
// LightSeaGreen - цвет для кнопок
@colorButton: #20B2AA;
// font-family: 'Roboto', sans-serif;
@colorMain: #AA816D;
@colorButton: #AA816D;


.section-services {
    position: relative;
    // background: #F5F0EA;
    width: 100%;
    min-height: 900px;
    padding: 60px 20px 30px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.wrap-container-sServices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}

.section-services .h2-heading {
    margin: 0 0 116px 0;
}

.h2-heading {
    width: 100%;
    font-family: Lighthaus;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 54px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    margin: 0 0 116px 0;
}

.wrapper-price {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.separate-service {
    position: relative;
    width: 540px;
    padding: 28px;
    background-color: #FFFFFF;
    // min-height: 656px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0 0px 30px 0;
    // border-radius: 5px;
    // overflow: hidden;
    border: 1px solid #333333;
}


// swiper-container-service

.separate-service .slider-container {
    width: 100%;
    height: 450px;
    margin: 0 0 54px 0;
}

.swiper-container-service {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {}




#swiper-container-service .swiper-slide {
    width: 100%;
    // height: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
}

#swiper-container-service .swiper-slide-active {
    transform: scale(1);
}

#swiper-container-service .swiper-pagination-sService {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#swiper-container-service .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #AA816D;
    border-radius: 50%;
    outline: none;

}



// .card {}

// .swardrobeParsing-1 {
//     background-image: url(../img/imagesSectionSERVICES/wardrobe-parsing-slider-1.jpg);
// }

// .swardrobeParsing-2 {
//     background-image: url(../img/imagesSectionSERVICES/wardrobe-parsing-slider-2.jpg);
// }

// .swardrobeParsing-3 {
//     background-image: url(../img/imagesSectionSERVICES/wardrobe-parsing-slider-3.jpg);
// }

// .swardrobeParsing-4 {
//     background-image: url(../img/imagesSectionSERVICES/wardrobe-parsing-slider-4.jpg);
// }

// .swardrobeParsing-5 {
//     background-image: url(../img/imagesSectionSERVICES/wardrobe-parsing-slider-5.jpg);
// }

// .swardrobeParsing-6 {
//     background-image: url(../img/imagesSectionSERVICES/wardrobe-parsing-slider-6.jpg);
// }

// .swardrobeParsing-7 {
//     background-image: url(../img/imagesSectionSERVICES/wardrobe-parsing-slider-7.jpg);
// }

// .capsuleForChildren-1 {
//     background-image: url(../img/imagesSectionSERVICES/capsule-for-children-1-min.jpg);
// }

// .capsuleForChildren-2 {
//     background-image: url(../img/imagesSectionSERVICES/capsule-for-children-2-min.jpg);
// }

// .capsuleForChildren-3 {
//     background-image: url(../img/imagesSectionSERVICES/capsule-for-children-3-min.jpg);
// }

// .capsuleForChildren-4 {
//     background-image: url(../img/imagesSectionSERVICES/capsule-for-children-4-min.jpg);
// }

// .capsuleForChildren-5 {
//     background-image: url(../img/imagesSectionSERVICES/capsule-for-children-5-min.jpg);
// }

// .capsuleForAdults-1 {
//     background-image: url(../img/imagesSectionSERVICES/adult-capsule-1-min.jpg);
// }

// .capsuleForAdults-2 {
//     background-image: url(../img/imagesSectionSERVICES/adult-capsule-2-min.jpg);
// }

// .capsuleForAdults-3 {
//     background-image: url(../img/imagesSectionSERVICES/adult-capsule-3-min.jpg);
// }

// .capsuleForAdults-4 {
//     background-image: url(../img/imagesSectionSERVICES/adult-capsule-4-min.jpg);
// }

// .capsuleForAdults-5 {
//     background-image: url(../img/imagesSectionSERVICES/adult-capsule-5-min.jpg);
// }

// .capsuleForAdults-6 {
//     background-image: url(../img/imagesSectionSERVICES/adult-capsule-6-min.jpg);
// }

// .capsuleForAdults-7 {
//     background-image: url(../img/imagesSectionSERVICES/adult-capsule-7-min.jpg);
// }

// .imageSelection-1 {
//     background-image: url(../img/imagesSectionSERVICES/image-selection-1-min.jpg);
// }

// .imageSelection-2 {
//     background-image: url(../img/imagesSectionSERVICES/image-selection-2-min.jpg);
// }

// .imageSelection-3 {
//     background-image: url(../img/imagesSectionSERVICES/image-selection-3-min.jpg);
// }

// .imageSelection-4 {
//     background-image: url(../img/imagesSectionSERVICES/image-selection-4-min.jpg);
// }

// .imageSelection-5 {
//     background-image: url(../img/imagesSectionSERVICES/image-selection-5-min.jpg);
// }

// .imageSelection-6 {
//     background-image: url(../img/imagesSectionSERVICES/image-selection-6-min.jpg);
// }

// .imageSelection-7 {
//     background-image: url(../img/imagesSectionSERVICES/image-selection-7-min.jpg);
// }

// .filmingStylization-1 {
//     background-image: url(../img/imagesSectionSERVICES/stylization-of-a-photo-session-1-min.jpg);
// }

// .filmingStylization-2 {
//     background-image: url(../img/imagesSectionSERVICES/stylization-of-a-photo-session-2-min.jpg);
// }

// .filmingStylization-3 {
//     background-image: url(../img/imagesSectionSERVICES/stylization-of-a-photo-session-3-min.jpg);
// }


// // swiper-container-service

// .separate-service-1 {
//     overflow: hidden;
// }

.separate-service-2 {
    margin: 0px 0 89px 0;
}

.separate-service-1 {
    margin: 0px 0 89px 0;
}

.separate-service-3 {
    margin: 0px 0px 0 0;
}

.separate-service-4 {
    margin: 60px 0 89px 0;
}

.img-separate-service {
    // позиционирование изображения
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: 0 0 20px 0;
}

.h3-service-name {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-align: left;
    color: #333333;
    margin: 0 0 16px 0;
}


.services-list-section-service {
    padding: 0;
}

.services-list-section-service .services-item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    margin: 0 0 10px 0px;
    /* text-indent: 15px; */
    padding: 0 0 0 18px;

}

.services-item::before {
    font-size: 44px;
}

.service-price {
    height: 58px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.a-consultation-service {
    width: 217px;
}

.wrapper-what-inside__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.wrapper-what-inside__right {}

.what-inside__pseudo-element {

    position: absolute;
    top: -52px;
    right: 28px;
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #333333;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.what-inside__img {
    z-index: 3;
}

.what-inside__circle {
    z-index: 2;
    position: absolute;
    width: 41px;
    height: 41px;
    border-radius: 50%;
}

.w-i__circle1 {
    left: 45px;
    top: 37px;
    background: #F5DF4D;
}

.w-i__circle2 {
    background: #949597;
    left: 43px;
    top: 15px;
}

.w-i__circle3 {
    background: #949597;
    left: 21px;
    top: 42px;
}

.w-i__circle4 {
    background: #F5DF4D;
    left: 15px;
    top: 40px;
}

.w-i__circle5 {
    background: #949597;
    left: 43px;
    top: 42px;
}

.separate-service-5 .h3-service-name,
.separate-service-3 .h3-service-name,
.separate-service-1 .h3-service-name {
    margin: 0;
}

.section-services__gray-circle {
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    width: 238.15px;
    height: 238.15px;
    left: -89px;
    top: 111vh;
    background: #949597;
}

.section-services__empty-circle {
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    width: 318px;
    height: 318px;
    left: -184px;
    top: 92vh;
    border: 1px solid #333333;
}




// // /.section-services ===============================================