.section-services {
  background: #F5F0EA;
  width: 100%;
  min-height: 900px;
  padding: 60px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.wrap-container-sServices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.h2-heading {
  width: 100%;
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #AA816D;
  text-align: center;
  padding: 0 0 60px 0;
  margin: 0;
}
.wrapper-price {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.separate-service {
  width: 540px;
  padding: 46px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 0 0px 30px 0;
  border-radius: 5px;
}
.separate-service .slider-container {
  width: 100%;
  height: 321px;
  margin: 0 0 54px 0;
}
.swiper-container-service {
  width: 100%;
  height: 100%;
}
#swiper-container-service .swiper-slide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}
#swiper-container-service .swiper-slide-active {
  transform: scale(1);
}
#swiper-container-service .swiper-pagination-sService {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#swiper-container-service .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #AA816D;
}
.sSlideService-1 {
  background-image: url(../img/wardrobe-parsing-slider-1.jpg);
}
.sSlideService-2 {
  background-image: url(../img/wardrobe-parsing-slider-2.jpg);
}
.sSlideService-3 {
  background-image: url(../img/wardrobe-parsing-slider-3.jpg);
}
.sSlideService-4 {
  background-image: url(../img/wardrobe-parsing-slider-4.jpg);
}
.sSlideService-5 {
  background-image: url(../img/wardrobe-parsing-slider-5.jpg);
}
.sSlideService-6 {
  background-image: url(../img/wardrobe-parsing-slider-6.jpg);
}
.sSlideService-7 {
  background-image: url(../img/wardrobe-parsing-slider-7.jpg);
}
.separate-service-1 {
  overflow: hidden;
}
.separate-service-2 {
  margin: 0px 0 30px 0;
}
.separate-service-3 {
  margin: 0px 0px 0 0;
}
.separate-service-4 {
  margin: 60px 0 0 0;
}
.img-separate-service {
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin: 0 0 20px 0;
}
.h3-service-name {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #333333;
  margin: 0 0 20px 0;
}
.services-list-section-service {
  padding: 0 0 30px 0;
}
.services-item {
  margin: 0 0 10px 0px;
  text-indent: 15px;
}
.services-item::before {
  font-size: 30px;
}
.service-price {
  height: 58px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.a-consultation-service {
  width: 217px;
}
