/* ------------------ */
.title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin: 0px 0px 30px 0px;
}

/* ------------------ */

/* Флекс */
.block {
    display: flex;
}

.block__side {
    flex: 0 0 300px;
    background-color: #77608d;
}

.block__body {
    padding: 0px 0px 0px 30px;
    flex: 1 1 auto;
    min-width: 0;
}

.wrapper-swiper {
    // padding: 0 0 110px 0;
    padding: 0 0 0 0;
    min-height: 100%;
    width: 100%;
    position: relative;
}

.wrapper-swiper-gradient-left {
    position: absolute;
    z-index: 100;
    width: 190px;
    height: 100%;
    background: linear-gradient(271.19deg, #FFFFFF 49.69%, rgba(255, 255, 255, 0) 124.53%);
    transform: rotate(180deg);
}

body>div>main>section.section-clients>h2 {
    padding: 0px 0 34px 0;
}

.wrapper-swiper-gradient-right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 190px;
    height: 100%;
    background: linear-gradient(271.19deg, #FFFFFF 49.69%, rgba(255, 255, 255, 0) 124.53%);
}

div.image-slider__slide>div>img {
    object-fit: contain;
    object-position: center;
    width: 390px;
    height: 308px;
}

/* ------------------ */


.section-clients {
    width: 100%;
    // min-height: 100vh;
    // position: relative;
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;
    // flex-wrap: wrap;
    // min-width: 0;
    // padding: 0px 0px 0px 30px;
    // flex: 1 1 auto;
    min-width: 0;
}


/* Флекс */
.block {
    display: flex;
}

.block__side {
    flex: 0 0 300px;
    background-color: #77608d;
}

.block__body {
    padding: 0px 0px 0px 30px;
    flex: 1 1 auto;
    min-width: 0;
}

/* ------------------ */


// #swiper-wrapper-ac359571033f09b5f>div.image-slider__slide.swiper-slide.swiper-slide-visible.swiper-slide-active {}

// #swiper-wrapper-3a25415ad8b40973>div.image-slider__slide.swiper-slide.swiper-slide-visible.swiper-slide-active>div>img {
//     width: 800px;
// }

// .swiper-slide-active {
//     width: 800px;
// }

.image-slider {
    // padding: 30px 0 70px 0;
    padding: 0;
}

.swiper-container {
    overflow: hidden;
    padding-bottom: 110px;
}

.swiper-pagination-bullet {
    width: 300px;
    height: 1px;
    background: #D0D0D0;
}

div.swiper-pagination.swiper-pagination-bullets>span.swiper-pagination-bullet {
    width: 50px;
    height: 1px;
    background: #D0D0D0;
    margin: 0 0;
}

div.swiper-pagination.swiper-pagination-bullets>span.swiper-pagination-bullet-active {
    width: 50px;
    height: 1px;
    background: #AA816D;
}

.image-slider .swiper-pagination-bullet {
    width: 50px;
    height: 1px;
    background: #AA816D;
}

div.swiper-button-prev>svg {
    animation: none;
    bottom: 0;
    transform: rotate(90deg);
}


div.swiper-button-next>svg {
    animation: none;
    bottom: 0;
    transform: rotate(270deg);
}

// body>div>main>section.section-clients>div>div.image-slider.swiper-container.swiper-container-initialized.swiper-container-horizontal.swiper-container-free-mode>div.swiper-button-prev>svg {
//     animation: none;
//     bottom: 0;
//     transform: rotate(90deg);
// }


// body>div>main>section.section-clients>div>div.image-slider.swiper-container.swiper-container-initialized.swiper-container-horizontal.swiper-container-free-mode>div.swiper-button-next>svg {
//     animation: none;
//     bottom: 0;
//     transform: rotate(270deg);
// }


div.swiper-button-prev {
    outline: none;
    z-index: 1000;
    top: 90%;
    left: 76%;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 30%;
    width: 41%;
}

.swiper-button-next,
.swiper-button-prev {
    top: 140%;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    top: 90%;
    right: 16%;
}

.swiper-button-next,
.swiper-button-prev {
    top: 90%;
    right: 16%;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    display: none;
}

.image-slider .swiper-button-prev,
.image-slider .swiper-button-next {
    filter: brightness(0.5);
}






.swiper-slide-active {
    transform: scale(1.7);
    opacity: 1;
    transition: transform 0.5s;
}

.image-slider__wrapper {}

.image-slider__slide {}

.image-slider__image {
    text-align: center;
    position: relative;
}

.image-slider__image img {
    max-width: 100%;
}

/* Стрелки */
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: #fff;
    font-size: 80px;
}

/* Пагинация */
.image-slider .swiper-pagination {
    bottom: 40px;
}

/* Буллеты */
.image-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #fff;
}

/* Фракция */
.image-slider .swiper-pagination-fraction {
    font-size: 20px;
    color: #fff;
}

/* Прогрессбар */
.image-slider .swiper-pagination-progressbar-fill {
    background-color: #7a956b;
}

/* Скролл */
.image-slider .swiper-scrollbar-drag {
    cursor: pointer;
    background-color: #7a956b;
}

/* Автоширина */
.image-slider .swiper-slide {
    /* width: auto; */
}

.swiper-container {
    padding: 60px 0 129px 0;
}

.swiper-slide {
    opacity: 0.5;
    transition: transform 0.5s;
}

.swiper-slide-active {
    transform: scale(1.5);
    opacity: 1;
    transition: transform 0.5s;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    stroke: #333333;
    // fill: #333333;
}

.swiper-button-next,
.swiper-button-prev {
    stroke: #333333;
    // fill: none;
}



.swiper-button-next svg:hover,
.swiper-button-prev svg:hover {
    stroke: #AA816D;
    // fill: red;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    stroke: #AA816D;
    // fill: red;
}

.span-neigrushki {
    position: absolute;
    bottom: 2%;
    left: 58%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 13.5px;
    color: #FFFFFF;
}

.span-neigrushki-width {
    position: absolute;
    bottom: 9%;
    left: 78%;
}

/* Мультирядность  */
/* 
.image-slider {
	height: 700px;
}
.image-slider .swiper-slide {
	height: calc((100% - 30px) / 2);
	overflow: hidden;
}
*/

/* Вертикальный слайдер */
/* 
.image-slider {
	padding: 0px 0 0px 0;
	height: 700px;
}
 */

/* Эффкт куб */
/*
.image-slider {
	width: 500px;
}
*/

/* Миниатюры (превью) */
/* 
.image-mini-slider {
}
.image-mini-slider__wrapper {
}
.image-mini-slider__slide {
	opacity: 0.2;
	transition: opacity 0.3s ease 0s;
}
.image-mini-slider__slide.swiper-slide-thumb-active {
	opacity: 1;
}

.image-mini-slider__image {
	position: relative;
	padding: 0px 0px 30% 0px;
	cursor: pointer;
}
.image-mini-slider__image img {
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
 */

/* Слайдер в слайдере */
/*
.image-in-slider {
	height: 450px;
}

.image-in-slider__wrapper {
}

.image-in-slider__slide {
	height: 450px;
}

.image-in-slider__image img {
	max-width: 100%;
}
*/

/* Передача управления  */
/* 
.text {
	font-size: 25px;
	line-height: 150%;
	color: #fff;
	margin: 50px 0;
	background-color: #77608d;
	padding: 10px;
}

.text-slider {
}
.text-slider__wrapper {
}
.text-slider__slide {
	font-size: 25px;
	line-height: 150%;
	color: #fff;
}
.text-slider__slide h2 {
	font-size: 40px;
	font-weight: 700;
	margin: 0px 0px 15px 0px;
} */

/* Обновление слайдера */
/* 
.tabs {
}
.tabs__nav {
	display: flex;
	margin: 0px -2px;
}
.tabs__item {
	background-color: #794f45;
	padding: 20px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	flex: 0 1 33.333%;
	margin: 0px 2px;
	cursor: pointer;
}
.tabs__item._active {
	background-color: #77608d;
}
.tabs__body {
	padding: 20px 0px 0px 0px;
	font-size: 25px;
	color: #fff;
	line-height: 150%;
}
.tabs__block {
	display: none;
}
.tabs__block._active {
	display: block;
}
 */
/* Параллакс слайдер */
/* 
.parallax-slider {
}
.parallax-slider__bg {
	position: absolute;
	width: 300%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.2;
	background: url("../img/05.jpg") top / cover no-repeat;
}
.parallax-slider__wrapper {
}

.parallax-slider__slide {
	color: #fff;
	padding: 50px 100px;
}

.parallax-slider__title {
	font-size: 50px;
	font-weight: 700;
	margin: 0px 0px 20px 0px;
}
.parallax-slider__text {
	font-size: 25px;
	line-height: 150%;
	margin: 0px 0px 30px 0px;
}
.parallax-slider__button {
	background-color: #794f45;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0px 30px;
	min-height: 50px;
	font-size: 20px;
	color: #fff;
}
 */
/* Фракция */
/* 
.image-slider__fraction {
	padding: 10px 0px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	color: #fff;
}
.image-slider__current {
}
.image-slider__sepparator {
	margin: 0px 15px;
}
.image-slider__total {
}
 */