.section-clients {
  position: relative;
  padding: 60px 60px 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.section-slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.h3-section-slider {
  display: none;
}
.swiper-container {
  width: 100%;
  height: 400px;
}
.swiper-slide {
  text-align: center;
  font-size: 45px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 15px 0 15px;
}
.swiper-slide-1 {
  background-image: url(../img/photo-for-gallery-1.jpg);
}
.swiper-slide-2 {
  background-image: url(../img/photo-for-gallery-2.jpg);
}
