@keyframes cubeAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section-price {
  width: 100%;
  padding: 60px 0 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
.wrapper-section-price {
  position: relative;
  width: 1130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.decorative-square-3 {
  position: absolute;
  width: 234px;
  height: 234px;
  left: -283px;
  top: -7px;
  border: 16.4261px solid rgba(20, 26, 38, 0.04);
  box-sizing: border-box;
  border-radius: 35.117px;
  animation: cubeAnimation infinite linear 10s;
}
.decorative-square-4 {
  position: absolute;
  width: 285px;
  height: 285px;
  right: -336px;
  bottom: 0px;
  border: 20px solid rgba(20, 26, 38, 0.04);
  box-sizing: border-box;
  border-radius: 42.7576px;
  animation: cubeAnimation infinite linear 10s;
}
.h2-section-price {
  width: 100%;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: #141A26;
  margin: 0 0 58px 0;
}
.p-section-price {
  width: 100%;
  text-align: left;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #141A26;
  margin: 0 0 20px 0;
}
.input-city-search::-webkit-calendar-picker-indicator {
  display: none;
}
.span-section-price {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #141A26;
  text-align: left;
  margin: 0 0 53px 0;
}
.wrapper-form-section-price {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.form-section-price {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.map {
  position: relative;
}
.map svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.part {
  opacity: 0.3;
  fill: orange;
}
.part:hover {
  transition: opacity 0.2s ease;
  opacity: 0.5;
  cursor: pointer;
}
.description {
  position: relative;
  z-index: 100;
  background-color: #fff;
  display: none;
  position: absolute;
  padding: 20px;
  box-sizing: border-box;
  max-width: 50%;
  max-height: 20%;
  box-shadow: 0 0 32px 10px #ccc;
  right: 26px;
  top: 15px;
  font-family: Inter;
}
#cancel {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  top: 20px;
}
#zona-1 {
  position: absolute;
  fill: green;
}
#zona-2 {
  position: absolute;
  fill: yellow;
}
#zona-3 {
  position: absolute;
  fill: orange;
}
#zona-4 {
  position: absolute;
  z-index: 20;
  fill: white;
}
.description img {
  width: 250px;
  margin-bottom: 20px;
}
.input-city-search {
  width: 100%;
  height: 58px;
  left: 390px;
  background: #FDFDFD;
  border: 2px solid rgba(20, 26, 38, 0.2);
  box-sizing: border-box;
  border-radius: 3px;
  margin: 0 0 24px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #141A26;
  padding: 15px 25px 15px 25px;
}
.button-cities {
  width: 350px;
  height: 30px;
  text-align: left;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: rgba(20, 26, 38, 0.6);
  outline: none;
  margin: 0 0 20px 0;
  background: none;
}
.button-cities:focus {
  color: #366BDB;
  outline: none;
}
.img-local-map {
  width: 750px;
  height: 570px;
  object-fit: contain;
}
