.section-advantages {
  background: #F7F7F7;
  padding: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.h2-section-advantages {
  width: 100%;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  color: #141A26;
  margin: 0 0 60px 0;
}
.article-advantages {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 15px 0 15px;
}
.img-advantages {
  margin: 0 0 22px 0;
}
.h4-advantages {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #141A26;
}
