// =====================================================
* {
  box-sizing: border-box;
}


// базовый цвет
// @baseColor: #FFFFFF;
@baseColor: #FFFFFF;
@colorButton: #4c1e87;
@colorText: #000000;
@colorLogo: #ffc800;

// ШРИФТЫ
// переменная для основного текста страницы:
@mainFont: 'Montserrat', sans-serif;
@buttonsOfFont: 'Comfortaa', cursive;
// @logoFont: 'Balsamiq Sans', cursive;
// @logoFont: 'Open Sans Condensed', sans-serif;
@logoFont: 'Ubuntu', sans-serif;
// @logoFont: 'Underdog', cursive;


// font-family: 'Balsamiq Sans', cursive;
// font-family: 'Comfortaa', cursive; 
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Underdog', cursive;


// АНИМАЦИИ 
@keyframes logo_animation {
  0% {
    // transform: rotate(0deg);
    // fill: @colorButton;
    fill: @colorButton + #111;
  }

  25% {
    // transform: rotate(180deg);
    fill: @colorButton + #111;
  }

  50% {
    // transform: rotate(180deg);
    fill: @colorButton + #222;
  }

  75% {
    // transform: rotate(180deg);
    fill: @colorButton + #333;
  }

  100% {
    // transform: rotate(360deg);
    fill: @colorButton + #444;
  }
}

// добавлять эффект наведения и эффект нажатия всем КНОПКАМ, переключателям, логатипам, элементам меню!
.logo:hover .user-developer-programer {
  transform: scale(1.1);
}

.project-wrapper:hover {
  border-radius: 0;
  outline: 1px solid @colorText;
}

.project-wrapper:hover .project-description {
  color: @colorButton;
}

.project-wrapper:active {
  color: @colorText - #222;
}

.svg-contacts:hover {
  fill: @colorButton + #222;
  transform: scale(1.1) rotate(20deg);
}

.container {
  margin: 0 auto;
  width: 100%;
}

.header {
  width: 100%;
  min-height: 100px;
  background-color: @colorButton + #555;
  // background-color: @baseColor - #111;
  border-bottom: 1px solid @colorText;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-family: @logoFont;
  font-size: 39px;
  color: @colorButton;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.span-logo-animation {
  display: block;
  font: 9.5em 'Ubuntu';
  width: 124px;
  height: 200;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #4D163D;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: @colorButton;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: @colorButton;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: @colorButton;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}



.user-developer-programer {
  width: 76px;
  height: 71px;
  margin: 0 5px 0 5px;
}

.logo-contour-apple {
  fill: @colorButton;
  // animation: logo_animation 10 1s;
  // animation: logo_animation infinite 1s;
  // animation-delay: 1s;
  display: none;
}

.logo-fill-apple {
  // fill: @colorLogo;
  // animation: logo_animation infinite 1s;
  display: none;
}

.main {
  width: 100%;
  min-height: 700px;
  // background-color: @baseColor;
  padding: 30px 15px 30px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.projects {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  align-content: flex-start;
}

.project-wrapper {
  width: 45%;
  background-color: @baseColor - #111;
  padding: 5px 0 0 0;
  // border: 1px solid @colorText;
  // border-radius: 15px 0 15px 0;
  // hidden - Отображается только область внутри элемента, остальное будет скрыто.
  overflow: hidden;
  margin: 0 15px 15px 0;
  color: @colorText + #111;
  font-family: @mainFont;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screenshot {
  width: 100%;
  height: 200px;
  background-color: @colorButton + #555;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.layout-1 {
  background-image: url(../img/1-GB-HTML5_CSS3-layout-11.10.19.png);
}

.layout-2 {
  background-image: url(../img/2-GB-HTML5_CSS3-Waxom_layout-061119.jpg);
}

.layout-3 {
  background-image: url(../img/3-GB-JS-lv1-les7-CANVAS.png);
  background-size: contain;
}

.layout-4 {
  background-image: url(../img/4-GB-JS-lv1-les8-shop-my-version.png);
}

.layout-5 {
  background-image: url(../img/5-stylist-kids.ru.png);
}

.project-title {
  width: 100%;
  min-height: 63px;
  font-size: 27px;
  margin: 0 0 5px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-description {
  width: 100%;
  min-height: 43px;
  margin: 0 0 5px 0;
  text-align: center;
  color: @colorText;
}

.footer {
  width: 100%;
  min-height: 100px;
  background-color: @colorButton + #555;
  border-top: 1px solid @colorText;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.security {
  font-family: @buttonsOfFont;
  font-size: 14px;
  color: @colorText;
  margin: 0 15px 0 15px;
}

.contacts-container {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.a-contacts {
  text-decoration: none;
  margin: 0 5px 0 5px;
}

.whatsapp {}

.svg-contacts {
  fill: @colorButton;
  width: 30px;
  height: 30px;
}

@media (max-width: 767.98px) {

  .main {
    flex-direction: column;
  }

  .project-wrapper {
    width: 100%;
  }

}