// =====================================================

// переменные, миксины, стилизация отдельных блоков тоже идет отдельными файлами, стилизация ЧАСТО ИСПОЛЬЗУЕМЫХ ЭЛЕМЕНТОВ (кнопка) - как правило записываются в отдельные файлы

// добавлять эффект наведения и эффект нажатия всем КНОПКАМ, переключателям, логатипам, элементам меню!

// минимальное обнуление стилей 
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    /*убираем маркеры списка*/
    margin: 0;
    /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0;
    /*убираем левый отступ, равный 40px*/
}

a {
    text-decoration: none;
    /*убираем подчеркивание текста ссылок*/
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}


html,
body {
    // height: 100%; - обязательно для fullscreen
    height: 100%;
    background-color: @backgroundColor;
}

// ШРИФТЫ:
// font-family: 'Cormorant', serif;
// font-family: 'Montserrat', sans-serif;

a {
    text-decoration: none;
}

@backgroundColor: #FFFFFF;
// базовый цвет
@baseColor: #fff;
// LightSeaGreen - цвет для кнопок
@colorButton: #20B2AA;
// font-family: 'Roboto', sans-serif;
@colorMain: #AA816D;
@colorButton: #AA816D;


@import "variables.less";
@import "header.less";
@import "mixins.less";
@import "main.less";

@import "section-services.less";
@import "section-clients.less";
@import "section-reviews.less";
@import "section-consultation.less";
@import "footer.less";
@import "privacy-policy.less";