* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

.btn-primary.focus,
.btn-primary:focus {
  background: none;
  border: none;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

a,
aside,
nav,
footer,
header,
section {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 15px;
  }
}
input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/*  
Uniform writing style for VARIABLES and CLASSES: 
for VARIABLES - $primary-color, $font-stack
for MIXIN - @mixin display-row-start 
*/
@font-face {
  font-family: 'CRENZO';
  src: url("../fonts/CRENZORegular.eot");
  src: url("../fonts/CRENZORegular.eot?#iefix") format("embedded-opentype"), url("../fonts/CRENZORegular.woff2") format("woff2"), url("../fonts/CRENZORegular.woff") format("woff"), url("../fonts/CRENZORegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Russo One';
  src: url("../fonts/RussoOne-Regular.eot");
  src: url("../fonts/RussoOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RussoOne-Regular.woff2") format("woff2"), url("../fonts/RussoOne-Regular.woff") format("woff"), url("../fonts/RussoOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  min-height: 100vh;
  background: #151F28;
  padding: 25px 0 0 0;
}

.header__control {
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  width: calc(30px + 20 * ((100vw - 320px) / 1600));
  height: calc(30px + 20 * ((100vw - 320px) / 1600));
}
.burger-menu__button {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 30;
  width: calc(30px + 20 * ((100vw - 320px) / 1600));
  height: calc(30px + 20 * ((100vw - 320px) / 1600));
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu__lines::before, .burger-menu__lines::after, .burger-menu__lines {
  position: absolute;
  width: calc(18px + 13 * ((100vw - 320px) / 1600));
  height: calc(2px + 2.7 * ((100vw - 320px) / 1600));
  background-color: #F4F4F4;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu__lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu__lines::before {
  width: calc(28px + 18.8 * ((100vw - 320px) / 1600));
  content: '';
  top: calc(-6px + -6 * ((100vw - 320px) / 1600));
}
.burger-menu__lines::after {
  width: calc(7.5px + 5 * ((100vw - 320px) / 1600));
  content: '';
  top: calc(6px + 6 * ((100vw - 320px) / 1600));
}
.burger-menu_active .burger-menu__lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu__lines::before {
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu__lines::after {
  transform: rotate(-45deg);
}
.burger-menu_active .burger-menu__lines::after,
.burger-menu_active .burger-menu__lines::before {
  width: calc(20px + 7 * ((100vw - 320px) / 1600));
  top: 0;
  background-color: rgba(21, 31, 40, 0.6);
}
.burger-menu__nav {
  padding-top: calc(103px + 70 * ((100vw - 320px) / 1600));
  padding-left: calc(16px + 42 * ((100vw - 320px) / 1600));
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100%;
  background-color: #F4F4F4;
  overflow-y: auto;
  left: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.burger-menu__nav .logo {
  color: #151F28;
  position: absolute;
  top: calc(34px + 80 * ((100vw - 320px) / 1600));
  left: calc(90px + 2 * ((100vw - 320px) / 1600));
}
.burger-menu_active .burger-menu__nav {
  left: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu__link {
  margin-bottom: calc(30px + 10 * ((100vw - 320px) / 1600));
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: calc(20px + 20 * ((100vw - 320px) / 1600));
  line-height: calc(24px + 24 * ((100vw - 320px) / 1600));
  color: rgba(21, 31, 40, 0.6);
}
.burger-menu__link:hover {
  filter: brightness(0.9);
}
.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.burger-menu_active .burger-menu__overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  font-family: CRENZO;
  font-style: normal;
  font-weight: normal;
  font-size: calc(14px + 18 * ((100vw - 320px) / 1600));
  line-height: 15px;
  color: #F4F4F4;
}
.logo__underline {
  color: #00E991;
}
.logo:hover {
  color: #00E991;
  transition: color 0.8s;
}

.header__contacts .btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}
.header__contacts .btn__icon {
  width: calc(24px + 16 * ((100vw - 320px) / 1600));
  height: calc(24px + 16 * ((100vw - 320px) / 1600));
}
.header__contacts .btn__icon:hover {
  transform: scale(1.2);
  transition: transform 0.8s;
}
.header__contacts .btn__icon:active {
  transform: scale(1.2);
  transition: transform 0.8s;
}

.main {
  min-height: 100vh;
}
