// _section-REVIEWS.scss ____________________________

.section-reviews {
    @include display-flex(column, flex-start, flex-start);
    @include responsive-padding-bottom(80, 60);
    @include responsive-padding-top(60, 40);

    .container {
        @include display-flex(column, flex-start, flex-start);

        &_swiper-navigation {
            @include display-flex(row, flex-end, flex-start);
            @include responsive-margin-bottom(60, 40);
        }

        .wave {
            z-index: 10;
            @include responsive-padding-top(80, 80);
        }
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-wrapper {
        @include responsive-margin-bottom(60, 40);

    }

    .swiper-slide {
        @include responsive-width(555, 290);
        @include responsive-min-height(346, 321);
        opacity: 0.5;
        text-align: center;
        font-size: 18px;
        background: transparent;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        &-active {
            opacity: 1;
        }
    }

    .review-card {
        @include display-flex(column, flex-start, flex-start);
        @include responsive-width(555, 290);
        @include responsive-min-height(346, 321);
        @include responsive-padding-top-bottom(66, 30);
        @include responsive-padding-left-right(33, 45);
        border: 1px solid $accent-color;
        border-radius: 0px 40px 0px 0px;

        &__name {
            width: 100%;
            text-align: left;
            @include responsive-font-size(22, 16);
            @include responsive-line-height(33, 24);
            @include responsive-margin-bottom(10, 10);
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
        }

        &__type-service {
            width: 100%;
            text-align: left;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            @include responsive-font-size(18, 12);
            @include responsive-line-height(27, 18);
            @include responsive-margin-bottom(24, 20);
            color: #D0D0D0;
        }

        &__review-text {
            width: 100%;
            text-align: left;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            @include responsive-font-size(20, 14);
            @include responsive-line-height(30, 21);
        }
    }



    .swiper-reviews-navigation {
        @include display-flex(row, flex-start, flex-start);

        &__button-prev,
        &__button-next {
            @include display-flex(column, flex-start, flex-start);
            @include responsive-width(55, 55);
            @include responsive-height(13, 13);
            @include responsive-border-radius(3, 2.3);
            background-color: transparent;
            position: static;


            svg {
                width: 100%;
                height: 100%;
            }
        }

        &__button-prev {
            @include responsive-margin-right(40, 40);

        }
    }

    .swiper-reviews-pagination {
        bottom: 0px;
        position: static;
        @include display-flex(row, center, center);

    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
    }

    .swiper-pagination-bullet {
        border-radius: 0;
        background: rgba(250, 215, 151, 0.3);
        @include responsive-width(67, 50);
        @include responsive-height(1, 1);


        &-active {
            background: $accent-color;
            @include responsive-width(67, 50);
            @include responsive-height(2, 2);
        }
    }

}








// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}





// / _section-REVIEWS.scss ____________________________