// _section-CONTACTS.scss ____________________________

.section-contacts {
    @include display-flex(column, flex-start, flex-start);
    padding-bottom: 0px;
    @include responsive-padding-top(80, 60);

    .container {
        @include display-flex(column, flex-start, flex-start);
    }

    &__container-img {
        position: relative;

        .section-contacts__img_met {
            width: 50px;
            height: 50px;
            position: absolute;
            @include responsive-top(214, 37);
            @include responsive-left(452, 140);
            left: 45%;
            background: transparent;
        }
    }

    .mail-button {
        @include display-flex(row, flex-start, center);

        &__svg {
            @include responsive-width(17, 17);
            @include responsive-height(17, 17);
        }
    }

    &__img {
        @include responsive-padding-left(15, 15);
        border-radius: 25% 0% 0% 0%;
    }

    &__modal-body {
        @include display-flex(row, flex-start, flex-start);
        padding: 0;
        @include responsive-margin-bottom(30, 30);

        .telephone {
            @include responsive-margin-right(20, 20);
            @include responsive-margin-bottom(0, 0);

            &__txt {
                margin: 0;
            }

            &__wrapper-icons {
                margin: 0;
            }
        }
    }

    .telephone {
        @include responsive-margin-bottom(8, 10);

        &__icon_nofill {
            fill: transparent;
            @include responsive-margin-right(12, 11);
        }

        .none {
            opacity: 0;
        }

        &__txt {
            @include responsive-font-size(20, 14);
            @include responsive-line-height(25, 18);
        }

        &_last {
            @include responsive-margin-bottom(30, 30);
        }
    }

    .mail-button {
        @include responsive-margin-bottom(30, 30);
        flex-wrap: nowrap;

        &__svg {
            @include responsive-margin-right(12, 11);
        }

        &__txt {
            @include responsive-font-size(20, 14);
            @include responsive-line-height(25, 18);
        }

        &_location {
            @include responsive-line-height(25, 21);
        }

        &_last {
            @include responsive-margin-bottom(20, 20);
        }
    }

    &__other-txt {
        @include responsive-font-size(20, 14);
        @include responsive-line-height(30, 21);
        @include responsive-margin-bottom(40, 40);

        &_small {
            @include responsive-font-size(18, 12);
            @include responsive-line-height(27, 18);
            @include responsive-margin-bottom(40, 40);

        }
    }

}





.section-contacts {

    // X-Small devices (portrait phones, less than 576px)
    // No media query for `xs` since this is the default in Bootstrap

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {

        position: relative;
        flex-direction: row;

        .container {
            max-width: 40%;
            margin: 0;
        }

        &__img {
            object-position: -264px -14px;
        }

        &__container-img {
            position: absolute;
            right: -621px;
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {

        .container {
            max-width: 44%;
            padding-left: 40px;
        }

        &__container-img {
            right: -586px;
        }

    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {}

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {

        &__container-img {
            right: -16vw;
        }

        &__img {
            object-position: center;
        }

        .container {
            padding-left: 10vw;
        }

    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1800px) {

        .container {
            padding-left: 19vw;
        }

        &__container-img {
            right: -3vw;
        }

    }

    @media (min-width: 2400px) {

        .container {
            padding-left: 30vw;
        }

        &__container-img {
            right: 11vw;
        }

    }


}








// / _section-CONTACTS.scss ____________________________