// _section-SERVICES.scss ____________________________

.header__section-types-services {
    min-height: 1vh;
    @include responsive-padding-bottom(60, 40);

    .header__control {
        @include responsive-margin-bottom(60, 40);
    }

}

.section-types-services {

    .header__main-heading {
        @include responsive-font-size(32, 20);
        @include responsive-line-height(48, 30);
        @include responsive-margin-bottom(40, 30);

    }

    &__text {
        @include responsive-font-size(20, 14);
        @include responsive-line-height(30, 21);
        @include responsive-margin-bottom(40, 30);
    }

    &__subtitle {
        width: 100%;
        text-align: left;
        font-family: Source Sans Pro;
        @include responsive-font-size(22, 16);
        @include responsive-line-height(33, 24);
        @include responsive-padding-bottom(24, 30);
        border-bottom: 1px solid rgba(250, 215, 151, 0.3);
        margin-bottom: 0;
    }

    .value-card {
        width: 100%;
        @include display-flex(row, space-between, flex-start);
        flex-wrap: nowrap;
        border-bottom: 1px solid rgba(250, 215, 151, 0.3);
        @include responsive-padding-top-bottom(26, 17);

        &__wrapper {
            width: 100%;
            @include display-flex(column, space-between, flex-start);
            @include responsive-margin-bottom(60, 40);
        }

        &__service-name {
            @include responsive-margin-right(50, 24);
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            @include responsive-font-size(20, 14);
            @include responsive-line-height(30, 21);
            margin-bottom: 0;

        }

        &__service-price {
            font-weight: bold;
            @include responsive-font-size(22, 16);
            @include responsive-line-height(33, 24);
        }

        &__other-txt {
            @include responsive-margin-top(20, 10);
            @include responsive-font-size(16, 12);
            @include responsive-line-height(24, 18);

        }


    }

    .button-order {
        align-self: flex-end;
        @include responsive-margin-bottom(60, 40);
    }

    &__img {
        max-width: 100%;
        object-fit: contain;
        align-self: flex-start;
        // @include responsive-margin-left(-30, -20);
        // width: 100%;
        @include responsive-height(529, 229);
        border-radius: 0% 25% 0% 0%;
    }
}

@media (min-width: 576px) {
    .main {
        min-height: 38vh;
    }

    .breadcrumb {
        padding-top: 60px;
    }
}

@media (min-width: 1400px) {
    .breadcrumb {
        padding-left: 20vw;
    }

}



.section-types-services {

    // X-Small devices (portrait phones, less than 576px)
    // No media query for `xs` since this is the default in Bootstrap

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {

        position: relative;

        .container {
            padding-left: 55vw;

        }

        .section-types-services__img {
            position: absolute;
            top: 0px;
            left: -100px;
        }

    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {

        .container {
            padding-left: 48vw;
        }

        .section-types-services__img {
            left: -131px;
        }
    }




    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {}

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {

        .section-types-services__img {
            left: 68px;
        }
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        .container {
            padding-left: 44vw;
        }
    }

    @media (min-width: 1800px) {

        .container {
            padding-left: 36vw;
        }

        .section-types-services__img {
            left: 203px;
        }
    }

    @media (min-width: 2400px) {

        .container {
            padding-left: 26vw;
        }

        .section-types-services__img {
            left: 291px;
        }
    }





}






// / _section-SERVICES.scss ____________________________