// _section-SERVICES.scss ____________________________


// Стили для свайп указателя
.swipe-pointer {
    animation: swipePointerAnim infinite 2s;

}

// Стили для свайп указателя

// Анимация для волны
.wave,
.wave-big,
.wave-section-FAQ {
    animation: waveAnim infinite 2s;
}

// Анимация для волны







// АНИМАЦИЯ элементов при СКРОЛЛЕ 

// _anim-items - этот класс добавляем элементам в HTML, которые хотим анимировать 


// ПРИДУМАЕМ ОДИН ОБЩИЙ  КЛАСС ДЛЯ АНИМАЦИИ ._anim-show
// ==============================================
._anim-show {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
    opacity: 1;
    transform: translate(0px, 0px);
}

// ПРИДУМАЕМ ОДИН ОБЩИЙ  КЛАСС ДЛЯ АНИМАЦИИ ._anim-show
// ==============================================

.header__main-h1 {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.header__main-h1._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.header__description-site {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

// задерживает появление текста 
.header__description-site._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}


// анимация карточек УСЛУГ

// _anim-items - в данном случае это добавляем родителю
// <a href="services/1.1-On-site-lie-detector-check.html" class="section-services__service-card _anim-items">

.section-services__service-card {
    overflow: hidden;
}

// _anim-show - уже добавляем самому элементу 
// <h3 class="section-services__service-name _anim-show">

// анимация карточек УСЛУГ



// анимация ДЛЯ ЗАГОЛОВКОВ отзывы
// _anim-items - родителю

._anim-show-h2 {
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

._anim-show-h2._active,
._active ._anim-show-h2 {
    opacity: 1;
    transform: translate(0px, 0px);
}

// анимация ДЛЯ ЗАГОЛОВКОВ отзывы



// анимация ДЛЯ КАРТИНОК И ТЕКСТА ПОД НИМИ 


.section-advantages__advantages-icon {
    transform: scale(0);
    transition: all 0.8s ease 0s;
}

.section-advantages__advantages-card._active .section-advantages__advantages-icon {
    transform: scale(1);
}

.section-advantages__advantages-text {
    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.section-advantages__advantages-card._active .section-advantages__advantages-text {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.6s;
}


// анимация ДЛЯ КАРТИНОК И ТЕКСТА ПОД НИМИ 




// анимация элементов меню
// _anim-items - добавили родителю - <nav class="burger-menu__nav _anim-items">

.header {

    .burger-menu__nav a {
        transform: translate(0px, -520%);
        transition: all 0.3s ease 0s;
    }

    .burger-menu__nav._active a:nth-child(1) {
        transition: all 0.8s ease 0s;
    }

    .burger-menu__nav._active a:nth-child(2) {
        transition: all 0.8s ease 0.2s;
    }

    .burger-menu__nav._active a:nth-child(3) {
        transition: all 0.8s ease 0.4s;
    }

    .burger-menu__nav._active a:nth-child(4) {
        transition: all 0.8s ease 0.6s;
    }

    .burger-menu__nav._active a:nth-child(5) {
        transition: all 0.8s ease 0.8s;
    }

    .burger-menu__nav._active a:nth-child(6) {
        transition: all 0.8s ease 1.0s;
    }

    .burger-menu__nav._active a:nth-child(7) {
        transition: all 0.8s ease 1.2s;
    }


    .burger-menu__nav._active a {
        transform: translate(0px, 0px);
    }

}

// .burger-menu_active {

//     .burger-menu__nav a {
//         transform: translate(0px, -520%);
//         transition: all 0.3s ease 0s;
//     }

//     .burger-menu__nav._active a:nth-child(1) {
//         transition: all 0.8s ease 0s;
//     }

//     .burger-menu__nav._active a:nth-child(2) {
//         transition: all 0.8s ease 0.2s;
//     }

//     .burger-menu__nav._active a:nth-child(3) {
//         transition: all 0.8s ease 0.4s;
//     }

//     .burger-menu__nav._active a:nth-child(4) {
//         transition: all 0.8s ease 0.6s;
//     }

//     .burger-menu__nav._active a:nth-child(5) {
//         transition: all 0.8s ease 0.8s;
//     }

//     .burger-menu__nav._active a:nth-child(6) {
//         transition: all 0.8s ease 1.0s;
//     }

//     .burger-menu__nav._active a:nth-child(7) {
//         transition: all 0.8s ease 1.2s;
//     }


//     .burger-menu__nav._active a {
//         transform: translate(0px, 0px);
//     }

// }





// анимация элементов меню













// АНИМАЦИЯ элементов при СКРОЛЛЕ 













// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}





// / _section-SERVICES.scss ____________________________