// ============= SECTION-BRANDS =============

.section-brands {

    .swiper {
        position: relative;
        @include display-flex(column, flex-start, center);
        width: 100%;
        height: 100%;
    }

    .container {}

    .heading-h2 {
        &_color {
            color: $accent-color;
        }
    }

    .swiper {

        &-wrapper {
            margin-bottom: 55px;
        }

        &-slide {
            width: 33.3%;
            @include display-flex(column, center, center);
        }

        &-slide__img {
            &:first-child {
                margin-bottom: 47px;
            }
        }

        &__wrapper-control {
            position: relative;
            @include display-flex(row, flex-end, flex-start);
            width: 100%;
            min-height: 13px;
        }

        .swiper-button-next {
            position: static;
        }

        .swiper-button-prev {
            position: static;
            margin-right: 32px;
        }
    }

}





// ============= SECTION-BRANDS =============






// .section-what-inside {

//     background-color: $accent-color;

//     .container {}

//     .heading-h2 {
//         position: relative;
//         color: #FDFDFD;

//         // span {
//         //     font-family: Cormorant;
//         //     font-weight: 400;
//         //     font-style: italic;
//         //     font-size: 40px;
//         //     line-height: 48px;
//         //     color: #FDFDFD;
//         // }

//         &__ellipse {
//             position: absolute;
//             top: -10px;
//             left: -26px;
//             width: 183px;
//             height: 69px;
//             transform: rotate(-3deg);

//             path {
//                 stroke: #FDFDFD;
//             }
//         }
//     }

//     &__content-wrap {
//         width: 100%;
//         @include display-flex(column, flex-start, center);
//     }

//     &__cards {
//         @include display-flex(column, flex-start, flex-start);
//         width: 100%;
//         margin-bottom: 20px;
//         background-color: $accent-color-light;
//         border-radius: 20px;
//         padding: 20px 60px;

//         &:last-child {
//             margin-bottom: 0px;
//         }
//     }

//     .heading-h3 {
//         position: relative;
//         color: #FDFDFD;
//     }

//     .star-svg {
//         position: absolute;
//         top: 8px;
//         left: -30px;
//     }

//     &__txt {
//         color: #FDFDFD;
//     }

// }