// ============= SECTION-FOR-WHOM =============

.section-for-whom {

    .container {}

    .heading-h2 {
        i {
            color: $accent-color;
        }
    }

    &__content-wrap {
        @include display-flex(row, flex-start, flex-start);
    }

    &__cards {
        width: 50%;
        @include display-flex(column, flex-start, flex-start);
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .star-svg {
        margin-bottom: 10px;
    }

    &__txt {}
}



// ============= SECTION-FOR-WHOM =============