// _section-advantages.scss ____________________________

.section-advantages {
    @include display-flex(column, flex-start, center);
    @include responsive-padding-bottom(60, 60);
    @include responsive-padding-top(80, 60);

    .container {
        align-items: center;
    }

    &__advantages-card {
        @include display-flex(column, flex-start, center);
        @include responsive-margin-bottom(90, 40);
        @include responsive-margin-left-right(30, 10);

        &:nth-child(5) {
            margin-bottom: 0px;
        }
    }

    &__advantages-icon {
        @include responsive-width(60, 57);
        @include responsive-height(60, 57);
        @include responsive-margin-bottom(17, 16);
    }

    &__advantages-text {
        text-align: center;
        @include responsive-font-size(20, 14);
        @include responsive-line-height(30, 21);
    }
}




// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}