// _section-advantages.scss ____________________________

.section-advantages {
    @include display-flex(column, flex-start, center);
    @include responsive-padding-bottom(60, 60);
    @include responsive-padding-top(80, 60);

    .container {
        align-items: center;
    }

    &__advantages-card {
        @include display-flex(column, flex-start, center);
        @include responsive-margin-bottom(90, 40);
        @include responsive-margin-left-right(30, 10);

        &:nth-child(5) {
            margin-bottom: 0px;
        }
    }

    &__advantages-icon {
        @include responsive-width(60, 57);
        @include responsive-height(60, 57);
        @include responsive-margin-bottom(17, 16);
    }

    &__advantages-text {
        text-align: center;
        @include responsive-font-size(20, 14);
        @include responsive-line-height(30, 21);
    }
}




// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    .section-advantages {

        .container {
            flex-direction: row;
        }

        .wrapper-for-cards {
            width: 100%;
            @include display-flex(row, center, flex-start);
        }

        &__advantages-card {
            @include responsive-width(287, 287);

        }
    }




}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    .section-advantages {

        .container {
            justify-content: space-between;
        }

        .heading-h2 {
            @include responsive-width(337, 330);
        }

        .wrapper-for-cards {
            position: relative;
            width: 65%;

            &::before {
                position: absolute;
                content: "";
                width: 1px;
                height: 367px;
                left: -10px;
                top: 0px;
                background: rgba(250, 215, 151, 0.3);
            }
        }



    }






}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}