// _section-SERVICES.scss ____________________________

.section-services {
    @include display-row-start;
    justify-content: center;
    @include responsive-padding-bottom(30, 20);
    @include responsive-padding-top(60, 40);

    .container {
        @include display-row-start;
        justify-content: center;
    }

    &__service-card {
        @include display(column, center, center);
        @include responsive-width(350, 290);
        @include responsive-min-height(270, 200);
        background: $background-color-cards;
        border-radius: 5px;
        @include responsive-margin-bottom(30, 20);
        @include responsive-margin-left(15, 0);
        @include responsive-margin-right(15, 0);
    }

    &__service-name {
        text-align: center;
        @include responsive-font(22, 16);
        @include responsive-line-height(33, 24);
        @include responsive-margin-bottom(56, 40);
        font-style: normal;
        font-weight: bold;
        color: $text-color;
    }

    &__service-price {
        text-align: center;
        @include responsive-font(20, 14);
        @include responsive-line-height(30, 21);
        font-style: normal;
        font-weight: normal;
        color: $text-color;
    }
}

.heading-h2 {
    width: 100%;
    text-align: center;
    @include responsive-font(44, 30);
    @include responsive-line-height(63, 43);
    @include responsive-margin-bottom(60, 40);
    // @include responsive-margin-top(60, 40);
}






// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}





// / _section-SERVICES.scss ____________________________