// _section-SERVICES.scss ____________________________

.section-services {
    position: relative;
    @include display-flex(column, flex-start, flex-start);
    @include responsive-padding-bottom(60, 60);
    @include responsive-padding-top(60, 60);

    .container {
        align-items: center;
    }

    .wave-big {
        position: absolute;
        z-index: 0;
        @include responsive-width(549, 180);
        @include responsive-height(37, 19);
        top: -6px;
        left: 48vw;
    }

    &__service-card {
        @include display-flex(column, flex-start, flex-start);
        @include responsive-width(360, 290);
        @include responsive-min-height(236, 179);
        // background: $background-color-cards;
        border: 1px solid $accent-color;
        border-radius: 0px 40px 0px 0px;
        @include responsive-margin-bottom(30, 20);
        @include responsive-margin-right(15, 0);
        @include responsive-padding-top(46, 30);
        @include responsive-padding-bottom(16, 5);
        @include responsive-padding-left-right(33, 30);

        &:hover .section-services__circle-icon {
            opacity: 1;
            @include smoothness(opacity, 1.2s);
        }
    }

    &__service-name {
        @include responsive-min-height(66, 50);
        font-family: Source Sans Pro;
        text-align: left;
        @include responsive-font-size(22, 16);
        @include responsive-line-height(33, 24);
        @include responsive-margin-bottom(17, 16);
        font-weight: bold;
    }

    &__inner-wrapper {
        width: 100%;
        @include display-flex(row, flex-start, center);
        justify-content: space-between;
    }

    &__service-price {
        text-align: left;
        @include responsive-font-size(20, 14);
        @include responsive-line-height(30, 21);
        font-style: normal;
        font-weight: normal;
        color: $text-color;
    }

    &__arrow-icon {
        @include responsive-width(55, 55);
        @include responsive-height(13, 13);
    }

    &__circle-icon {
        opacity: 0;
        @include responsive-width(78, 78);
        @include responsive-height(81, 81);
        margin-left: -42px;
    }

    &__arrow-icon path,
    &__circle-icon path {
        stroke: $text-color;
    }
}




// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    .section-services {

        .container {
            flex-direction: row;
            justify-content: flex-start;
        }

        &__service-card {
            @include responsive-margin-right(10, 10);
        }

        .wave-big {
            top: -23px;
            left: 64vw;
        }
    }


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .section-services {

        &__service-card {
            @include responsive-margin-right(30, 30);
        }
    }


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    .section-services {

        .wave-big {
            top: -23px;
            left: 72vw;
        }

    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

    .section-services {

        &__service-card {
            @include responsive-margin-right(15, 30);
        }
    }
}





// / _section-SERVICES.scss ____________________________