// _section-GALLERY.scss ____________________________
.section-gallery {
    @include display-flex(column, flex-start, flex-start);
    @include responsive-padding-bottom(80, 60);
    @include responsive-padding-top(60, 40);

    .container {

        @include display-flex(column, flex-start, flex-start);

        &_swiper-navigation {
            @include display-flex(row, flex-end, flex-start);
            @include responsive-margin-bottom(60, 40);
        }

        .wave {
            z-index: 10;
            @include responsive-padding-top(35, 35);
        }
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-wrapper {
        @include responsive-margin-bottom(60, 40);

    }

    .swiper-slide {
        @include responsive-width(360, 216);
        @include responsive-height(482, 288);
        opacity: 0.5;
        text-align: center;
        font-size: 18px;
        background: transparent;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        transform: scale(1);
        transition: transform 0.8s;

        &-active {
            opacity: 1;
            transform: scale(1.1);
            transition: transform 0.8s;

        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }



    .swiper-navigation {
        @include display-flex(row, flex-start, flex-start);

        &__button-prev,
        &__button-next {
            @include display-flex(column, flex-start, flex-start);
            @include responsive-width(55, 55);
            @include responsive-height(13, 13);
            @include responsive-border-radius(3, 2.3);
            background-color: transparent;
            position: static;


            svg {
                width: 100%;
                height: 100%;
            }
        }

        &__button-prev {
            @include responsive-margin-right(40, 40);

        }
    }

    .swiper-pagination {
        bottom: 0px;
        position: static;
        @include display-flex(row, center, center);
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
    }

    .swiper-pagination-bullet {
        border-radius: 0;
        background: rgba(250, 215, 151, 0.3);
        @include responsive-width(67, 50);
        @include responsive-height(1, 1);


        &-active {
            background: $accent-color;
            @include responsive-width(67, 50);
            @include responsive-height(2, 2);
        }
    }

}







// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}





// / _section-GALLERY.scss ____________________________