// _footer.scss ____________________________

.footer {
    position: relative;
    @include display(column, flex-start, flex-start);
    background-color: $accent-color-green;
    min-height: 200px;
    @include responsive-padding-bottom(85, 40);

    &::after {
        content: "";
        width: 620px;
        height: 300px;
        background-color: $accent-color-green;
        position: absolute;
        border-radius: 50% 50% 0 0;
        top: -60px;
        left: -133px;
    }

    .logo__icon {
        width: 69px;
        height: 72px;
    }

    .heading-h2 {
        color: $background-color;
    }


    .how-to-pay {
        @include responsive-margin-bottom(20, 20);

        &__wrapper {
            @include responsive-margin-bottom(20, 20);
            background-color: $accent-color-green;
        }

        @include responsive-width(280, 280);
        @include responsive-min-height(42, 35);
        padding: 10px;
        background-color: $accent-color;
        border-radius: 5px;
        border: none;
        outline: none;
        fill: inherit;
        stroke: inherit;
        stroke-width: inherit;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        @include responsive-font(15, 14);
        @include responsive-line-height(21, 16.8);

        &:hover,
        &:active {
            background-color: $accent-color !important;
        }

        &__img {
            max-width: 100%;
            object-fit: contain;
            @include responsive-margin-bottom(15, 15);
        }

        &__p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            @include responsive-font(15, 14);
            @include responsive-line-height(21, 16.8);
            @include responsive-margin-bottom(15, 15);
        }


    }

    .card {
        border: 1px solid $accent-color;
        padding: 10px;
        background-color: $accent-color-green;
    }

    .card-body {
        padding: 0;
    }







    &__green-circle {
        position: absolute;
        @include responsive-top(1, 13);
        @include responsive-left(-2300, -2300);
        @include responsive-width(5000, 5000);
        @include responsive-height(5000, 5000);
        border-radius: 50%;
        background-color: $accent-color-green;
        z-index: -10;


    }

    .container {
        z-index: 2;
        @include display(column, flex-start, center);
        @include responsive-padding-top(24, 24);
        @include responsive-padding-bottom(0, 0);
        background-color: transparent;


    }

    .container__footer-green {
        width: 100%;
        @include display(column, flex-start, center);
        background-color: $accent-color-green;

    }


    &__prices-wrapper {
        width: 100%;
        @include display(row, space-between, center);
        @include responsive-margin-bottom(30, 30);
    }

    &__prices-txt {
        width: 50%;
        @include display(column, center, flex-start);
    }

    &__prices-heading {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        @include responsive-font(15, 12);
        @include responsive-line-height(21, 16.8);
        color: $background-color;
        @include responsive-margin-bottom(9, 6);
    }

    &__prices-value {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        @include responsive-font(40, 26);
        @include responsive-line-height(48, 32);
        color: $background-color;
    }

    .button-order {
        margin: 0;
    }

    &__img {
        max-width: 100%;
        object-fit: contain;
        max-height: 350px;
        @include responsive-margin-bottom(65, 46);
    }

    .link-instagram {
        @include display(row, center, center);
        @include responsive-width(36, 44);
        @include responsive-height(36, 44);
        padding: 0;
        background-color: $background-color;
        border-radius: 50%;
        border: none;
        outline: none;
        fill: inherit;
        stroke: inherit;
        stroke-width: inherit;
        border: 1px solid transparent;
        @include responsive-margin-bottom(26, 26);

        &:hover {
            background-color: transparent !important;
            @include smoothness(background-color, .8s);
            border: 1px solid $background-color;

            .link-instagram__icon path {
                fill: $background-color;
                @include smoothness(fill, .8s);
            }


        }

        &__icon {

            path {
                fill: $accent-color-green;
                @include smoothness(fill, .8s);
            }

            @include responsive-width(17, 20);
            @include responsive-height(17, 20);

            &:hover {
                transition: transform 0.8s;
            }
        }
    }

    .logo {
        align-items: center;
        color: $background-color;
        @include responsive-top (114, 34);
        @include responsive-left (92, 90);

        &__name,
        &__position {
            color: $background-color;
        }
    }

    .burger-menu {

        &__link-wrapper {
            @include display(column, flex-start, flex-start);
            width: 50%;
        }

        &__nav {
            padding: 0;
            position: static;
            top: 0;
            z-index: 20;
            @include display(column, flex-start, center);
            width: 100%;
            height: 100%;
            background-color: $accent-color-green;
            overflow-y: auto;
            transition: 0.8s;
            @include responsive-margin-bottom(10, 10);
        }

        &__link {
            @include responsive-margin-bottom(20, 20);
            box-sizing: border-box;
            -webkit-text-decoration: 1px solid underline transparent;
            text-decoration: 1px solid underline transparent;
            text-align: center;
            text-transform: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            @include responsive-font(18, 14);
            @include responsive-line-height(22, 17);
            color: $background-color;

            &:hover {
                text-decoration: 1px solid underline $background-color;
                @include smoothness(text-decoration, .8s);
            }
        }

        &__horizontal-bar {
            z-index: 10;
            @include responsive-width(790, 180);
            height: 1px;
            background: $background-color;
            @include responsive-margin-top(40, 40);
            @include responsive-margin-bottom(40, 40);
        }
    }

    .burger-menu__horizontal-bar,
    .footer__rights-reserved,
    .footer__privacy-policy,
    .wrapper-developers {
        z-index: 10;
        // text-decoration: 1px solid underline transparent;
    }




    &__rights-reserved,
    &__privacy-policy,
    .link-developer {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        @include responsive-font(18, 14);
        @include responsive-line-height(22, 17);
        color: $background-color;
        text-decoration: 1px solid underline transparent;
    }

    &__privacy-policy {
        text-decoration: 1px solid underline transparent;
    }

    &__rights-reserved {
        @include responsive-padding-bottom(10, 10);
        text-align: center;

    }

    &__privacy-policy {
        @include responsive-padding-bottom(20, 20);
    }

    &__privacy-policy {
        &:hover {
            color: $background-color;
            text-decoration: 1px solid underline $background-color;
            @include smoothness(text-decoration, .8s);
        }
    }

    .wrapper-developers {
        @include display(column, flex-start, center);
    }

    .link-developer {
        @include responsive-margin-bottom(10, 6);


        &:hover {
            text-decoration: 1px solid underline $background-color;
            @include smoothness(text-decoration, .8s);
        }
    }
}











// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}







// _footer.scss ____________________________