// _footer.scss ____________________________

.footer {
    position: relative;
    @include display(column, flex-start, center);
    background-color: transparent;
    min-height: 200px;
    @include responsive-padding-bottom(85, 40);

    .heading-h2 {
        color: $background-color;
    }

    &__green-circle {
        position: absolute;
        @include responsive-top(-75, -8);
        @include responsive-left(-300, -403);
        @include responsive-width(1982, 1134);
        @include responsive-height(1982, 1134);
        border-radius: 50%;
        background-color: $accent-color-green;
        z-index: -10;


    }

    .container {
        z-index: 2;
        @include display(column, flex-start, flex-start);
        @include responsive-padding-top(60, 40);
        @include responsive-padding-bottom(0, 0);
        background-color: transparent;
    }


    

    &__header {
        width: 100%;
        @include display(row, space-between, flex-start);
        @include responsive-margin-bottom(64, 64);
    }

    .logo {

        &__txt {
            color: $background-color;
        }
    }

    .burger-menu {

        &__link-wrapper {
            @include display(column, flex-start, flex-start);
            width: 50%;
        }

        &__nav {
            padding: 0;
            position: static;
            top: 0;
            z-index: 20;
            @include display(column, flex-start, center);
            width: 100%;
            height: 100%;
            background-color: $text-color;
            overflow-y: auto;
            transition: 0.8s;
        }

        &__link {
            @include responsive-margin-bottom(20, 20);
            box-sizing: border-box;
            -webkit-text-decoration: 1px solid underline transparent;
            text-decoration: 1px solid underline transparent;
            @include responsive-width(117, 78);
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            @include responsive-font(18, 12);
            @include responsive-line-height(27, 18);
            color: $background-color;
            text-align: center;

            &:hover {
                text-decoration: 1px solid underline $background-color;
                @include smoothness(text-decoration, .8s);
            }
        }

        &__horizontal-bar {
            width: 100%;
            height: 1px;
            background: #3E3E3E;
            @include responsive-margin-top(20, 20);
            @include responsive-margin-bottom(40, 40);
        }
    }

    &__rights-reserved,
    &__privacy-policy,
    .link-developer {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        @include responsive-font(18, 12);
        @include responsive-line-height(27, 18);
        color: $background-color;
        text-decoration: 1px solid underline $text-color;
    }

    &__privacy-policy {
        text-decoration: 1px solid underline transparent;
    }

    &__rights-reserved {
        @include responsive-padding-bottom(20, 20);

    }

    &__privacy-policy {
        @include responsive-padding-bottom(20, 20);
    }

    &__privacy-policy {
        &:hover {
            color: $background-color;
            text-decoration: 1px solid underline $background-color;
            @include smoothness(text-decoration, .8s);
        }
    }

    .wrapper-developers {
        @include display(column, flex-start, center);
    }

    .link-developer {
        &:hover {
            text-decoration: 1px solid underline $background-color;
            @include smoothness(text-decoration, .8s);
        }
    }
}











// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}







// _footer.scss ____________________________