// _header.scss ____________________________


.header {
    min-height: 100vh;
    background: $background-color;
    @include responsive-padding-top(32, 27);
    @include responsive-margin-bottom(120, 80)
}

.container {}

.header__control {
    width: 100%;
    top: 0px;
    left: 0px;
    @include display-row-start;
    justify-content: space-between;
    align-items: center;
    @include responsive-margin-bottom(54, 58);
}

// styles for BURGER MENU ===============
.burger-menu {
    @include responsive-width(50, 30);
    @include responsive-height(50, 30);

    &__button {
        position: relative;
        top: 0px;
        left: 0px;
        z-index: 30;
        background-color: $background-color-cards;
        border-radius: 50%;
        @include responsive-width(50, 30);
        @include responsive-height(50, 30);
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    &__lines::before,
    &__lines::after,
    &__lines {
        position: absolute;
        @include responsive-width (14, 14);
        @include responsive-height (1.2, 1.2);
        background-color: $menu-item-color;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    &__lines {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__lines::before {
        // @include responsive-width (46.8, 28);
        content: '';
        @include responsive-top (-4, -4);
    }

    &__lines::after {
        // @include responsive-width (12.5, 7.5);
        content: '';
        @include responsive-top (4, 4);
    }

    &_active .burger-menu__lines {
        background-color: transparent;
    }

    &_active .burger-menu__lines::before {
        transform: rotate(45deg);
    }

    &_active .burger-menu__lines::after {
        transform: rotate(-45deg);
    }

    &_active {

        .burger-menu__lines::after,
        .burger-menu__lines::before {
            @include responsive-width (14, 14);
            top: 0;
            background-color: $menu-item-color;
        }
    }

    &__nav {
        padding: 84px 0 0 0;
        position: fixed;
        top: 0;
        z-index: 20;
        @include display-row-start;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100%;
        background-color: $background-color;
        overflow-y: auto;
        left: -100%;
        -webkit-transition: 0.8s;
        -moz-transition: 0.8s;
        -o-transition: 0.8s;
        transition: 0.8s;

        .logo {
            color: $background-color;
            position: absolute;
            @include responsive-top (114, 34);
            @include responsive-left (92, 90);
        }
    }

    &_active .burger-menu__nav {
        left: 0;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    &__link {
        @include responsive-margin-bottom (35, 20);
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        @include responsive-font (18, 20);
        @include responsive-line-height (27, 30);
        color: $menu-item-color;
        box-sizing: border-box;
        text-decoration: 1px solid underline $background-color;

        &:hover,
        &:active {
            text-decoration: 1px solid underline $accent-color;
            color: $menu-item-color;
            @include smoothness(text-decoration, .8s);
        }
    }

    &__horizontal-bar {
        width: 100%;
        height: 1px;
        background: #B1B1B1;
        @include responsive-margin-top(60, 50);
        @include responsive-margin-bottom(24, 22);
    }


    &__overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
    }

    &_active .burger-menu__overlay {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

// / styles for BURGER MENU ===============


.call-button,
.mail-button,
.whatsapp-button {

    width: 100%;
    @include display-row-start;
    align-items: center;
    @include responsive-padding-left(35, 28);
    @include responsive-margin-bottom (25, 20);


    &__icon {
        @include display-row-start;
        justify-content: center;
        align-items: center;
        @include responsive-width(42, 35);
        @include responsive-height(42, 35);
        margin: 0 16px 0 0;
        padding: 0;
        background-color: $accent-color;
        border-radius: 50%;
        border: none;
        outline: none;
        fill: inherit;
        stroke: inherit;
        stroke-width: inherit;
    }

    &__svg {
        @include responsive-width(16, 13);
        @include responsive-height(16, 13);

        &:hover,
        &:active {
            transform: scale(1.2);
            transition: transform 0.8s;
        }
    }

    &__txt {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        @include responsive-font(18, 12);
        @include responsive-line-height(27, 14.4);
    }

    &__whatsapp {
        @include responsive-width(42, 35);
        @include responsive-height(42, 35);
    }

    &:hover .call-button__txt,
    &:active .call-button__txt,
    &:hover .mail-button__txt,
    &:active .mail-button__txt,
    &:hover .whatsapp-button__txt,
    &:active .whatsapp-button__txt {
        color: $text-color;
    }
}

.whatsapp-button {
    &__icon {
        background-color: transparent;
    }
}

.logo {
    @include display-row-start;
    align-items: center;
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    @include responsive-font(25, 21);
    @include responsive-line-height(35, 29);
    color: $text-color;

    &__txt {
        font-family: Jost;
        @include responsive-margin-right(7.5, 6.3);
    }

    &__icon {
        @include responsive-width(25, 21);
        @include responsive-height(21.5, 18);
    }

    &:hover,
    &:active {
        color: $accent-color;
        transition: color 0.8s;
    }
}

.header__contacts {

    .btn {
        @include responsive-width(42, 35);
        @include responsive-height(42, 35);
        padding: 0;
        background-color: $accent-color;
        border-radius: 50%;
        border: none;
        outline: none;
        fill: inherit;
        stroke: inherit;
        stroke-width: inherit;

        &:hover,
        &:active {
            background-color: $accent-color !important;
        }

        &__icon {
            @include responsive-width(16, 13);
            @include responsive-height(16, 13);

            &:hover,
            &:active {
                transform: scale(1.2);
                transition: transform 0.8s;
            }
        }
    }
}

.modal {
    &__close {
        @include responsive-width (18, 15);
        @include responsive-height (18, 15);
    }
}

// styles for header__CONTENT ===============
.header {

    &__content {
        @include display-row-start;
        flex-direction: column;
    }

    &__main-heading {
        @include responsive-font(50, 33);
        @include responsive-line-height(65, 44);
        color: $text-color;
        @include responsive-margin-bottom(30, 20);
    }

    &__description-site {
        @include responsive-font(20, 14);
        @include responsive-line-height(30, 21);
        color: $text-color;
        @include responsive-margin-bottom(60, 40);
    }

    &__img {
        max-width: 100%;
        object-fit: cover;

    }

}

.button-order {

    @include display-row-start;
    justify-content: center;
    align-items: center;
    // @include responsive-max-width(244, 179);
    background-color: $accent-color;
    border-radius: 5px;
    @include responsive-margin-bottom(44, 40);
    @include responsive-padding-left-right(48, 40);
    @include responsive-padding-top-bottom(24, 20);

    &__txt {
        color: $background-color;
        @include responsive-font(18, 12);
        @include responsive-line-height(22, 14);
    }

    &:hover,
    &:active {
        background-color: $button-color-OnHover;
        // transition: color .8s;
        @include smoothness(background-color, .8s);
    }


}

// / styles for header__CONTENT ===============


// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}



// _header.scss ____________________________