// ============= SECTION-BUSINESS.SCSS =============

.order-form {

    min-height: 500px;
    background-image: url(../img/BG-section-order-form-min.jpeg);
    background-color: rgba(255, 255, 255, 0.85);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    padding: 80px 0 80px 0;

    &__title {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: $text-color-1;
        margin-bottom: 30px;

        span {
            color: $accent-color;
            margin: 0;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 43px;
        }
    }

    &__subtitle {
        width: 100%;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #BBBBBB;
        text-align: center;
        margin-bottom: 80px;
    }

    .scheme-work {
        &__wrap {
            width: 100%;
            @include display-flex(column, flex-start, center);
            margin-bottom: 50px;
        }

        &__card {
            width: 188px;
            @include display-flex(column, flex-start, center);
            margin-bottom: 50px;
        }

        &__picture {
            position: relative;
            background-color: $accent-color;
            @include display-flex(column, center, center);
            width: 100px;
            height: 100px;
            border: 5px solid #286690;
            border-radius: 50%;
            margin-bottom: 20px;

            svg {
                width: 38px;
                height: 38px;
            }
        }

        &__txt {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: $text-color-1;
        }

    }

    .product-form {
        width: 100%;
        @include display-flex(column, flex-start, flex-start);

        &__input-wrap {
            width: 100%;
            @include display-flex(column, flex-start, flex-start);
        }

        &__control-wrap {
            width: 100%;
            @include display-flex(column, flex-start, flex-start);
        }

        .select {
            position: relative;
            width: 100%;
            max-height: 36px;
            margin: 0 auto;
            margin-bottom: 31px;

            &[data-state="active"] {
                .select__title {
                    background: rgba(61, 64, 80, 0.85);
                    border: none;
                    border-radius: 3px 3px 0px 0px;
                    color: #FFFFFF;
                    border: 1px solid #3D4050;

                    &::before {
                        transform: translate(-2px, -50%) rotate(-45deg);
                        background-color: #FFFFFF;
                        ;
                    }

                    &::after {
                        transform: translate(2px, -50%) rotate(45deg);
                        background-color: #FFFFFF;
                    }
                }

                .select__content {
                    opacity: 1;
                    z-index: 1000;
                    max-height: 150px;
                    overflow: scroll;

                    background: rgba(39, 39, 51, 0.9);
                    border: 1px solid #3D4050;
                    box-sizing: border-box;
                    border-radius: 3px;
                }

                .select__label+.select__input+.select__label {
                    min-height: 37px;
                    border-top-width: 1px;
                }
            }
        }

        .select__title {
            @include display-flex(row, flex-start, center);
            width: 100%;
            height: 100%;

            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #272733;
            padding: 10px 35px 10px 10px;

            background: rgba(255, 255, 255, 0.85);
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 3px;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 68%;
                right: 20px;
                display: block;
                width: 6px;
                height: 1px;
                transition: all 0.3s ease-out;
                background-color: #000000;
                transform: translate(-2px, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(2px, -50%) rotate(-45deg);
            }

            &:hover {
                border-color: #000000;

                &::before,
                &::after {
                    background-color: #000000;
                }
            }
        }

        .select__content {
            @include display-flex(column, flex-start, flex-start);
            flex-wrap: nowrap;
            position: absolute;
            top: 43px;
            left: 0px;
            width: 100%;
            background-color: #ffffff;
            border: 1px solid #c7ccd1;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: all 0.3s ease-out;
            opacity: 0;
        }

        .select__input {
            display: none;

            &:checked+label {
                // background-color: #dedede;
                color: #42A9ED;
            }

            &:disabled+label {
                opacity: 0.6;
                pointer-events: none;
            }
        }

        .select__label {
            position: relative;
            @include display-flex(row, flex-start, center);
            width: 100%;
            padding: 0px 26px 0px 10px;
            transition: all 0.2s ease-out;
            cursor: pointer;
            overflow: hidden;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;

            &+input+& {
                border-top: 0 solid #C7CCD160;
            }
        }

        &__field {
            position: relative;
            width: 100%;
            @include display-flex(column, flex-start, flex-start);
            margin-bottom: 23px;
        }

        &__input {
            // position: relative;
            width: 100%;
            padding: 10px 16px;
            background: #FFFEFB;

            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            -moz-osx-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

            border-radius: 4px;
        }

        &__textarea {
            width: 100%;
            padding: 10px 16px;
            background: #FFFEFB;

            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            -moz-osx-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

            border-radius: 4px;
            resize: none;
            // font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            // color: $text-color;
        }

        &__button {
            width: 100%;
            margin-top: 25px;
            padding: 17px;
            background: $accent-color;
            border-radius: 4px;
            border: 1px solid #FFFFFF;

            font-family: 'Lato';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }

    .product-form__file {
        position: relative;

        .input__file {
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }

        .input__file-icon-wrapper {
            margin: 0 10px 0 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .input__file-button-text {
            line-height: 1;
            margin: 0;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            color: #272733;
        }

        .input__file-button {
            width: 100%;
            min-height: 48px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: center;
            cursor: pointer;
            margin: 0 auto;
            padding: 12px 20px;
            background: #FFFFFF;
            border: 2px solid #3E9CDC;
            box-sizing: border-box;
            border-radius: 3px;
        }
    }

    .product-form__range {
        width: 100%;
        @include display-flex(column, flex-start, flex-start);

        .range {
            width: 100%;
            padding: 0;
            background: rgba(255, 255, 255, 0.7);
            border: 1px solid #FFFFFF;
            border-radius: 10px;
        }

        &-content {
            width: 100%;
            @include display-flex(row, space-between, flex-start);
            margin-bottom: 19px;
        }

        &-text {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            margin-right: 15px;
        }

        &-result {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: rgba(255, 255, 255, 0.85);

            span {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: rgba(255, 255, 255, 0.85);
            }
        }

        input[type=range] {
            -webkit-appearance: none
        }

        input[type=range]::-webkit-slider-runnable-track {
            border-radius: 10px;
            height: 6px;
            width: 100%;
            background: rgba(255, 255, 255, 0.7);
            border: 1px solid #FFFFFF;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: #42A9ED;
            border: 3px solid #286690;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -9px;
        }
    }

    @media (max-width: 575.98px) {

        width: 100%;

        .product-form__input {
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

        .product-form__textarea {
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

        .product-form {
            width: 100%;
        }

    }

    // стили для невалидного и валидного значения input 
    .invalid {
        // background-color: rgba(205, 92, 92, 0.3);
        border: 1px solid $accent-color;
        transition: all 0.8s ease 0s;
    }

    .valid {
        // background-color: #FFFEFB;
        border: 1px solid #FFFFFF;
        transition: all 0.8s ease 0s;
    }

    .error-msg {
        position: absolute;
        bottom: -15px;
        left: 7px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 10px;
        letter-spacing: -0.02em;
        color: $accent-color;
    }

    .valid-form-btn {
        color: #FFFFFF;
        background: #7BAE73;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.8s ease 0s;
    }

    @media (min-width: 992px) {
        padding: 150px 0 150px 0;

        .scheme-work__wrap {
            @include display-flex(row, space-between, flex-start);
        }

        .scheme-work__card {
            padding: 0px 5px;
        }

        .scheme-work__picture:before {
            content: "";
            background-image: url("../img/pseudo-circles.svg");
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 110px;
            height: 6px;
            position: absolute;
            left: 113px;
            top: 43px;
        }

        .scheme-work__card:last-child .scheme-work__picture::before {
            content: "";
            width: 0px;
            height: 0px;
        }

        .product-form {
            @include display-flex(column, flex-start, center);

            &__input-wrap {
                @include display-flex(row, space-between, flex-start);

                .select {
                    width: 30%;
                    margin: 0;
                }

                .product-form__field {
                    width: 30%;
                }
            }

            &__control-wrap {
                @include display-flex(row, space-between, flex-end);

                .product-form__range {
                    width: 65%;
                }

                .product-form__file {
                    width: 30%;
                }

                .input__file-button {
                    margin: 0;
                }
            }

            &__button {
                width: 370px;
            }


        }


    }

    @media (max-width: 767.98px) {}

    @media (max-width: 991.98px) {}

    @media (max-width: 1199.98px) {}

    @media (max-width: 1399.98px) {}

    @media (min-width: 1200px) {}

    @media (min-width: 1400px) {}

}



// ============= SECTION-BUSINESS.SCSS =============