// _privacy-policy.scss ____________________________

.body-privacy-policy {

    .wrapper {
        @include responsive-padding-top-bottom(60, 40);
    }

    .header-policy {
        @include responsive-margin-bottom(60, 40);
    }

    .container {
        @include display(column, flex-start, flex-start);
    }

    .h1 {
        width: 100%;
        font-family: Jost;
        font-style: normal;
        font-weight: bold;
        @include responsive-font(44, 30);
        @include responsive-line-height(64, 43);
        text-align: center;
        color: $menu-item-color;
    }

    .link-go-back {
        @include display(row, flex-start, center);
        @include responsive-margin-bottom(60, 40);

        &__icon {
            @include responsive-width(30, 30);
            @include responsive-height(17, 17);
            @include responsive-margin-right(20, 16);
        }

        &__txt {
            @include responsive-font(18, 12);
            @include responsive-line-height(21.6, 14.4);
        }
    }

    .main {

        p {
            @include responsive-font(20, 14);
            @include responsive-line-height(30, 21);
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            color: $text-color;
            @include responsive-margin-bottom(30, 20);
        }
    }

    .footer-policy {

        .link-go-back {
            margin: 0;
        }

    }








}




// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}





// / _privacy-policy.scss ____________________________