// _section-FORM.scss ____________________________

.heading-h3 {
    @include responsive-width(419, 273);
    text-align: center;
    color: $text-color;
    @include responsive-font(38, 26);
    @include responsive-line-height(49.5, 34);
    @include responsive-margin-bottom(50, 40);
}

.section-form {
    @include display(column, flex-start, center);
    background-color: $background-color-cards;

    .container {
        @include display(column, flex-start, center);
        @include responsive-padding-top(60, 50);
        background-color: $background-color-cards;
    }

}

.contact-form {
    position: relative;
    @include responsive-width(361, 277);
    @include display(column, flex-start, flex-start);
    @include responsive-margin-bottom(50, 50);


    .modal {

        &__close {
            font-size: 0px;
            @include responsive-top-right(34, 23);
            z-index: 10;
            border-radius: 50%;
            position: absolute;
            @include responsive-width(20, 16);
            @include responsive-height(20, 16);
            background: transparent;
            opacity: 1;
            outline: none;
            text-shadow: none;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        &-dialog-centered {
            justify-content: center;
        }

        &__content {
            position: relative;
            background: transparent;
            border: 0px;
        }

        &-body {
            @include display(column, flex-start, center);
            padding: 0;
            background: transparent;
            @include responsive-min-height(500, 350);
            @include responsive-width(686, 291);
            background: $background-color;
            border-radius: 5px;
            @include responsive-padding-top(136, 84);
            @include responsive-padding-top(90, 54);
            @include responsive-padding-left-right(49, 22);
        }
    }


    &__message {
        font-family: Jost;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        @include responsive-font(38, 26);
        @include responsive-line-height(53, 36);
        color: $text-color;
        @include responsive-margin-bottom(58, 40);
    }

    &__input-wrapper {
        width: 100%;

        &_name {

            ::-webkit-input-placeholder,
            ::-moz-placeholder,
            :-moz-placeholder,
            :-ms-input-placeholder {
                text-transform: none;
            }
        }
    }

    &__input {
        font-family: Lato;
        background-color: $background-color;
        font-style: normal;
        font-weight: normal;
        @include responsive-font(18, 12);
        @include responsive-line-height(27, 18);
        color: $text-color;
        @include responsive-padding-left-right(15, 16);
        @include responsive-padding-top-bottom(23, 20);
        @include responsive-margin-bottom(20, 15);
        width: 100%;
        border: 1px solid $placeholder-color;
        border-radius: 5px;


        &_name {
            text-transform: capitalize;
        }
    }


    // https://computy.ru/blog/stilizacija-select-kak-budto-jeto-2019/
    .select {
        display: block;
        width: 100%;
        position: relative;
        @include responsive-margin-bottom(15, 10);

        .new-select {
            width: 100%;
            position: relative;
            border: 1px solid $placeholder-color;
            font-family: Lato;
            background-color: $background-color;
            font-style: normal;
            font-weight: normal;
            @include responsive-font(18, 12);
            @include responsive-line-height(27, 18);
            color: $text-color;
            @include responsive-padding-left-right(15, 16);
            @include responsive-padding-top-bottom(23, 20);
            @include responsive-margin-bottom(20, 15);
            width: 100%;
            border-radius: 5px;
            color: $text-color;
            user-select: none;

            &__list {
                position: absolute;
                left: 0;
                border: 1px solid rgba(20, 26, 38, 0.4);
                cursor: pointer;
                width: 100%;
                z-index: 2;
                background-color: $background-color;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                // font-size: 18px;
                // line-height: 110%;
                color: rgba(20, 26, 38, 0.4);
                user-select: none;
                text-align: left;
                // font-size: 14px;
                @include responsive-top(74, 58);
                @include responsive-font(18, 12);
                @include responsive-line-height(27, 18);

                .on {
                    display: block;
                }


            }

            &__item span {
                background-color: #fff;
            }

            &__item span {
                display: block;
                padding: 10px 15px;
                border-bottom: 1px solid rgba(20, 26, 38, 0.4);
            }

            &__item span:hover {
                background: $accent-color;
                color: $background-color-cards;
            }
        }
    }
}

.contact-form {
    .new-select:after {
        content: '';
        display: block;
        width: 15px;
        height: 7px;
        fill: rgba(20, 26, 38, 0.5);
        position: absolute;
        @include responsive-right(25, 21);
        top: 43%;
        background: url(../img/selection-arrow.svg) no-repeat center / contain;
        opacity: 1;
        -webkit-transition: all .27s ease-in-out;
        -o-transition: all .27s ease-in-out;
        transition: all .27s ease-in-out;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .new-select.on:after {
        transform: rotate(180deg);
        background: url(../img/selection-arrow-red.svg) no-repeat center / contain;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .button-sectionSendApplication {
        color: $background-color;
        width: 100%;
        background-color: $accent-color;
        border-radius: 5px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        @include responsive-margin-bottom(14, 10);
        @include responsive-padding-left-right(103, 85);
        @include responsive-padding-top-bottom(24, 20);
        // height: 47px;
        @include responsive-font(18, 12);
        @include responsive-line-height(21.6, 14);

        &:hover {
            background: $button-color-OnHover;
            @include smoothness(background-color, .8s);
        }
    }

    &__politics-txt {
        @include responsive-font(16, 12);
        @include responsive-line-height(24, 18);
        color: $placeholder-color;
        width: 100%;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        text-align: center;
    }

    &__politics-link {
        color: $placeholder-color;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;

        &:hover {
            color: $text-color;
            @include smoothness(color, .8s);
        }
    }
}

.section-form {

    &__img {
        max-width: 100%;
        object-fit: cover;
        @include responsive-width(1153, 367);
        @include responsive-height(693, 347);
    }


}






// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}





// / _section-FORM.scss ____________________________