// _section-ADVANTAGES.scss ____________________________

.section-advantages {
    @include display(column, flex-start, center);
    @include responsive-padding-bottom(30, 20);
    @include responsive-padding-top(60, 40);

    .container {
        @include display(column, flex-start, content);
    }

    &__advantages-card {
        @include display(row, flex-start, center);
        @include responsive-width(368, 290);
        @include responsive-min-height(180, 110);
        background: $accent-color;
        border-radius: 5px;
        @include responsive-margin-bottom(12, 10);
        @include responsive-margin-left(3, 0);
        @include responsive-margin-right(3, 0);
        @include responsive-padding-left-right(40, 17);
        @include responsive-padding-top-bottom(60, 34);

        &_large-width {
            @include responsive-width(750, 290);
        }
    }

    &__advantages-icon {
        @include responsive-width(56, 45);
        @include responsive-height(56, 45);
        @include responsive-margin-right(20, 14);
        fill: $background-color;

        &_large-width {
            @include responsive-width(100, 70);
            @include responsive-height(86, 60);
        }
    }

    &__advantages-text {
        @include responsive-max-width(459, 197);
        @include responsive-font(20, 14);
        @include responsive-line-height(30, 21);
        font-style: normal;
        font-weight: normal;
        color: $background-color;

    }



}




// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}






// / _section-ADVANTAGES.scss ____________________________