// _section-CONTACTS.scss ____________________________

.section-contacts {
    @include display(column, flex-start, center);
    background-color: $background-color-cards;

    .container {
        @include display(column, flex-start, flex-start);
        @include responsive-padding-top-bottom(93, 50);
        background-color: $background-color-cards;
    }

    .call-button,
    .whatsapp-button,
    .mail-button,
    .operating-mode {
        padding-left: 0;
    }

    .operating-mode {
        margin: 0;
    }

    &__img {
        max-width: 100%;
        object-fit: cover;
        @include responsive-height(500, 224);
        @include responsive-width(1033, 461);
    }




}



// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}






// / _section-CONTACTS.scss ____________________________