// _section-FORM.scss ____________________________

.section-form {
    background-color: $background-color-cards;

    .container {
        @include display(column, flex-start, center);
    }

}

.heading-h3 {
    text-align: center;
    color: $text-color;
    @include responsive-font(38, 26);
    @include responsive-line-height(49.5, 34);
    @include responsive-padding-top(60, 50);
    @include responsive-padding-bottom(60, 50);
    @include responsive-margin-bottom(50, 40);



}


// .section-sendApplication ===============================================


.section-sendApplication {
    overflow: hidden;
    position: relative;
    padding: 60px 0 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #366BDB;
}

.decorative-square-5 {
    position: absolute;
    width: 1267.55px;
    height: 1267.55px;
    left: -431%;
    top: -128%;
    border: 20px solid rgba(253, 253, 253, 0.2);
    box-sizing: border-box;
    border-radius: 100px;
    transform: rotate(-41.01deg);
}



.close-form {
    top: -199px;
}



.form-section-sendApplication {
    .modal-content {
        background: transparent;
        border: 0px;
    }

    .modal.show .modal-dialog {
        max-width: 750px;
        min-height: 100vh;
    }

    .modal-body {
        padding: 0;
        background: transparent;
        min-height: 121px;
    }

    .header-contacts-modal {
        background: linear-gradient(312.61deg, #366BDB 16.36%, #578CFB 91.28%);
        border-radius: 6px;
        padding: 65px 130px 65px 130px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .contact-form__message {
        text-align: center;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 150%;
        color: #FDFDFD;
        // margin: 0 0 50px 0;
        margin: 0;
    }

    button.close {
        top: -52px;
        right: -45px;
    }

    .modal__wrapper-img {
        width: 140px;
        height: 140px;
    }

    .modal__square-img {}

    .modal__successfully-img {}

}






.pop-up_window {
    display: none;
}

.pop-up_window-application {}

.pop-up-svg {}

.p-pop-up {}

.div-cross {}

.div-form-wrap {}

.h2-section-sendApplication {
    width: 667px;
    min-height: 171px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 150%;
    // color: @txtButtonColor;
    text-align: left;
    margin: 0;
}

.form-section-sendApplication {
    position: relative;
    width: 361px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-form__input-wrapper {
    width: 100%;
}

button.close {
    border-radius: 50%;
    position: absolute;
    top: -52px;
    right: 0px;
    width: 40px;
    height: 40px;
    background: #3A6FDE;
    opacity: 1;
    outline: none;
}

.close {
    text-shadow: none;
    // color: @txtButtonColor;
}

.input-text-section-sendApplication {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: rgba(20, 26, 38, 0.4);

    width: 100%;
    height: 58px;
    // background: @backgroundColor;
    border-radius: 3px;
    padding: 23px 15px 23px 15px;
    margin: 0 0 20px 0;
}

.contact-form__input-wrapper_name {
    ::-webkit-input-placeholder {
        text-transform: none;
    }

    ::-moz-placeholder {
        text-transform: none;
    }

    /* Firefox 19+ */
    :-moz-placeholder {
        text-transform: none;
    }

    /* Firefox 18- */
    :-ms-input-placeholder {
        text-transform: none;
    }

    .input-text-section-sendApplication {
        text-transform: capitalize;
    }

}






.select-form {}

.select {}

.option-form {}

.button-sectionSendApplication {
    width: 360px;
    height: 70px;
    background: linear-gradient(180deg, #FF9823 0%, #FF591F 100%);
    border-radius: 6px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    // color: @txtButtonColor;
    margin: 0 0 16px 0;
}

.button-sectionSendApplication:hover {
    background: linear-gradient(180deg, #FF9823 0%, #FF591F 100%);
    box-shadow: 0px 21px 50px rgba(255, 95, 5, 0.35);
    border-radius: 6px;
}

.p-form-confidentiality {
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    // color: @txtButtonColor;
}

.confidentiality {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    // font-size: 16px;
    // line-height: 150%;
    // color: @txtButtonColor;
    text-decoration: underline;
}

// https://computy.ru/blog/stilizacija-select-kak-budto-jeto-2019/
.select {
    display: block;
    // max-width: 215px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.new-select {
    width: 100%;
    background: #FDFDFD;
    border-radius: 3px;
    position: relative;
    border-bottom: 1px solid #D0D0D0;
    padding: 23px 15px 23px 15px;
    cursor: pointer;
    user-select: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110%;
    color: rgba(20, 26, 38, 0.4);
}

.new-select__list {
    position: absolute;
    top: 64px;
    left: 0;
    border: 1px solid rgba(20, 26, 38, 0.4);
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110%;
    color: rgba(20, 26, 38, 0.4);
    user-select: none;
    text-align: left;
}

.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(20, 26, 38, 0.4);
}

body>div>main>section.section-consultation>form>ul>div>div.new-select__list>div:nth-child(4) {
    border: none;
}

.new-select__item span:hover {
    background: linear-gradient(180deg, #FF9823 0%, #FF591F 100%);
    // color: @txtButtonColor;
}

.new-select:after {
    content: '';
    display: block;
    width: 15px;
    height: 10px;
    fill: rgba(20, 26, 38, 0.5);
    position: absolute;
    right: 13px;
    top: 43%;
    background: url(../img/Vector-2.svg) no-repeat center / contain;
    opacity: 1;
    -webkit-transition: all .27s ease-in-out;
    -o-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.new-select.on:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

// https://computy.ru/blog/stilizacija-select-kak-budto-jeto-2019/



// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}





// / _section-FORM.scss ____________________________