// ============= SECTION-BUSINESS.SCSS =============

.section-business {
    min-height: 500px;
    background-image: url(../img/main-image-min.jpeg);
    background-color: rgba(255, 255, 255, 0.85);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 14% 50%;
    padding: 100px 0 100px 0;

    .main-title {

        span {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            text-transform: uppercase;
            color: $accent-color;
            margin: 0;
        }
    }

    .advantage {
        @include display-flex(column, flex-start, flex-start);

        &__title {
            text-transform: none;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $text-color-2;
            margin: 0 0 10px 0;
        }

        &__list {
            padding-left: 25px;
            margin-bottom: 80px;
        }

        &__item {
            position: relative;
            margin-bottom: 5px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: $text-color-2;

            &::before {
                content: "";
                width: 4.94px;
                height: 1.51px;
                background: $text-color-2;
                position: absolute;
                left: -15px;
                top: 13px;
            }
        }
    }

    &__control-wrap {
        @include display-flex(row, space-between, flex-start);
    }

    .order-button,
    .button-details {
        @include display-flex(row, center, center);
        margin-right: 30px;
        padding: 15px 31px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: $text-color-1;
        background: $accent-color;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 4px;
    }

    .button-details {
        background: #FFFFFF;
        border: 1px solid #6F6D7B;
        color: #2A2B30;
    }

    @media (min-width: 576px) {}

    @media (min-width: 768px) {}

    @media (min-width: 992px) {

        padding: 203px 0 203px 0;

        .order-button,
        .button-details {
            min-width: 183px;
        }
    }

    @media (min-width: 1200px) {}

    @media (min-width: 1400px) {}

}



// ============= SECTION-BUSINESS.SCSS =============