// _section-GALLERY.scss ____________________________
.section-gallery {
    @include display(column, flex-start, center);
    @include responsive-padding-bottom(60, 40);
    @include responsive-padding-top(60, 40);

    .container {
        @include display(column, flex-start, center);
    }

    .swiper {
        position: relative;

        &-container {
            // padding-bottom: 50px;
            width: 100%;
            height: 100%;
        }

        &-slide {
            @include responsive-width(750, 225);
            @include responsive-height(562, 168);
            opacity: 0.5;

            &-active {
                opacity: 1;
            }
        }

        .slider-buttons {
            @include display(row, flex-end, flex-start);
        }

        &-button-prev,
        &-button-next {
            position: static;
            margin-left: 10px;
        }
    }
}







// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}





// / _section-GALLERY.scss ____________________________