// _section-REVIEWS.scss ____________________________

.section-reviews {
    @include display(column, flex-start, center);
    @include responsive-padding-top(60, 40);
    @include responsive-padding-bottom(120, 80);

    .container {
        @include display(column, flex-start, center);

    }

    .review-card {
        position: relative;
        @include display(column, flex-start, flex-start);
        @include responsive-padding-top-bottom(33, 20);
        @include responsive-padding-left-right(30, 20);
        background-color: $background-color-cards;
        border-radius: 5px;
        @include responsive-width(541, 279);
        @include responsive-min-height(342, 228);

        &__img {
            position: absolute;
            @include responsive-top(-16, -10);
            @include responsive-left(-14, -10);
            @include responsive-width(154, 80);
            @include responsive-min-height(154, 80);
        }

        &__wrapper-names {
            @include display(column, flex-start, flex-start);
            @include responsive-margin-left(140, 66);
            @include responsive-min-height(94, 67);
            @include responsive-margin-bottom(33, 14);




        }

        &__client-name {
            @include responsive-margin-bottom(10, 10);
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            @include responsive-font(20, 14);
            @include responsive-line-height(30, 21);
            color: $text-color;
        }

        &__service-name {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            @include responsive-font(18, 12);
            @include responsive-line-height(27, 18);
            color: rgba(35, 34, 39, 0.7);
        }

        &__review-text {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            @include responsive-font(20, 12);
            @include responsive-line-height(30, 18);
            color: $text-color;
        }

    }




}



// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}





// / _section-REVIEWS.scss ____________________________