// _section-SERVICES.scss ____________________________

.section-services {
    @include display-row-start;
    justify-content: center;

}

.heading-h2 {
    width: 100%;
    text-align: center;
    @include responsive-font(44, 30);
    @include responsive-line-height(63, 43);
}




// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}





// / _section-SERVICES.scss ____________________________