// ============= VARIABLES =============

$background-color: #3D4050;
$accent-color: #3E9CDC;
$text-color-1: #FFFFFF;
$text-color-2: #000000;
$placeholder-color: #272733;

// ============= VARIABLES =============