// ============= VARIABLES =============

$background-color: #FDFDFD;
$accent-color: #E52976;
$accent-color-light: #F34D91;
$text-color: #070707;
$placeholder-color: rgba(7, 7, 7, 0.5);

// ============= VARIABLES =============