// ============= ELEMENTS =============

html,
body {
    background-color: $background-color;
}

// X-Small devices (portrait phones, less than 576px)
h1,
h2,
h3 {
    font-family: Cormorant;
    font-style: normal;
    font-weight: normal;
    color: $text-color;
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 61px;
    margin: 0 0 37px 0;
}

h2 {
    font-size: 40px;
    line-height: 48px;
    margin: 0 0 50px 0;
}

h3 {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 12px 0;
    font-style: italic;
}

p,
span {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $text-color;
    margin: 0;
}

input,
button {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $text-color;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0 50px 0;
}

// UP BUTTON ON THE SITE =================
.up-button {
    display: block;
    background-color: transparent;
    background: $accent-color;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 9999;
    cursor: pointer;
    transform: rotate(180deg);

    path {
        stroke-width: 2px;
    }

    &_show {
        opacity: .8;
    }

    &__arrow {
        position: absolute;
        width: 17px;
        height: 16px;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        animation: upArrowAnim infinite 2s;
    }
}

// UP BUTTON ON THE SITE =================






// // СТИЛИЗАЦИЯ -placeholder
// ::-webkit-input-placeholder {
//     font-family: PT Root UI;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 12px;
//     line-height: 15px;
//     color: rgba(255, 253, 254, 0.5);
// }

// ::-moz-placeholder {
//     font-family: PT Root UI;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 12px;
//     line-height: 15px;
//     color: rgba(255, 253, 254, 0.5);
// }

// /* Firefox 19+ */
// :-moz-placeholder {
//     font-family: PT Root UI;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 12px;
//     line-height: 15px;
//     color: rgba(255, 253, 254, 0.5);
// }

// /* Firefox 18- */
// :-ms-input-placeholder {
//     font-family: PT Root UI;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 12px;
//     line-height: 15px;
//     color: rgba(255, 253, 254, 0.5);
// }

// // СТИЛИЗАЦИЯ -placeholder















// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {

//     h1 {
//         font-size: 46px;
//         line-height: 64.4px;
//     }

//     h2 {
//         font-size: 40px;
//         line-height: 52px;
//         margin-bottom: 60px;
//     }

//     h3 {
//         font-size: 22px;
//         line-height: 28.6px;
//     }

//     p,
//     span {
//         font-size: 16px;
//         line-height: 22.4px;
//     }

//     input {
//         font-size: 14px;
//         line-height: 18px;
//     }

//     button {
//         font-size: 16px;
//         line-height: 20px;
//     }

//     section {
//         padding: 60px 0 60px 0;
//     }

//     // стилизация placeholder
//     ::-webkit-input-placeholder {
//         font-size: 14px;
//         line-height: 18px;
//     }

//     ::-moz-placeholder {
//         font-size: 14px;
//         line-height: 18px;
//     }

//     /* Firefox 19+ */
//     :-moz-placeholder {
//         font-size: 14px;
//         line-height: 18px;
//     }

//     /* Firefox 18- */
//     :-ms-input-placeholder {
//         font-size: 14px;
//         line-height: 18px;
//     }

//     // стилизация placeholder
// }

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {

//     h1 {
//         font-size: 70px;
//         line-height: 98px;
//     }

//     h2 {
//         font-size: 50px;
//         line-height: 65px;
//         margin-bottom: 70px;
//     }

//     h3 {
//         font-size: 30px;
//         line-height: 39px;
//     }

//     p,
//     span {
//         font-size: 20px;
//         line-height: 28px;
//     }

//     input {
//         font-size: 18px;
//         line-height: 23px;
//     }

//     button {
//         font-size: 20px;
//         line-height: 25px;
//     }

//     section {
//         padding: 75px 0 75px 0;
//     }

//     // стилизация placeholder
//     ::-webkit-input-placeholder {
//         font-size: 18px;
//         line-height: 23px;
//     }

//     ::-moz-placeholder {
//         font-size: 18px;
//         line-height: 23px;
//     }

//     /* Firefox 19+ */
//     :-moz-placeholder {
//         font-size: 18px;
//         line-height: 23px;
//     }

//     /* Firefox 18- */
//     :-ms-input-placeholder {
//         font-size: 18px;
//         line-height: 23px;
//     }
// }

// ============= ELEMENTS =============