// ============= SECTION-BOOK-CONTENTS =============

.section-book-contents {

    .heading-h2 {
        position: relative;

        &__ellipse {
            position: absolute;
            top: -4px;
            left: 82px;
            width: 183px;
            height: 69px;
            transform: rotate(-3deg);

            path {
                stroke: #E52976;
            }
        }
    }

    &__content-wrap {
        width: 100%;
        @include display-flex(column, flex-start, center);
    }

    &__cards {
        @include display-flex(row, space-between, center);
        width: 100%;
        padding: 20px 10px;
        border-bottom: 1px solid rgba(7, 7, 7, 0.1);

        &:first-child {
            border-top: 1px solid rgba(7, 7, 7, 0.1);
        }
    }

    .collapse {
        width: 100%;
    }

    #collapseExample-3344 {
        width: 100%;
    }

    .card-body {
        width: 100%;
        padding: 0;
        border: none;

        .section-book-contents__cards {

            &:first-child {
                border-top: 0px solid rgba(7, 7, 7, 0.1);
            }
        }
    }

    .btn {
        @include display-flex(row, flex-start, center);
        width: 100%;
        text-align: left;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        padding: 23px 10px 20px 10px;

        svg {
            margin-left: 8px;
        }
    }

    .section-book-contents__text {}

    .section-book-contents__numbering {}

    .collapse {}

    .card {}

    .card-body {}
}

// ============= SECTION-BOOK-CONTENTS =============






// .section-what-inside {

//     background-color: $accent-color;

//     .container {}

//     .heading-h2 {
//         position: relative;
//         color: #FDFDFD;

//         // span {
//         //     font-family: Cormorant;
//         //     font-weight: 400;
//         //     font-style: italic;
//         //     font-size: 40px;
//         //     line-height: 48px;
//         //     color: #FDFDFD;
//         // }

//         &__ellipse {
//             position: absolute;
//             top: -10px;
//             left: -26px;
//             width: 183px;
//             height: 69px;
//             transform: rotate(-3deg);

//             path {
//                 stroke: #FDFDFD;
//             }
//         }
//     }

//     &__content-wrap {
//         width: 100%;
//         @include display-flex(column, flex-start, center);
//     }

//     &__cards {
//         @include display-flex(column, flex-start, flex-start);
//         width: 100%;
//         margin-bottom: 20px;
//         background-color: $accent-color-light;
//         border-radius: 20px;
//         padding: 20px 60px;

//         &:last-child {
//             margin-bottom: 0px;
//         }
//     }

//     .heading-h3 {
//         position: relative;
//         color: #FDFDFD;
//     }

//     .star-svg {
//         position: absolute;
//         top: 8px;
//         left: -30px;
//     }

//     &__txt {
//         color: #FDFDFD;
//     }

// }