// ============= SECTION-CALL-TO-BUY =============

.section-call-to-buy {

    .container {
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
    }

    &__content-wrap {
        @include display-flex(column, center, center);
        width: 375px;
        height: 375px;
        border-radius: 50%;
        background-color: $accent-color;
    }

    .heading-h3 {
        text-align: center;
        font-style: normal;
        color: #FDFDFD;
        margin-bottom: 40px;
    }

    .button-order {
        background-color: #FDFDFD;
        color: $accent-color;
    }

    .apple-pay__svg path {
        fill: #FDFDFD;
    }

    .apple-pay__txt {
        color: #FDFDFD;
    }

}





// ============= SECTION-CALL-TO-BUY =============