// ============= SECTION-GUIDE-PRICE =============

.section-guide-price {

    .container {}

    .heading-h2 {
        i {
            color: $accent-color;
        }
    }

    &__wrap-content {
        width: 100%;
        @include display-flex(column, flex-start, center);
    }

    .section-guide-price {}

    .container {}

    .heading-h2 {}

    .section-guide-price__wrap-content {}

    .swiper-price__img {
        margin-bottom: 40px;
    }

    .guide-price-txt {
        font-family: Cormorant;
        font-style: italic;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        color: #070707;
        margin-bottom: 30px;
    }

    .button-order {}

    .apple-pay {}

    .apple-pay__svg {}

    .apple-pay__txt {}

    .swiper {}

    .swiper-price {}

    .swiper-wrapper {}

    .swiper-slide {}

    .swiper-pagination {}

    .swiper-pagination-price {}

    .swiper-button-next {}

    .swiper-button-next-price {}

    .swiper-button-prev {}

    .swiper-button-prev-price {}






    // .swiper {}

    .swiper-price {
        position: relative;
        @include display-flex(column, flex-start, center);
        display: none;
    }

    // .swiper-wrapper {}

    // .swiper-slide {
    //     width: 100%;
    //     @include display-flex(column, flex-start, center);
    // }

    // .swiper-pagination {
    //     // position: static;
    // }

    // .swiper-pagination-price {
    //     position: static;
    // }

    // .swiper-button-next {}

    // .swiper-button-next-price {
    //     position: static;
    // }

    // .swiper-button-prev {}

    // .swiper-button-prev-price {
    //     position: static;
    // }
}



// ============= SECTION-GUIDE-PRICE =============