// ============= section-advantages =============

.section-advantages {

    &__content-wrapper {
        width: 100%;
        @include display-flex(column, flex-start, flex-start);
    }

    &__card-wrapper {
        margin-bottom: 30px;

        &:last-child {
            margin: 0;
        }
    }

    &__card-number {
        @include display-flex(column, flex-start, flex-start);
        margin-bottom: 12px;
        color: $accent-color;
    }
}


.section-advantages {

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {

        &__content-wrapper {
            @include display-flex(row, flex-start, flex-start);
        }

        &__card-wrapper {
            width: 50%;
        }

        &__card-text {
            max-width: 90%;
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {

        &__card-number {
            margin-bottom: 16px;
        }

        &__card-wrapper {
            margin-bottom: 40px;
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {}

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {

        &__card-wrapper {
            width: 33.3%;
        }

        &__card-number {
            margin-bottom: 20px;
        }

        .section-advantages__card-wrapper {
            margin-bottom: 60px;
        }

        &__card-text {
            max-width: 91%;
        }

    }
}






// ============= section-advantages =============