// ============= UI-elements =============



// ====================== UI ======================

a:hover,
a:active,
a:focus {
    text-decoration: none !important;
    opacity: 0.8;
    color: $text-color;
    transition: all 0.7s ease 0s;
}

// .menu__link:hover {
//     text-decoration: none;
// }

// ====================== UI ======================

.header__logo:hover,
.header__logo:active {
    opacity: 0.6;
    transition: all 0.8s ease 0s;
}

.menu__link:hover,
.menu__link:active {
    color: $text-color;
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.telephone:hover,
.telephone:active {

    opacity: 1;
    text-decoration: none !important;

    .telephone__txt {
        color: rgba(255, 253, 254, 0.6);
        transition: all 0.8s ease 0s;
        opacity: 1;
    }

    .telephone__wrapper-icons {
        background-color: $accent-color !important;
        border: 1px solid transparent;
        transition: all 0.8s ease 0s;

        .telephone__icon path {
            stroke: $text-color;
        }
    }
}

.social-media__button:hover,
.social-media__button:active {

    opacity: 1;
    text-decoration: none !important;
    background-color: $accent-color;
    transition: all 0.8s ease 0s;


    .telephone__wrapper-icons {
        background-color: $accent-color !important;
        border: 1px solid transparent;
        transition: all 0.8s ease 0s;

        .telephone__icon path {
            stroke: $text-color;
        }
    }
}

.swiper-reviews-navigation__button-next:hover,
.swiper-reviews-navigation__button-next:active,
.swiper-reviews-navigation__button-prev:hover,
.swiper-reviews-navigation__button-prev:active {

    svg path {
        stroke: $text-color;
        transition: all 0.8s ease 0s;
    }
}

.section-contacts__mail:hover,
.section-contacts__mail:active {
    opacity: 0.6;
    transition: all 0.8s ease 0s;
}

.button-order:hover,
.button-order:active {
    background-color: $text-color;
    color: $accent-color;
    transition: all 0.8s ease 0s;
}

.contact-form__button:hover,
.contact-form__button:active {
    background-color: $accent-color;
    transition: all 0.8s ease 0s;
    outline: 1px solid #FFFFFF;

    span {
        color: $text-color;
        transition: all 0.8s ease 0s;
    }
}

.form-contact__politics-link:hover,
.form-contact__politics-link:active {
    opacity: 1;

    u {
        color: rgba(255, 253, 254, 0.6);
        transition: all 0.8s ease 0s;
    }
}

.section-contacts__al:hover,
.section-contacts__al:active {
    opacity: 1;
    text-decoration: underline !important;
    color: $text-color;
    transition: all 0.8s ease 0s;
}

.section-contacts__tel:hover,
.section-contacts__tel:active {
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.8s ease 0s;
}

.contact-form__input:hover,
.contact-form__input:active,
.contact-form__input:focus {
    border: 1px solid #FFFFFF;
    color: $text-color;
    transition: all 0.8s ease 0s;
}








// :hover,
// :active


// :hover,
// :active








// ============= UI-elements =============