// ============= section-reviews =============

.section-reviews {
    @include display-flex(column, flex-start, flex-start);
    padding-top: 80px;

    .container {
        @include display-flex(column, flex-start, flex-start);

        &_swiper-navigation {
            width: 100%;
            @include display-flex(row, flex-end, flex-start);
        }

        .wave {
            z-index: 10;
            @include responsive-padding-top(80, 80);
        }
    }

    .swiper-container {
        width: 100%;
        @include display-flex(column, flex-start, flex-start);
        // height: 100%;
    }

    .swiper-wrapper {
        margin-bottom: 30px;
    }

    .swiper-slide {
        // @include responsive-width(555, 290);
        // @include responsive-min-height(346, 321);
        min-height: 100px;
        opacity: 0.5;
        text-align: center;
        font-size: 18px;
        background: transparent;
        @include display-flex(row, center, flex-start);

        &-active {
            opacity: 1;
        }
    }

    .review-card {
        @include display-flex(column, flex-start, flex-start);
        // min-height: 312px;
        min-height: 312px;
        padding: 26px;
        border: 1px solid rgba(255, 255, 255, 0.6);

        &__top-wrap {
            width: 100%;
            @include display-flex(row, flex-start, center);
            margin-bottom: 20px;
        }

        &__img {
            margin-right: 10px;
            border-radius: 50%;
        }

        &__name {
            text-align: left;
            font-family: PT Root UI;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 23.4px;
            margin-bottom: 6px;
        }

        &__type-service {
            text-align: left;
            font-family: PT Root UI;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15.6px;
            color: rgba(255, 253, 254, 0.5);
            margin: 0;
        }

        &__review-text {
            text-align: left;
            font-family: PT Root UI;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: #FFFDFE;
            margin: 0;
        }
    }

    .swipe-pointer {
        width: calc(40px + 20 * ((100vw - 320px) / 1600));
        height: calc(40px + 20 * ((100vw - 320px) / 1600));
        z-index: 20;
        position: absolute;
        right: 3vw;
        top: 3%;
        fill: #FAD797;
    }

    .swiper-reviews-navigation {
        @include display-flex(row, flex-start, flex-start);

        &__button-prev,
        &__button-next {
            @include display-flex(column, flex-start, flex-start);
            width: 40px;
            height: 13px;
            // @include responsive-border-radius(3, 2.3);
            background-color: transparent;
            position: static;

            svg {
                width: 100%;
                height: 100%;

                path {
                    stroke: rgba(255, 253, 254, 0.2);
                }
            }
        }

        &__button-prev {
            margin-right: 30px;
        }

        &__button-next {
                // svg path {
                //     stroke: $text-color;
                // }
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {

        .swiper-container {
            overflow: visible;
        }

        .swiper-slide {
            min-height: 291px;
        }

        // .container_swiper-navigation {
        //     padding-right: 15px;
        // }

        .review-card {
            min-height: 289px;
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {

        padding-top: 120px;

        .review-card {
            padding: 28px;
        }

        .review-card__img {
            width: 80px;
            height: 80px;
            margin-right: 10px;
        }

        .review-card__name {
            font-size: 22px;
            line-height: 28.6px;
            margin-bottom: 6px;
        }

        .review-card__type-service {
            font-size: 14px;
            line-height: 18.2px;
        }

        .review-card__review-text {
            font-size: 14px;
            line-height: 21px;
        }

        .swiper-slide-prev {
            opacity: 0;
            transition: all 0.8s ease 0s;
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {

        .review-card {
            min-height: 305px;
        }

        .swipe-pointer {
            top: 12%;
        }
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {

        padding-top: 150px;

        .review-card {
            padding: 30px 35px;
            min-height: 372px;
        }

        .swiper-container {
            overflow: hidden;
        }

        .review-card__img {
            width: 90px;
            height: 90px;
            margin-right: 12px;
        }

        .review-card__name {
            font-size: 27px;
            line-height: 35px;
            margin-bottom: 8px;
        }

        .review-card__type-service {
            font-size: 18px;
            line-height: 23.4px;
        }

        .review-card__top-wrap {
            margin-bottom: 30px;
        }

        .review-card__review-text {
            font-size: 18px;
            line-height: 27px;
        }


    }
}










// ============= section-reviews =============