@media (min-width: 768px) and (max-width: 991.98px) {
  .header {
    min-height: 1024px;
    height: 1024px;
  }
  .wrap-container-1110 {
    width: 678px;
  }
  .logo {
    width: 100%;
    justify-content: flex-start;
    margin: 0;
  }
  .top-header {
    flex-wrap: wrap;
    margin: 0 0 135px 0;
  }
  .txt-header {
    width: 430px;
  }
  .nav_list {
    position: relative;
  }
  .top-header > nav > ul > li:nth-child(5) {
    position: absolute;
    top: -61px;
    right: -2px;
  }
  .top-header .nav {
    width: 100%;
    padding: 20px 0 0 10px;
  }
  .top-header > nav > ul > li:nth-child(4) {
    margin: 0;
  }
  .img-header {
    bottom: -104%;
    right: -42%;
  }
  .middle-header__yellow-circle {
    width: 270.73px;
    height: 270.73px;
    right: 19%;
    bottom: -68%;
  }
  .middle-header__gray-circle {
    width: 534.53px;
    height: 534.53px;
    right: -43%;
    bottom: -91%;
  }
  .middle-header__empty-circle {
    width: 534.53px;
    height: 534.53px;
    right: -36%;
    bottom: -89%;
  }
  .h1-name {
    font-size: 40px;
  }
  .middle-header__description {
    font-size: 16px;
    line-height: 150%;
  }
  .h2-heading {
    font-size: 36px;
    line-height: 46px;
  }
  .section-clients > h2 {
    margin: 0 0 50px 0;
  }
  .section-services .h2-heading {
    margin: 0 0 50px 0;
  }
  .separate-service {
    width: 324px;
    padding: 20px;
  }
  .h3-service-name {
    font-size: 16px;
  }
  .what-inside__pseudo-element {
    top: -41px;
    right: 17px;
    width: 60px;
    height: 60px;
  }
  .what-inside__img {
    width: 26px;
    height: 26px;
  }
  .what-inside__circle {
    width: 24px;
    height: 24px;
  }
  .w-i__circle1 {
    left: 41%;
    top: 39%;
  }
  .w-i__circle2 {
    left: 43%;
    top: 17%;
  }
  .w-i__circle3 {
    left: 18%;
    top: 39%;
  }
  .w-i__circle4 {
    left: 18%;
    top: 39%;
  }
  .w-i__circle5 {
    left: 41%;
    top: 39%;
  }
  .services-list-section-service .services-item {
    font-size: 16px;
  }
  .separate-service-2,
  .separate-service-1 {
    margin: 0px 0 78px 0;
  }
  .separate-service-4 {
    margin: 60px 0 78px 0;
  }
  .section-clients {
    padding: 0;
  }
  .section-services__gray-circle,
  .section-services__empty-circle,
  .section-benefit__empty-circle {
    display: none;
  }
  .wrapper-benefit {
    flex-wrap: wrap;
  }
  .card-benefit {
    margin: 15px;
  }
  .txt-benefit {
    font-size: 16px;
  }
  .card-benefit__yellow-circle {
    width: 319px;
    height: 112px;
    left: -36px;
    top: 49px;
  }
  .section-consultation {
    padding: 15px 10px;
  }
  .section-cost__picture-journal {
    width: 264px;
    height: 374px;
    left: 3%;
    top: 16%;
  }
  .section-cost__gray-circle {
    width: 434.04px;
    height: 434.04px;
    left: -37%;
    top: 6%;
  }
  .section-cost__empty-circle {
    width: 434.04px;
    height: 434.04px;
    left: -40%;
    top: 11%;
  }
  .footer {
    width: 100%;
    padding: 50px 45px 50px 45px;
  }
  .image-slider__image-img {
    height: 428px;
  }
  .white-border-footer {
    width: 490px;
  }
  .nav_list-footer-bottom {
    flex-direction: column;
  }
  .logo-footer {
    margin: 0px 0 20px 0;
  }
  .nav_item-footer-link {
    margin: 0px 0 22px 0;
  }
}
